<div class="homeCards">

    <div class="homeWrapper">
        <h2 class="wrapperTitle">Landings</h2>
        <ul class="cards">
            <li class="card">
                <a class="cardLink" href="/admin/landings/home/">
                    <img src="/public/images/vector/admin-icon_cards.svg" alt="Home page">
                    <span class="cardTitle">Home page</span>
                </a>
            </li>
            <li class="card">
                <a class="cardLink" href="/admin/landings/">
                    <img src="/public/images/vector/admin-icon_cards.svg" alt="All local landings">
                    <span class="cardTitle">All local landings</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="homeWrapper">
        <h2 class="wrapperTitle">Portfolio</h2>
        <ul class="cards">
            <li class="card">
                <a class="cardLink" href="/admin/portfolio/">
                    <img src="/public/images/vector/admin-icon_cards.svg" alt="All projects">
                    <span class="cardTitle">All projects</span>
                </a>
            </li>
            <li class="card addCart">
                <a class="cardLink" href="/admin/portfolio/add/">
                    <img src="/public/images/vector/admin-icon_plus.svg" alt="Add new project">
                    <span class="cardTitle">Add new project</span>
                </a>
            </li>
<!--            <li class="card">-->
<!--                <a class="cardLink" href="/admin/portfolio/settings/">-->
<!--                    <img src="/public/images/vector/admin-icon_cards.svg" alt="Portfolio filters">-->
<!--                    <span class="cardTitle">Portfolio settings</span>-->
<!--                </a>-->
<!--            </li>-->
            <li class="card">
                <a class="cardLink" href="/admin/portfolio/filters/">
                    <img src="/public/images/vector/admin-icon_cards.svg" alt="Portfolio filters">
                    <span class="cardTitle">Portfolio filters</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="homeWrapper">
        <h2 class="wrapperTitle">Basement ideas</h2>
        <ul class="cards">
            <li class="card">
                <a class="cardLink" href="/admin/basement-ideas/moderated/">
                    <img src="/public/images/vector/admin-icon_ideas.svg" alt="Moderated ideas">
                    <span class="cardTitle">Moderated ideas</span>
                </a>
            </li>
            <li class="card">
                <a class="cardLink" href="/admin/basement-ideas/to-moderate/">
                    <img src="/public/images/vector/admin-icon_ideas.svg" alt="To moderate">
                    <span class="cardTitle">To moderate</span>
                    {{# if moderateCount }}
                        <span class="ideasCount">{{{ moderateCount }}}</span>
                    {{/ if }}
                </a>
            </li>
            <li class="card">
                <a class="cardLink" href="/admin/basement-ideas/archive/">
                    <img src="/public/images/vector/admin-icon_ideas.svg" alt="Archive ideas">
                    <span class="cardTitle">Archived ideas</span>
                </a>
            </li>
            <li class="card addCart">
                <a class="cardLink" href="/admin/basement-ideas/add/">
                    <img src="/public/images/vector/admin-icon_plus.svg" alt="Add new idea">
                    <span class="cardTitle">Add new idea</span>
                </a>
            </li>
            <li class="card">
                <a class="cardLink" href="/admin/basement-ideas/categories/">
                    <img src="/public/images/vector/admin-icon_cards.svg" alt="Idea categories">
                    <span class="cardTitle">Ideas categories</span>
                </a>
            </li>
            <li class="card">
                <a class="cardLink" href="/admin/basement-ideas/filters/">
                    <img src="/public/images/vector/admin-icon_cards.svg" alt="Idea filters">
                    <span class="cardTitle">Ideas filters</span>
                </a>
            </li>
            <li class="card">
                <a class="cardLink" href="/admin/basement-ideas/">
                    <img src="/public/images/vector/admin-icon_cards.svg" alt="All ideas">
                    <span class="cardTitle">Ideas settings</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="homeWrapper">
        <h2 class="wrapperTitle">How it works</h2>
        <ul class="cards">
            <li class="card">
                <a class="cardLink" href="/admin/how-it-works/our-process/">
                    <img src="/public/images/vector/admin-icon_process.svg" alt="Our process">
                    <span class="cardTitle">Our process</span>
                </a>
            </li>
            <li class="card">
                <a class="cardLink" href="/admin/how-it-works/faq/">
                    <img src="/public/images/vector/admin-icon_faq.svg" alt="Contractor FAQ">
                    <span class="cardTitle">Contractor FAQ</span>
                </a>
            </li>
            <li class="card">
                <a class="cardLink" href="/admin/how-it-works/basement-tips/">
                    <img src="/public/images/vector/admin-icon_cards.svg" alt="All basement tips">
                    <span class="cardTitle">All basement tips</span>
                </a>
            </li>
            <li class="card addCart">
                <a class="cardLink" href="/admin/how-it-works/basement-tips/add/">
                    <img src="/public/images/vector/admin-icon_plus.svg" alt="Add new basement tip">
                    <span class="cardTitle">Add new basement tip</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="homeWrapper">
        <h2 class="wrapperTitle">About us</h2>
        <ul class="cards">
            <li class="card">
                <a class="cardLink" href="/admin/about-us/testimonials/">
                    <img src="/public/images/vector/admin-icon_cards.svg" alt="All testimonials">
                    <span class="cardTitle">All testimonials</span>
                </a>
            </li>
            <li class="card addCart">
                <a class="cardLink" href="/admin/about-us/testimonials/add/">
                    <img src="/public/images/vector/admin-icon_plus.svg" alt="Add new testimonial">
                    <span class="cardTitle">Add new testimonial</span>
                </a>
            </li>
            <li class="card">
                <a class="cardLink" href="/admin/about-us/press/">
                    <img src="/public/images/vector/admin-icon_cards.svg" alt="All press">
                    <span class="cardTitle">All press</span>
                </a>
            </li>
            <li class="card addCart">
                <a class="cardLink" href="/admin/about-us/press/add/">
                    <img src="/public/images/vector/admin-icon_plus.svg" alt="Add new press">
                    <span class="cardTitle">Add new press</span>
                </a>
            </li>
            <li class="card">
                <a class="cardLink" href="/admin/about-us/offers/">
                    <img src="/public/images/vector/admin-icon_offers.svg" alt="Financing offers">
                    <span class="cardTitle">Financing offers</span>
                </a>
            </li>
            <li class="card">
                <a class="cardLink" href="/admin/about-us/contact-us/">
                    <img src="/public/images/vector/admin-icon_contact.svg" alt="Contact us">
                    <span class="cardTitle">Contact us</span>
                </a>
            </li>
            <li class="card">
                <a class="cardLink" href="/admin/about-us/instant-quotes/">
                    <img src="/public/images/vector/admin-icon_quote.svg" alt="Get an instant quote">
                    <span class="cardTitle">Get an instant quote</span>
                </a>
            </li>
            <li class="card">
                <a class="cardLink" href="/admin/about-us/thank-you/">
                    <img src="/public/images/vector/admin-icon_thank.svg" alt="Thank you">
                    <span class="cardTitle">Thank you</span>
                </a>
            </li>
            <li class="card">
                <a class="cardLink" href="/admin/about-us/leave-review/">
                    <img src="/public/images/vector/admin-icon_review.svg" alt="Leave a review">
                    <span class="cardTitle">Leave a review</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="homeWrapper">
        <h2 class="wrapperTitle">Other</h2>
        <ul class="cards">
            <li class="card">
                <a class="cardLink" href="/admin/offices/">
                    <img src="/public/images/vector/admin-icon_process.svg" alt="Offices">
                    <span class="cardTitle">Offices</span>
                </a>
            </li>
            <li class="card">
                <a class="cardLink" href="/admin/zip-codes/">
                    <img src="/public/images/vector/admin-icon_thank.svg" alt="Zip codes">
                    <span class="cardTitle">Zip codes</span>
                </a>
            </li>
            <li class="card">
                <a class="cardLink" href="/admin/forms/booking/">
                    <img src="/public/images/vector/admin-icon_contact.svg" alt="Booking data">
                    <span class="cardTitle">Appointment Bookings</span>
                </a>
            </li>
            <li class="card">
                <a class="cardLink" href="/admin/forms/instant-quote/">
                    <img src="/public/images/vector/admin-icon_contact.svg" alt="Instant quote forms data">
                    <span class="cardTitle">Online Quotes</span>
                </a>
            </li>
            <li class="card">
                <a class="cardLink" href="/admin/forms/contact-us/">
                    <img src="/public/images/vector/admin-icon_contact.svg" alt="Contact us forms data">
                    <span class="cardTitle">Contact Us Forms</span>
                </a>
            </li>
            <li class="card">
                <a class="cardLink" href="/admin/settings/">
                    <img src="/public/images/vector/admin-icon_cards.svg" alt="All users">
                    <span class="cardTitle">Settings</span>
                </a>
            </li>
            <li class="card">
                <a class="cardLink" href="/admin/users/">
                    <img src="/public/images/vector/admin-icon_cards.svg" alt="All users">
                    <span class="cardTitle">All users</span>
                </a>
            </li>
        </ul>
    </div>

</div>