.fourColumnList {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    @include minWidth(480) {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .listWrapper {
        @extend %shadow2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        margin-bottom: 8px;
        padding: 15px 15px 15px 140px;
        box-sizing: border-box;
        width: 100%;
        min-height: 140px;
        border-radius: 5px;
        &:last-child {
            margin-bottom: 0;
        }
        @include minWidth(480) {
            padding: 215px 20px 20px 20px;
            width: 215px;
            &:last-child {
                margin-bottom: 8px;
            }
        }
        @include minWidth(768) {
            padding: 172px 20px 20px 20px;
            width: 176px;
        }
        @include minWidth(1000) {
            padding: 215px 20px 20px 20px;
            width: 218px;
        }
        @include minWidth(1440) {
            padding: 245px 20px 20px 20px;
            width: 252px;
        }
    }
}

.instantQuoteContent {
    .descriptionBlock {
        margin-top: 0;
        margin-bottom: 15px;
        text-align: center;
        font-size: 9px;
        line-height: 125%;
        @include minWidth(480) {
            margin-bottom: 20px;
            font-size: 12px;
        }
        @include minWidth(1000) {
            font-size: 14px;
        }
        @include minWidth(1440) {
            font-size: 15px;
        }
    }
    .instantQuoteScheme {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-30px, -50%) scale(0.55);
        @include minWidth(480) {
            top: 8px;
            left: 50%;
            transform: translate(-50%, 0) scale(0.865);
        }
        @include minWidth(768) {
            top: 0;
            left: 50%;
            transform: translate(-50%, -12px) scale(0.7);
        }
        @include minWidth(1000) {
            top: 8px;
            left: 50%;
            transform: translate(-50%, 0) scale(0.89);
        }
        @include minWidth(1440) {
            top: 26px;
            left: 50%;
            transform: translate(-50%, 0) scale(1);
        }
    }
    .blackButton {
        @extend %blackButton;
    }
    .textBlock {
        font-size: 10px;
        line-height: 125%;
        @include minWidth(1000) {
            font-size: 12px;
        }
    }
    .minPriceText {
        margin-top: 15px;
        font-size: 9px;
        line-height: 125%;
        font-style: italic;
        color: $darkGreyColor;
        @include minWidth(1000) {
            font-size: 12px;
        }
    }
}