 <section class="topImageSection homeSection">
    <div class="topImageWrapper">
        <h1 class="topImageHeader">{{{ content.content1 }}}</h1>
        <p class="topImageText">{{{ content.content2 }}}</p>
        <div class="topImageButtonsWrapper">
            <div class="scheduleWrapper">
                <button class="consultationButton" type="button">SCHEDULE YOUR IN-HOME CONSULTATION RIGHT NOW</button>
                {{> micro-blocks/zip-code/zip-code }}
            </div>
            <a class="instantQuoteButton" href="/instant-quote/">GET AN INSTANT QUOTE ONLINE</a>
        </div>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide1">
                <style>
                    .slide1 {
                        --top-image_320: url("/public/images/slider/1/top-image_320.jpg");
                        --top-image_320x2: url("/public/images/slider/1/top-image_320@2x.jpg");
                        --top-image_480: url("/public/images/slider/1/top-image_480.jpg");
                        --top-image_480x2: url("/public/images/slider/1/top-image_480@2x.jpg");
                        --top-image_768: url("/public/images/slider/1/top-image_768.jpg");
                        --top-image_768x2: url("/public/images/slider/1/top-image_768@2x.jpg");
                        --top-image_1000: url("/public/images/slider/1/top-image_1000.jpg");
                        --top-image_1000x2: url("/public/images/slider/1/top-image_1000@2x.jpg");
                        --top-image_1440: url("/public/images/slider/1/top-image_1440.jpg");
                        --top-image_1440x2: url("/public/images/slider/1/top-image_1440@2x.jpg");
                    }
                </style>
            </div>
            <div class="swiper-slide slide2">
                <style>
                    .slide2 {
                        --top-image_320: url("/public/images/slider/2/top-image_320.jpg");
                        --top-image_320x2: url("/public/images/slider/2/top-image_320@2x.jpg");
                        --top-image_480: url("/public/images/slider/2/top-image_480.jpg");
                        --top-image_480x2: url("/public/images/slider/2/top-image_480@2x.jpg");
                        --top-image_768: url("/public/images/slider/2/top-image_768.jpg");
                        --top-image_768x2: url("/public/images/slider/2/top-image_768@2x.jpg");
                        --top-image_1000: url("/public/images/slider/2/top-image_1000.jpg");
                        --top-image_1000x2: url("/public/images/slider/2/top-image_1000@2x.jpg");
                        --top-image_1440: url("/public/images/slider/2/top-image_1440.jpg");
                        --top-image_1440x2: url("/public/images/slider/2/top-image_1440@2x.jpg");
                    }
                </style>
            </div>
        </div>
    </div>
 </section>