 <section class="topImageSection localSection">
    <div class="topImageWrapper">
        <h1 class="topImageHeader">{{{ page.headerTitle }}}</h1>
        <div class="topImageText">{{{ page.headerText }}}</div>
        <div class="topImageButtonsWrapper">
            <div class="scheduleWrapper">
                <button class="consultationButton" type="button">SCHEDULE YOUR IN-HOME CONSULTATION RIGHT NOW</button>
                {{> micro-blocks/zip-code/zip-code }}
            </div>
            <a class="instantQuoteButton" href="/instant-quote/">GET AN INSTANT QUOTE ONLINE</a>
        </div>
    </div>
     <div class="localContent">
         <div class="plusWrapper">
             <ul class="plusList">
                 <li class="plusItem">
                     <div class="plusIcon topRated">
                         <span class="iconLogo"></span>
                         <span class="iconText">TOP-RATED</span>
                     </div>
                     <p class="plusAdditional">With 200+ positive <span class="nobr">reviews online</span></p>
                 </li>
                 <li class="plusItem">
                     <div class="plusIcon experience">
                         <span class="iconLogo"></span>
                         <span class="iconText">EXPERIENCE SINCE 2006</span>
                     </div>
                     <p class="plusAdditional">We are experienced, licensed, and fully insured!</p>
                 </li>
                 <li class="plusItem">
                     <div class="plusIcon uniqueManagement">
                         <span class="iconLogo"></span>
                         <span class="iconText">UNIQUE PROJECT MANAGEMENT</span>
                     </div>
                     <p class="plusAdditional">Get your basement <span class="nobr">finished in 8 weeks</span></p>
                 </li>
                 <li class="plusItem">
                     <div class="plusIcon financing">
                         <span class="iconLogo"></span>
                         <span class="iconText">FINANCING AVAILABLE</span>
                     </div>
                     <p class="plusAdditional">Apply online and <span class="nobr">get approved today</span></p>
                 </li>
             </ul>
             <p class="companyAnnounce">We are the company <span class="nobr">you have been looking for!</span></p>
             <a href="/how-it-works/contractor-faq/" class="learnMoreButton">LEARN MORE</a>
         </div>
     </div>
 </section>