 <section class="topImageSection homeSection">
    <div class="topImageWrapper">
        <h1 class="topImageHeader">Welcome to <span class="nobr">Basement Remodeling Company</span></h1>
        <p class="topImageText">Professional and organized approach to your Basement Finishing or Remodeling project from the Local Family-Owned Company</p>
        <div class="topImageButtonsWrapper">
            <div class="scheduleWrapper">
                <button class="consultationButton" type="button">SCHEDULE YOUR IN-HOME CONSULTATION RIGHT NOW</button>
                {{> micro-blocks/zip-code/zip-code }}
            </div>
            <a class="instantQuoteButton" href="/instant-quote/">GET AN INSTANT QUOTE ONLINE</a>
        </div>
    </div>
 </section>