 <section class="topImageSection localSection">
    <div class="topImageWrapper">
        <h1 class="topImageHeader">Swift Basement Finishing and Remodeling in Ellicott City, MD</h1>
        <p class="topImageText">Professional and organized approach to your Basement Finishing or Remodeling project from the Local Family-Owned Company</p>
        <div class="topImageButtonsWrapper">
            <div class="scheduleWrapper">
                <button class="consultationButton" type="button">SCHEDULE YOUR IN-HOME CONSULTATION RIGHT NOW</button>
                {{> micro-blocks/zip-code/zip-code }}
            </div>
            <button class="instantQuoteButton" type="button">GET AN INSTANT QUOTE ONLINE</button>
        </div>
    </div>
     <div class="localContent">
         <div class="plusWrapper">
             <ul class="plusList">
                 <li class="plusItem">
                     <div class="plusIcon topRated">
                         <span class="iconLogo"></span>
                         <span class="iconText">TOP-RATED</span>
                     </div>
                     <p class="plusAdditional">With 200+ positive <span class="nobr">reviews online</span></p>
                 </li>
                 <li class="plusItem">
                     <div class="plusIcon experience">
                         <span class="iconLogo"></span>
                         <span class="iconText">EXPERIENCE SINCE 2006</span>
                     </div>
                     <p class="plusAdditional">We are experienced, licensed, and fully insured!</p>
                 </li>
                 <li class="plusItem">
                     <div class="plusIcon uniqueManagement">
                         <span class="iconLogo"></span>
                         <span class="iconText">UNIQUE PROJECT MANAGEMENT</span>
                     </div>
                     <p class="plusAdditional">Get your basement <span class="nobr">finished in 8 weeks</span></p>
                 </li>
                 <li class="plusItem">
                     <div class="plusIcon financing">
                         <span class="iconLogo"></span>
                         <span class="iconText">FINANCING AVAILABLE</span>
                     </div>
                     <p class="plusAdditional">Apply online and <span class="nobr">get approved today</span></p>
                 </li>
             </ul>
             <p class="companyAnnounce">We are the company <span class="nobr">you have been looking for!</span></p>
             <button class="learnMoreButton" type="button">LEARN MORE</button>
         </div>
     </div>
 </section>