<section class="youtubeSection homeSection">
    <div class="wrapper fullWrapper">
        <p class="textBlock">See below where BasementRemodeling.com was featured on House Smarts, which was aired on CNBC back in September of 2019. This basement is located in Potomac, MD, and was completed by BasementRemodeling.com (ex- Basement Masters) during the Spring of 2019 for Mr. and Mrs. Terlinsky. Our whole team thanks Alan and Joan for the opportunity to transform their dream of a smart basement into a reality.</p>
        <picture class="youtubeVideo">
            <source srcset="/public/images/youtube_480.webp,
                            /public/images/youtube_480@2x.webp 2x"
                    type="image/webp">
            <source srcset="/public/images/youtube_480.jpg,
                            /public/images/youtube_480@2x.jpg 2x"
                    type="image/jpeg">
            <img class="youtubeVideo"
                 src="/public/images/youtube_480.jpg"
                 srcset="/public/images/youtube_480.jpg,
                         /public/images/youtube_480@2x.jpg 2x"
                 alt="Youtube video">
        </picture>
    </div>
</section>