html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 9px;
    line-height: 125%;
    font-weight: 400;
    font-style: normal;
    color: $blackColor;
    background: $bgMainColor;
    @include minWidth(480) {
        font-size: 12px;
    }
    @include minWidth(768) {
        font-size: 15px;
    }
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    width: 100%;
    background: $whiteColor;
    &:before {
        display: block;
        content: "";
        flex-grow: 0;
        flex-shrink: 0;
        width: 100%;
        height: 97px;
    }
}

p {
    margin: 0 0 15px;
    @include minWidth(480) {
        margin: 0 0 20px;
    }
}

a {
    text-decoration: none;
    color: $blueColor;
}

strong {
    text-transform: uppercase;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    width: 312px;
    height: 100%;
    @include minWidth(480) {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 464px;
    }
    @include minWidth(768) {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 728px;
    }
    @include minWidth(1000) {
        width: 968px;
    }
    @include minWidth(1440) {
        width: 1032px;
    }
    &.headerWrapper {
        width: 290px;
        @include minWidth(480) {
            width: 440px;
        }
        @include minWidth(768) {
            width: 728px;
        }
        @include minWidth(1000) {
            width: 894px;
        }
        @include minWidth(1440) {
            width: 1032px;
        }
    }
    &.blockWrapper {
        width: 290px;
        @include minWidth(480) {
            width: 440px;
        }
        @include minWidth(768) {
            width: 728px;
        }
        @include minWidth(1000) {
            width: 762px;
        }
        @include minWidth(1440) {
            width: 762px;
        }
    }
    &.mainWrapper {
        width: 290px;
        @include minWidth(480) {
            width: 440px;
        }
        @include minWidth(768) {
            width: 728px;
        }
        @include minWidth(1000) {
            width: 894px;
        }
        @include minWidth(1440) {
            width: 1032px;
        }
    }
    &.center {
        width: 290px;
        @include minWidth(480) {
            width: 440px;
        }
        @include minWidth(768) {
            width: 728px;
        }
        @include minWidth(1000) {
            width: 894px;
        }
        @include minWidth(1440) {
            width: 960px;
            //width: 894px;
        }
    }
    &.responseWrapper {
        width: 100%;
        @include minWidth(1000) {
            width: 894px;
        }
        @include minWidth(1440) {
            width: 1032px;
        }
    }
    &.columnCenterFlex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &.rowSpaceFlex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &.rowLeftFlex {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}

.roundBlock {
    @extend %shadow2;
    position: relative;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    background: $whiteColor;
    border-radius: 5px;
    @include minWidth(480) {
        padding: 20px;
    }
}

.twoColumnsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    @include minWidth(480) {
        margin-top: 10px;
    }
    @include minWidth(1000) {
        margin-top: 20px;
    }
}

.contentImageWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    @include minWidth(768) {
        margin-top: 20px;
    }
    .contentImage {
        display: block;
        @extend %shadow;
    }
    .imageDescription {
        margin-top: 10px;
        font-size: 9px;
        line-height: 125%;
        font-style: italic;
        @include minWidth(480) {
            font-size: 10px;
        }
        @include minWidth(1000) {
            font-size: 13px;
        }
    }
}

.filtersWrapper {
    background-color: $bgSubColor;
    .filterList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 0;
        margin-bottom: -15px;
        padding-left: 0;
        list-style-type: none;
        .filter {
            @extend %shadow;
            @extend %animation;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 8px;
            margin-bottom: 15px;
            height: 25px;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 9px;
            font-weight: 800;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: $darkGreyColor;
            background: $whiteColor;
            border-radius: 100px;
            cursor: pointer;
            &:hover {
                background: $blueColor;
                color: $whiteColor;
                &:after {
                    background: $whiteColor;
                }
            }
            @include minWidth(480) {
                padding-left: 20px;
                padding-right: 20px;
                height: 37px;
                font-size: 12px;
            }
            @include minWidth(1000) {
                height: 41px;
                font-size: 13px;
            }
            &.dropdownFilter {
                &:after {
                    @extend %buttonIconAfter;
                    @extend %arrowIcon;
                    @extend %animation;
                    transform: scale(0.6) rotate(90deg);
                    background: $blackColor;
                    @include minWidth(480) {
                        transform: scale(0.8) rotate(90deg);
                    }
                    @include minWidth(1000) {
                        transform: scale(1) rotate(90deg);
                    }
                }
            }
            &.activeFilter {
                color: $blueColor;
                &:after {
                    background: $blueColor;
                }
                &:hover {
                    color: $whiteColor;
                    &:after {
                        background: $whiteColor;
                    }
                }
            }
            &.clickedFilter {
                background: $blueColor;
                color: $whiteColor;
                &:after {
                    background: $whiteColor;
                    transform: scale(0.6) rotate(270deg);
                    @include minWidth(480) {
                        transform: scale(0.8) rotate(270deg);
                    }
                    @include minWidth(1000) {
                        transform: scale(1) rotate(270deg);
                    }
                }
            }
        }
    }
}

.backButton {
    @extend %menuButton;
    &:before {
        @extend %buttonIconBefore;
        @extend %arrowIcon;
        background: $greyColor;
        transform: rotate(180deg) scale(0.6);
        @include minWidth(480) {
            transform: rotate(180deg) scale(1);
        }
    }
    &:hover {
        &:before {
            background: $blackColor;
        }
    }
}

.sourceButton {
    color: $whiteColor;
    @extend %blueButton;
    &:after {
        @extend %buttonIconAfter;
        @extend %arrowIcon;
        background: $whiteColor;
        transform: scale(0.6);
        @include minWidth(480) {
            transform: scale(1);
        }
    }
    &:hover {
        &:before {
            background: $blackColor;
        }
    }
}

.showMoreButton {
    @extend %animation;
    @extend %font;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px auto 15px;
    background-color: transparent;
    border: none;
    font-size: 9px;
    font-weight: 800;
    color: $darkGreyColor;
    outline: none;
    cursor: pointer;
    @include minWidth(480) {
        font-size: 13px;
        margin: 40px auto 20px;
    }
    @include minWidth(768) {
        margin: 40px auto 20px;
    }
    &:hover {
        color: $blueColor;
        &:after {
            background: $blueColor;
        }
    }
    &:after {
        content: "";
        @extend %buttonIconAfter;
        @extend %arrowIcon;
        @extend %animation;
        background: $darkGreyColor;
        transform: scale(0.6) rotate(90deg);
        @include minWidth(480) {
            transform: scale(0.8) rotate(90deg);
        }
        @include minWidth(1000) {
            transform: scale(1) rotate(90deg);
        }
    }
}

.pageTitle {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 700;
    line-height: 125%;
    color: $blackColor;
    @include minWidth(480) {
        font-size: 20px;
    }
    @include minWidth(768) {
        font-size: 30px;
    }
    @include minWidth(1000) {
        font-size: 35px;
    }
    @include minWidth(1440) {
        font-size: 37px;
    }
}

.inputTitle {
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 700;
    line-height: 125%;
    text-transform: uppercase;
    color: $blackColor;
    @include minWidth(480) {
        margin-top: 20px;
    }
    @include minWidth(768) {
        font-size: 18px;
    }
}

.sectionTitle {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 19px;
    font-weight: 800;
    line-height: 125%;
    color: $blackColor;
    @include minWidth(480){
        font-size: 27px;
    }
    @include minWidth(1000) {
        font-size: 34px;
    }
}

.colorLink {
    color: $blueColor;
    text-decoration: underline;
    &:hover {
        color: $blackColor;
    }
}

.activeFilterList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: -8px;
    padding-left: 0;
    list-style-type: none;
    .activeFilter {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-right: 8px;
        margin-bottom: 8px;
        height: 22px;
        padding-left: 10px;
        padding-right: 24px;
        font-size: 9px;
        line-height: 125%;
        font-weight: 800;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $whiteColor;
        background: $blueColor;
        border-radius: 100px;
        @include minWidth(480) {
            padding-right: 30px;
            height: 28px;
            font-size: 12px;
        }
        .removeFilterButton {
            content: "";
            position: absolute;
            right: 4px;
            top: 50%;
            transform: translateY(-50%);
            width: 15px;
            height: 15px;
            padding-left: 0;
            box-sizing: border-box;
            border-radius: 50%;
            border: none;
            font-size: 0;
            background: $whiteColor;
            cursor: pointer;
            outline: none;
            @include minWidth(480) {
                right: 6px;
                width: 17px;
                height: 17px;
            }
            &:hover {
                &:before {
                    transform: translateY(-50%) rotate(-45deg);
                }
                &:after {
                    transform: translateY(-50%) rotate(45deg);
                }
            }
            &:before {
                @extend %animation;
                content: "";
                position: absolute;
                top: 50%;
                right: 3px;
                border: 1.5px solid $blueColor;
                width: 6px;
                transform: translateY(-50%) rotate(45deg);
                @include minWidth(480) {
                    width: 8px;
                }
                &:hover {
                    border-color: darken($blueColor, 20%);
                }
            }
            &:after {
                @extend %animation;
                content: "";
                position: absolute;
                top: 50%;
                right: 3px;
                border: 1.5px solid $blueColor;
                width: 6px;
                transform: translateY(-50%) rotate(135deg);
                @include minWidth(480) {
                    width: 8px;
                }
                &:hover {
                    border-color: darken($blueColor, 20%);
                }
            }
        }
    }
}

// forms

// input[type="text"] && textarea

.fieldLabel {
    position: absolute;
    line-height: 26px;
    font-size: 9px;
    font-weight: 700;
    color: $greyColor;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transform: translateX(13px);
    @include minWidth(480) {
        height: 41px;
        line-height: 41px;
        font-size: 12px;
    }
    @include minWidth(768) {
        font-size: 13px;
    }
}

.fieldInput {
    @extend %animation;
    @extend %font;
    padding: 0 12px;
    box-sizing: border-box;
    width: 100%;
    height: 26px;
    line-height: 26px;
    border: 1px solid $lightGreyColor;
    border-radius: 5px;
    font-size: 9px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $blackColor;
    outline: none;
    &:focus {
        border-color: $blueColor;
    }
    @include minWidth(480) {
        height: 41px;
        line-height: 41px;
        font-size: 12px;
    }
    @include minWidth(768) {
        font-size: 13px;
    }
}

.fieldTextarea {
    @extend %animation;
    @extend %font;
    width: 100%;
    padding: 6px 12px;
    box-sizing: border-box;
    border: 1px solid $lightGreyColor;
    border-radius: 5px;
    font-size: 9px;
    line-height: 125%;
    font-weight: 700;
    letter-spacing: 0.05em;
    resize: none;
    outline: none;
    height: 113px;
    &:focus {
        border: 1px solid $blueColor;
    }
    @include minWidth(480) {
        height: 129px;
        padding: 12px;
        font-size: 12px;
    }
    @include minWidth(768) {
        height: 84px;
        font-size: 13px;
    }
}

// checkbox && radio buttons

.checkboxLabel {
    @extend %animation;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 9px;
    line-height: 125%;
    letter-spacing: 0.05em;
    color: $greyColor;
    cursor: pointer;
    &:before {
        @extend %animation;
        content: "";
        display: inline-block;
        margin: -1px 15px 0 0;
        width: 8px;
        height: 8px;
        box-sizing: border-box;
        border: 1px solid $greyColor;
        border-radius: 50%;
    }
    @include minWidth(480) {
        font-size: 12px;
    }
    @include minWidth(768) {
        font-size: 13px;
    }
}

.checkboxInput {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked + .checkboxLabel {
        color: $blackColor;
        &:before {
            border: 1px solid $blackColor;
            background: $blackColor;
        }
    }
}

// custom selects

.selectLabel {
    margin: 10px 0;
    font-size: 9px;
    line-height: 125%;
    letter-spacing: 0.05em;
    color: $greyColor;
    @include minWidth(480) {
        font-size: 12px;
    }
    @include minWidth(768) {
        font-size: 13px;
    }
}

.selectElement {
    @extend %animation;
    position: relative;
    padding: 0 12px;
    box-sizing: border-box;
    width: 100%;
    height: 26px;
    line-height: 26px;
    border: 1px solid $lightGreyColor;
    border-radius: 5px;
    font-size: 9px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $blackColor;
    outline: none;
    cursor: pointer;
    &:hover {
        border-color: $blueColor;
        &:after {
            background: $blueColor;
        }
    }
    &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 12px;
        display: block;
        background: $lightGreyColor;
        transform: translateY(-50%) rotate(90deg);
        @extend %arrowIcon;
    }
    @include minWidth(480) {
        height: 41px;
        line-height: 41px;
        font-size: 12px;
    }
}

// submit buttons

.submitButton {
    @extend %animation;
    @extend %font;
    display: block;
    margin: 15px auto 0;
    width: 220px;
    height: 26px;
    background: $blueColor;
    border-radius: 5px;
    border: 1px solid $blueColor;
    font-size: 9px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $whiteColor;
    cursor: pointer;
    outline: none;
    &:hover {
        background: $blackColor;
        border-color: $blackColor;
    }
    @include minWidth(480) {
        width: 220px;
        height: 41px;
        font-size: 12px;
    }
    @include minWidth(768) {
        font-size: 13px;
    }
    &:disabled {
        background: $bgSubColor;
        border-color: $bgSubColor;
    }
}