<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="basement remodeling, basement finishing, basement remodeling va, basement finishing va, basement finishing md, basement remodeling md, basement remodeling dc, basement finishing dc, maryland, virginia, basement finishing company, basement remodeling company, remodel a basement, basement contractor, basement ideas, basement renovation, finished basement, basement refinish, basement waterproofing, dc, Washington dc, basement design ideas">
    <meta name="description" content="Complete Basement Finishing, Remodeling, and Waterproofing services in Maryland, Virginia, and DC. The most trusted company in the basement industry.">
    <link rel="stylesheet" href="/public/styles/main.min.css">
    <title>DEV</title>
    <link rel="apple-touch-icon" type="image/png" href="/public/images/favicon-192x192.png" sizes="192x192" />
    <link rel="icon" type="image/png" href="/public/images/favicon-192x192.png" sizes="192x192" />
    <link rel="icon" type="image/png" href="/public/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/public/images/favicon-16x16.png" sizes="16x16" />
</head>
<body>

{{> header/header }}

<main>{{{ body }}}</main>

{{> footer/footer }}

{{> modals/close.modal }}
{{> modals/contact-us.modal }}
{{> modals/sign-in.modal }}

<script src="/public/scripts/bundle.min.js"></script>

</body>
</html>