%font {
    font-family: "Gilroy", Arial, sans-serif;
}

%content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

%circle {
    border: 5px solid $whiteColor;
    border-radius: 50%;
    box-sizing: border-box;
}

%yellowCircle {
    @extend %circle;
    border: 5px solid $yellowColor;
}

%shadow {
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.25);
}

%blackWhite {
    filter: grayscale(100%);
    &:hover {
        filter: none;
    }
}

%animation {
    transition: all 0.15s ease-in;
}

%center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}