%font {
    font-family: "Gilroy", Arial, sans-serif;
}

%content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

%circle {
    border: 2px solid $whiteColor;
    border-radius: 50%;
    box-sizing: border-box;
}

%yellowCircle {
    @extend %circle;
    border: 5px solid $yellowColor;
}

%shadow {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
    @include minWidth(480) {
        box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.25);
    }
}

%blackWhite {
    filter: grayscale(100%);
    &:hover {
        filter: none;
    }
}

%animation {
    transition: all 0.15s ease-in;
}

%center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

%responseMenu {
    background: $bgMainColor;
    right: 0;
    &:before {
        content: "";
        z-index: -1;
        display: block;
        position: absolute;
        top: 0;
        right: 210px;
        width: 200vh;
        height: 100vh;
        background: $modalBackground;
    }
}