<ul class="filterList">
    <li class="filter dropdownFilter">
        <span class="currentFilter">STYLE</span>
        <div class="dropdownFilters">
            <div class="dropdownFiltersWrapper">
                <ul class="hiddenFilters">
                    <li class="hiddenFilter" data-filter="style" data-title="Contemporary">
                        <span class="filterTitle">CONTEMPORARY</span>
                    </li>
                    <li class="hiddenFilter" data-filter="style" data-title="Modern">
                        <span class="filterTitle">MODERN</span>
                    </li>
                    <li class="hiddenFilter" data-filter="style" data-title="Traditional">
                        <span class="filterTitle">TRADITIONAL</span>
                    </li>
                    <li class="hiddenFilter" data-filter="style" data-title="Craftsman">
                        <span class="filterTitle">CRAFTSMAN</span>
                    </li>
                    <li class="hiddenFilter" data-filter="style" data-title="Industrial">
                        <span class="filterTitle">INDUSTRIAL</span>
                    </li>
                    <li class="hiddenFilter" data-filter="style" data-title="Rustic">
                        <span class="filterTitle">RUSTIC</span>
                    </li>
                    <li class="hiddenFilter" data-filter="style" data-title="Scandinavian">
                        <span class="filterTitle">SCANDINAVIAN</span>
                    </li>
                    <li class="hiddenFilter" data-filter="style" data-title="Shabby-chic">
                        <span class="filterTitle">SHABBY-CHIC</span>
                    </li>
                    <li class="hiddenFilter" data-filter="style" data-title="Southwestern">
                        <span class="filterTitle">SOUTHWESTERN</span>
                    </li>
                </ul>
            </div>
        </div>
    </li>
    <li class="filter dropdownFilter">
        <span class="currentFilter">PRICE</span>
        <div class="dropdownFilters">
            <div class="dropdownFiltersWrapper">
                <ul class="hiddenFilters">
                    <li class="hiddenFilter" data-filter="price" data-title="$">
                        <span class="filterTitle">$</span>
                    </li>
                    <li class="hiddenFilter" data-filter="price" data-title="$$">
                        <span class="filterTitle">$$</span>
                    </li>
                    <li class="hiddenFilter" data-filter="price" data-title="$$$">
                        <span class="filterTitle">$$$</span>
                    </li>
                    <li class="hiddenFilter" data-filter="price" data-title="$$$$">
                        <span class="filterTitle">$$$$</span>
                    </li>
                </ul>
            </div>
        </div>
    </li>
    <li class="filter dropdownFilter">
        <span class="currentFilter">WALL COLOR</span>
        <div class="dropdownFilters">
            <div class="dropdownFiltersWrapper">
                <ul class="hiddenFilters">
                    <li class="hiddenFilter colorFilter" data-filter="wallColor" data-title="White">
                        <span class="filterTitle">WHITE</span>
                        <em class="colorBorder"><em class="colorFill" style="background: #FFFFFF;"></em></em>
                    </li>
                    <li class="hiddenFilter colorFilter" data-filter="wallColor" data-title="Gray">
                        <span class="filterTitle">GRAY</span>
                        <em class="colorBorder"><em class="colorFill" style="background: #A1ABB5;"></em></em>
                    </li>
                    <li class="hiddenFilter colorFilter" data-filter="wallColor" data-title="Beige">
                        <span class="filterTitle">BEIGE</span>
                        <em class="colorBorder"><em class="colorFill" style="background: #E4D5BD;"></em></em>
                    </li>
                    <li class="hiddenFilter colorFilter" data-filter="wallColor" data-title="Blue">
                        <span class="filterTitle">BLUE</span>
                        <em class="colorBorder"><em class="colorFill" style="background: #528ED5;"></em></em>
                    </li>
                    <li class="hiddenFilter colorFilter" data-filter="wallColor" data-title="Pink">
                        <span class="filterTitle">PINK</span>
                        <em class="colorBorder"><em class="colorFill" style="background: #FED4E0;"></em></em>
                    </li>
                    <li class="hiddenFilter colorFilter" data-filter="wallColor" data-title="Turquoise">
                        <span class="filterTitle">TURQUOISE</span>
                        <em class="colorBorder"><em class="colorFill" style="background: #6AEAE2;"></em></em>
                    </li>
                    <li class="hiddenFilter colorFilter" data-filter="wallColor" data-title="Green">
                        <span class="filterTitle">GREEN</span>
                        <em class="colorBorder"><em class="colorFill" style="background: #327A39;"></em></em>
                    </li>
                    <li class="hiddenFilter colorFilter" data-filter="wallColor" data-title="Yellow">
                        <span class="filterTitle">YELLOW</span>
                        <em class="colorBorder"><em class="colorFill" style="background: #FFD029;"></em></em>
                    </li>
                    <li class="hiddenFilter colorFilter" data-filter="wallColor" data-title="Brown">
                        <span class="filterTitle">BROWN</span>
                        <em class="colorBorder"><em class="colorFill" style="background: #A37F6A;"></em></em>
                    </li>
                    <li class="hiddenFilter colorFilter" data-filter="wallColor" data-title="Orange">
                        <span class="filterTitle">ORANGE</span>
                        <em class="colorBorder"><em class="colorFill" style="background: #FF9431;"></em></em>
                    </li>
                    <li class="hiddenFilter colorFilter" data-filter="wallColor" data-title="Violet">
                        <span class="filterTitle">VIOLET</span>
                        <em class="colorBorder"><em class="colorFill" style="background: #9F65C2;"></em></em>
                    </li>
                    <li class="hiddenFilter colorFilter" data-filter="wallColor" data-title="Red">
                        <span class="filterTitle">RED</span>
                        <em class="colorBorder"><em class="colorFill" style="background: #E23434;"></em></em>
                    </li>
                    <li class="hiddenFilter colorFilter" data-filter="wallColor" data-title="Black">
                        <span class="filterTitle">BLACK</span>
                        <em class="colorBorder"><em class="colorFill" style="background: #212C30;"></em></em>
                    </li>
                </ul>
            </div>
        </div>
    </li>
    <li class="filter dropdownFilter">
        <span class="currentFilter">FLOOR MATERIAL</span>
        <div class="dropdownFilters">
            <div class="dropdownFiltersWrapper">
                <ul class="hiddenFilters">
                    <li class="hiddenFilter" data-filter="floorMaterial" data-title="LVT">
                        <span class="filterTitle">LVT</span>
                    </li>
                    <li class="hiddenFilter" data-filter="floorMaterial" data-title="Hardwood">
                        <span class="filterTitle">HARDWOOD</span>
                    </li>
                    <li class="hiddenFilter" data-filter="floorMaterial" data-title="Carpet">
                        <span class="filterTitle">CARPET</span>
                    </li>
                    <li class="hiddenFilter" data-filter="floorMaterial" data-title="Ceramic tile">
                        <span class="filterTitle">CERAMIC TILE</span>
                    </li>
                </ul>
            </div>
        </div>
    </li>
    <li class="filter rangeFilter">
        <div class="rangeWrapper">
            <div class="rangeLine"
                 data-min="300" data-max="7000"
                 data-current-min="300" data-current-max="3600">
                <div class="rangeColored"></div>
                <button class="rangeButton rangeMinValue" type="button">MIN</button>
                <button class="rangeButton rangeMaxValue" type="button">MAX</button>
                <div class="rangeTitle rangeSingleTitle rangeMinTitle minValue">300</div>
                <div class="rangeTitle rangeSingleTitle rangeMaxTitle maxValue">3600</div>
                <div class="rangeTitle rangeTwinTitle">
                    <span class="minValue">300</span> - <span class="maxValue">3600</span>
                </div>
            </div>
        </div>
        <span class="currentFilter">SQ.FT.</span>
    </li>
</ul>