<form class="filtersForm" action="/api/tips/filter">
    <ul class="filterList">
        <li class="filter clickFilter" data-filter="category" data-value="Style">
            <span class="currentFilter">STYLE</span>
        </li>
        <li class="filter clickFilter" data-filter="category" data-value="Price">
            <span class="currentFilter">PRICE</span>
        </li>
        <li class="filter clickFilter" data-filter="category" data-value="Size">
            <span class="currentFilter">SIZE</span>
        </li>
        <li class="filter clickFilter" data-filter="category" data-value="Wall color">
            <span class="currentFilter">WALL COLOR</span>
        </li>
        <li class="filter clickFilter" data-filter="category" data-value="Floor">
            <span class="currentFilter">FLOOR</span>
        </li>
        <li class="filter clickFilter" data-filter="category" data-value="Features">
            <span class="currentFilter">FEATURES</span>
        </li>
    </ul>
</form>