<section class="modalSection createAlbumModal">
    <div class="modalBlurWrapper"></div>
    <div class="modalMainWrapper createAlbumWrapper">
        <div class="modalContentWrapper2">
            {{> forms/create-album.form }}
            <button class="closeButton">CLOSE MODAL</button>
        </div>
    </div>
</section>