// logo 1x

.greensky-logo, .angies-list-icon, .facebook-icon, .google-icon, .home-advisor-icon, 
.houzz-icon, .porch-icon, .facebook-login, .google-login
{ display: inline-block; background: url('/public/images/logo-sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.greensky-logo { background-position: -0px -0px; width: 229px; height: 60px; }
.angies-list-icon { background-position: -0px -60px; width: 38px; height: 38px; }
.facebook-icon { background-position: -38px -60px; width: 38px; height: 38px; }
.google-icon { background-position: -76px -60px; width: 38px; height: 38px; }
.home-advisor-icon { background-position: -114px -60px; width: 38px; height: 38px; }
.houzz-icon { background-position: -152px -60px; width: 34px; height: 34px; }
.porch-icon { background-position: -186px -60px; width: 34px; height: 34px; }
.facebook-login { background-position: -152px -94px; width: 24px; height: 24px; }
.google-login { background-position: -176px -94px; width: 24px; height: 25px; }

// logo 2x

.greensky-logo-2x, .angies-list-icon-2x, .facebook-icon-2x, .google-icon-2x, .home-advisor-icon-2x, 
.houzz-icon-2x, .porch-icon-2x, .facebook-login-2x, .google-login-2x
{ display: inline-block; background: url('/public/images/logo-sprite@2x.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.greensky-logo-2x { background-position: -0px -0px; width: 458px; height: 120px; }
.angies-list-icon-2x { background-position: -0px -120px; width: 76px; height: 76px; }
.facebook-icon-2x { background-position: -76px -120px; width: 76px; height: 76px; }
.google-icon-2x { background-position: -152px -120px; width: 76px; height: 76px; }
.home-advisor-icon-2x { background-position: -228px -120px; width: 76px; height: 76px; }
.houzz-icon-2x { background-position: -304px -120px; width: 68px; height: 68px; }
.porch-icon-2x { background-position: -372px -120px; width: 68px; height: 68px; }
.facebook-login-2x { background-position: -304px -188px; width: 48px; height: 48px; }
.google-login-2x { background-position: -352px -188px; width: 48px; height: 50px; }


// table 1x

.table-image1, .table-image10, .table-image11, .table-image12, .table-image2, 
.table-image3, .table-image4, .table-image5, .table-image6, .table-image7, 
.table-image8, .table-image9
{ display: inline-block; background: url('/public/images/table-sprite.jpg') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.table-image1 { background-position: -0px -0px; width: 130px; height: 130px; }
.table-image10 { background-position: -130px -0px; width: 130px; height: 130px; }
.table-image11 { background-position: -260px -0px; width: 130px; height: 130px; }
.table-image12 { background-position: -0px -130px; width: 130px; height: 130px; }
.table-image2 { background-position: -130px -130px; width: 130px; height: 130px; }
.table-image3 { background-position: -260px -130px; width: 130px; height: 130px; }
.table-image4 { background-position: -0px -260px; width: 130px; height: 130px; }
.table-image5 { background-position: -130px -260px; width: 130px; height: 130px; }
.table-image6 { background-position: -260px -260px; width: 130px; height: 130px; }
.table-image7 { background-position: -0px -390px; width: 130px; height: 130px; }
.table-image8 { background-position: -130px -390px; width: 130px; height: 130px; }
.table-image9 { background-position: -260px -390px; width: 130px; height: 130px; }

// table 2x

.table-image10-2x, .table-image11-2x, .table-image12-2x, .table-image1-2x, .table-image2-2x, 
.table-image3-2x, .table-image4-2x, .table-image5-2x, .table-image6-2x, .table-image7-2x, 
.table-image8-2x, .table-image9-2x
{ display: inline-block; background: url('/public/images/table-sprite@2x.jpg') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.table-image10-2x { background-position: -0px -0px; width: 260px; height: 260px; }
.table-image11-2x { background-position: -260px -0px; width: 260px; height: 260px; }
.table-image12-2x { background-position: -520px -0px; width: 260px; height: 260px; }
.table-image1-2x { background-position: -0px -260px; width: 260px; height: 260px; }
.table-image2-2x { background-position: -260px -260px; width: 260px; height: 260px; }
.table-image3-2x { background-position: -520px -260px; width: 260px; height: 260px; }
.table-image4-2x { background-position: -0px -520px; width: 260px; height: 260px; }
.table-image5-2x { background-position: -260px -520px; width: 260px; height: 260px; }
.table-image6-2x { background-position: -520px -520px; width: 260px; height: 260px; }
.table-image7-2x { background-position: -0px -780px; width: 260px; height: 260px; }
.table-image8-2x { background-position: -260px -780px; width: 260px; height: 260px; }
.table-image9-2x { background-position: -520px -780px; width: 260px; height: 260px; }


// schemes 1x

.scheme1-active, .scheme1, .scheme2-active, .scheme2, .scheme3-active, 
.scheme3, .scheme4-active, .scheme4, .scheme5-active, .scheme5, 
.scheme6-active, .scheme6, .scheme7-active, .scheme7, .scheme8-active, 
.scheme8
{ display: inline-block; background: url('/public/images/schemes-sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.scheme1-active { background-position: -0px -0px; width: 200px; height: 200px; }
.scheme1 { background-position: -200px -0px; width: 200px; height: 200px; }
.scheme2-active { background-position: -400px -0px; width: 200px; height: 200px; }
.scheme2 { background-position: -600px -0px; width: 200px; height: 200px; }
.scheme3-active { background-position: -0px -200px; width: 200px; height: 200px; }
.scheme3 { background-position: -200px -200px; width: 200px; height: 200px; }
.scheme4-active { background-position: -400px -200px; width: 200px; height: 200px; }
.scheme4 { background-position: -600px -200px; width: 200px; height: 200px; }
.scheme5-active { background-position: -0px -400px; width: 200px; height: 200px; }
.scheme5 { background-position: -200px -400px; width: 200px; height: 200px; }
.scheme6-active { background-position: -400px -400px; width: 200px; height: 200px; }
.scheme6 { background-position: -600px -400px; width: 200px; height: 200px; }
.scheme7-active { background-position: -0px -600px; width: 200px; height: 200px; }
.scheme7 { background-position: -200px -600px; width: 200px; height: 200px; }
.scheme8-active { background-position: -400px -600px; width: 200px; height: 200px; }
.scheme8 { background-position: -600px -600px; width: 200px; height: 200px; }

// schemes 2x

.scheme1-active-2x, .scheme1-2x, .scheme2-active-2x, .scheme2-2x, .scheme3-active-2x, 
.scheme3-2x, .scheme4-active-2x, .scheme4-2x, .scheme5-active-2x, .scheme5-2x, 
.scheme6-active-2x, .scheme6-2x, .scheme7-active-2x, .scheme7-2x, .scheme8-active-2x, 
.scheme8-2x
{ display: inline-block; background: url('/public/images/schemes-sprite@2x.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.scheme1-active-2x { background-position: -0px -0px; width: 400px; height: 400px; }
.scheme1-2x { background-position: -400px -0px; width: 400px; height: 400px; }
.scheme2-active-2x { background-position: -800px -0px; width: 400px; height: 400px; }
.scheme2-2x { background-position: -1200px -0px; width: 400px; height: 400px; }
.scheme3-active-2x { background-position: -0px -400px; width: 400px; height: 400px; }
.scheme3-2x { background-position: -400px -400px; width: 400px; height: 400px; }
.scheme4-active-2x { background-position: -800px -400px; width: 400px; height: 400px; }
.scheme4-2x { background-position: -1200px -400px; width: 400px; height: 400px; }
.scheme5-active-2x { background-position: -0px -800px; width: 400px; height: 400px; }
.scheme5-2x { background-position: -400px -800px; width: 400px; height: 400px; }
.scheme6-active-2x { background-position: -800px -800px; width: 400px; height: 400px; }
.scheme6-2x { background-position: -1200px -800px; width: 400px; height: 400px; }
.scheme7-active-2x { background-position: -0px -1200px; width: 400px; height: 400px; }
.scheme7-2x { background-position: -400px -1200px; width: 400px; height: 400px; }
.scheme8-active-2x { background-position: -800px -1200px; width: 400px; height: 400px; }
.scheme8-2x { background-position: -1200px -1200px; width: 400px; height: 400px; }


// awards sprite 1x

.angies-list-award2013, .angies-list-award2014, .angies-list-award2018, .epa-award, .home-advisor-award-3years, 
.home-advisor-award-elite-service, .houzz-award2015, .houzz-award2016, .angies-list-award2011, .angies-list-award2012, 
.angies-list-award2015, .angies-list-award2016, .angies-list-award2017, .best-pick-reports-award2016, .home-advisor-award-50reviews, 
.houzz-award2013, .houzz-award2014, .houzz-award2017, .houzz-award2018, .houzz-award2019
{ display: inline-block; background: url('/public/images/awards-sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.angies-list-award2013 { background-position: -0px -0px; width: 98px; height: 97px; }
.angies-list-award2014 { background-position: -0px -97px; width: 98px; height: 97px; }
.angies-list-award2018 { background-position: -0px -194px; width: 98px; height: 98px; }
.epa-award { background-position: -0px -292px; width: 98px; height: 98px; }
.home-advisor-award-3years { background-position: -0px -390px; width: 98px; height: 97px; }
.home-advisor-award-elite-service { background-position: -0px -487px; width: 98px; height: 97px; }
.houzz-award2015 { background-position: -0px -584px; width: 98px; height: 98px; }
.houzz-award2016 { background-position: -0px -682px; width: 98px; height: 98px; }
.angies-list-award2011 { background-position: -0px -780px; width: 97px; height: 97px; }
.angies-list-award2012 { background-position: -0px -877px; width: 97px; height: 97px; }
.angies-list-award2015 { background-position: -0px -974px; width: 97px; height: 97px; }
.angies-list-award2016 { background-position: -0px -1071px; width: 97px; height: 98px; }
.angies-list-award2017 { background-position: -0px -1169px; width: 97px; height: 98px; }
.best-pick-reports-award2016 { background-position: -0px -1267px; width: 97px; height: 98px; }
.home-advisor-award-50reviews { background-position: -0px -1365px; width: 97px; height: 97px; }
.houzz-award2013 { background-position: -0px -1462px; width: 97px; height: 98px; }
.houzz-award2014 { background-position: -0px -1560px; width: 97px; height: 98px; }
.houzz-award2017 { background-position: -0px -1658px; width: 97px; height: 98px; }
.houzz-award2018 { background-position: -0px -1756px; width: 97px; height: 97px; }
.houzz-award2019 { background-position: -0px -1853px; width: 97px; height: 97px; }

// awards sprite 2x

.angies-list-award2011-2x, .angies-list-award2013-2x, .angies-list-award2014-2x, .angies-list-award2016-2x, .angies-list-award2018-2x, 
.epa-award-2x, .home-advisor-award-3years-2x, .home-advisor-award-elite-service-2x, .houzz-award2013-2x, .houzz-award2015-2x, 
.houzz-award2016-2x, .houzz-award2018-2x, .angies-list-award2012-2x, .angies-list-award2015-2x, .angies-list-award2017-2x, 
.best-pick-reports-award2016-2x, .home-advisor-award-50reviews-2x, .houzz-award2014-2x, .houzz-award2017-2x, .houzz-award2019-2x
{ display: inline-block; background: url('/public/images/awards-sprite@2x.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.angies-list-award2011-2x { background-position: -0px -0px; width: 194px; height: 193px; }
.angies-list-award2013-2x { background-position: -0px -193px; width: 194px; height: 193px; }
.angies-list-award2014-2x { background-position: -0px -386px; width: 194px; height: 193px; }
.angies-list-award2016-2x { background-position: -0px -579px; width: 194px; height: 194px; }
.angies-list-award2018-2x { background-position: -0px -773px; width: 194px; height: 194px; }
.epa-award-2x { background-position: -0px -967px; width: 194px; height: 194px; }
.home-advisor-award-3years-2x { background-position: -0px -1161px; width: 194px; height: 194px; }
.home-advisor-award-elite-service-2x { background-position: -0px -1355px; width: 194px; height: 194px; }
.houzz-award2013-2x { background-position: -0px -1549px; width: 194px; height: 194px; }
.houzz-award2015-2x { background-position: -0px -1743px; width: 194px; height: 194px; }
.houzz-award2016-2x { background-position: -0px -1937px; width: 194px; height: 194px; }
.houzz-award2018-2x { background-position: -0px -2131px; width: 194px; height: 194px; }
.angies-list-award2012-2x { background-position: -0px -2325px; width: 193px; height: 193px; }
.angies-list-award2015-2x { background-position: -0px -2518px; width: 193px; height: 193px; }
.angies-list-award2017-2x { background-position: -0px -2711px; width: 193px; height: 194px; }
.best-pick-reports-award2016-2x { background-position: -0px -2905px; width: 193px; height: 194px; }
.home-advisor-award-50reviews-2x { background-position: -0px -3099px; width: 193px; height: 194px; }
.houzz-award2014-2x { background-position: -0px -3293px; width: 193px; height: 194px; }
.houzz-award2017-2x { background-position: -0px -3487px; width: 193px; height: 194px; }
.houzz-award2019-2x { background-position: -0px -3681px; width: 193px; height: 194px; }


// main categories 1x

.ideas-page-cat1, .ideas-page-cat2, .ideas-page-cat3
{ display: inline-block; background: url('/public/images/main_categories-sprite.jpg') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.ideas-page-cat1 { background-position: -0px -0px; width: 209px; height: 209px; }
.ideas-page-cat2 { background-position: -0px -209px; width: 209px; height: 209px; }
.ideas-page-cat3 { background-position: -0px -418px; width: 209px; height: 209px; }

// main categories 2x

.ideas-page-cat1-2x, .ideas-page-cat2-2x, .ideas-page-cat3-2x
{ display: inline-block; background: url('/public/images/main_categories-sprite@2x.jpg') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.ideas-page-cat1-2x { background-position: -0px -0px; width: 418px; height: 418px; }
.ideas-page-cat2-2x { background-position: -0px -418px; width: 418px; height: 418px; }
.ideas-page-cat3-2x { background-position: -0px -836px; width: 418px; height: 418px; }


// spaces 1x

.spaces-bathrooms-basic-130x130, .spaces-bathrooms-half-130x130, .spaces-bathrooms-upgraded-130x130, .spaces-family-rooms-130x130, .spaces-gym-130x130, 
.spaces-home-theatre-130x130, .spaces-kids-playrooms-130x130, .spaces-laundry-130x130, .spaces-media-rooms-basic-130x130, .spaces-music-rooms-130x130, 
.spaces-office-130x130, .spaces-storage-rooms-130x130, .spaces-wet-bars-fullsize-130x130, .spaces-wet-bars-kitchen-like-130x130, .spaces-wet-bars-medium-130x130, 
.spaces-wet-bars-small-130x130, .spaces-wine-cellars-130x130
{ display: inline-block; background: url('/public/images/spaces-sprite.jpg') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.spaces-bathrooms-basic-130x130 { background-position: -0px -0px; width: 130px; height: 130px; }
.spaces-bathrooms-half-130x130 { background-position: -130px -0px; width: 130px; height: 130px; }
.spaces-bathrooms-upgraded-130x130 { background-position: -260px -0px; width: 130px; height: 130px; }
.spaces-family-rooms-130x130 { background-position: -390px -0px; width: 130px; height: 130px; }
.spaces-gym-130x130 { background-position: -0px -130px; width: 130px; height: 130px; }
.spaces-home-theatre-130x130 { background-position: -130px -130px; width: 130px; height: 130px; }
.spaces-kids-playrooms-130x130 { background-position: -260px -130px; width: 130px; height: 130px; }
.spaces-laundry-130x130 { background-position: -390px -130px; width: 130px; height: 130px; }
.spaces-media-rooms-basic-130x130 { background-position: -0px -260px; width: 130px; height: 130px; }
.spaces-music-rooms-130x130 { background-position: -130px -260px; width: 130px; height: 130px; }
.spaces-office-130x130 { background-position: -260px -260px; width: 130px; height: 130px; }
.spaces-storage-rooms-130x130 { background-position: -390px -260px; width: 130px; height: 130px; }
.spaces-wet-bars-fullsize-130x130 { background-position: -0px -390px; width: 130px; height: 130px; }
.spaces-wet-bars-kitchen-like-130x130 { background-position: -130px -390px; width: 130px; height: 130px; }
.spaces-wet-bars-medium-130x130 { background-position: -260px -390px; width: 130px; height: 130px; }
.spaces-wet-bars-small-130x130 { background-position: -390px -390px; width: 130px; height: 130px; }
.spaces-wine-cellars-130x130 { background-position: -0px -520px; width: 130px; height: 130px; }

// spaces 2x 

.spaces-bathrooms-basic-130x130-2x, .spaces-bathrooms-half-130x130-2x, .spaces-bathrooms-upgraded-130x130-2x, .spaces-family-rooms-130x130-2x, .spaces-gym-130x130-2x, 
.spaces-home-theatre-130x130-2x, .spaces-kids-playrooms-130x130-2x, .spaces-laundry-130x130-2x, .spaces-media-rooms-basic-130x130-2x, .spaces-music-rooms-130x130-2x, 
.spaces-office-130x130-2x, .spaces-storage-rooms-130x130-2x, .spaces-wet-bars-fullsize-130x130-2x, .spaces-wet-bars-kitchen-like-130x130-2x, .spaces-wet-bars-medium-130x130-2x, 
.spaces-wet-bars-small-130x130-2x, .spaces-wine-cellars-130x130-2x
{ display: inline-block; background: url('/public/images/spaces-sprite@2x.jpg') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.spaces-bathrooms-basic-130x130-2x { background-position: -0px -0px; width: 260px; height: 260px; }
.spaces-bathrooms-half-130x130-2x { background-position: -260px -0px; width: 260px; height: 260px; }
.spaces-bathrooms-upgraded-130x130-2x { background-position: -520px -0px; width: 260px; height: 260px; }
.spaces-family-rooms-130x130-2x { background-position: -780px -0px; width: 260px; height: 260px; }
.spaces-gym-130x130-2x { background-position: -0px -260px; width: 260px; height: 260px; }
.spaces-home-theatre-130x130-2x { background-position: -260px -260px; width: 260px; height: 260px; }
.spaces-kids-playrooms-130x130-2x { background-position: -520px -260px; width: 260px; height: 260px; }
.spaces-laundry-130x130-2x { background-position: -780px -260px; width: 260px; height: 260px; }
.spaces-media-rooms-basic-130x130-2x { background-position: -0px -520px; width: 260px; height: 260px; }
.spaces-music-rooms-130x130-2x { background-position: -260px -520px; width: 260px; height: 260px; }
.spaces-office-130x130-2x { background-position: -520px -520px; width: 260px; height: 260px; }
.spaces-storage-rooms-130x130-2x { background-position: -780px -520px; width: 260px; height: 260px; }
.spaces-wet-bars-fullsize-130x130-2x { background-position: -0px -780px; width: 260px; height: 260px; }
.spaces-wet-bars-kitchen-like-130x130-2x { background-position: -260px -780px; width: 260px; height: 260px; }
.spaces-wet-bars-medium-130x130-2x { background-position: -520px -780px; width: 260px; height: 260px; }
.spaces-wet-bars-small-130x130-2x { background-position: -780px -780px; width: 260px; height: 260px; }
.spaces-wine-cellars-130x130-2x { background-position: -0px -1040px; width: 260px; height: 260px; }


// features 1x

.features-access-doors-130x130, .features-barn-doors-130x130, .features-basic-shelving-130x130, .features-bunk-bed-130x130, .features-ceilings-basic-130x130, 
.features-ceilings-hidden-advanced-130x130, .features-ceilings-hidden-led-130x130, .features-ceilings-high-end-130x130, .features-columns-half-walls-130x130, .features-columns-stand-alone-130x130, 
.features-contemporary-wall-panelling-130x130, .features-custom-cabinetry-130x130, .features-doors-glass-130x130, .features-doors-pocket-130x130, .features-entertainment-center-130x130, 
.features-fireplaces-130x130, .features-flooring-laminate-130x130, .features-flooring-lvt-130x130, .features-flooring-tile-130x130, .features-hidden-doors-130x130, 
.features-lighting-130x130, .features-stacked-stone-wall-130x130, .features-stair-railings-130x130, .features-stair-steps-130x130, .features-under-stairs-space-130x130, 
.features-wood-wall-panelling-130x130
{ display: inline-block; background: url('/public/images/features-sprite.jpg') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.features-access-doors-130x130 { background-position: -0px -0px; width: 130px; height: 130px; }
.features-barn-doors-130x130 { background-position: -130px -0px; width: 130px; height: 130px; }
.features-basic-shelving-130x130 { background-position: -260px -0px; width: 130px; height: 130px; }
.features-bunk-bed-130x130 { background-position: -390px -0px; width: 130px; height: 130px; }
.features-ceilings-basic-130x130 { background-position: -520px -0px; width: 130px; height: 130px; }
.features-ceilings-hidden-advanced-130x130 { background-position: -0px -130px; width: 130px; height: 130px; }
.features-ceilings-hidden-led-130x130 { background-position: -130px -130px; width: 130px; height: 130px; }
.features-ceilings-high-end-130x130 { background-position: -260px -130px; width: 130px; height: 130px; }
.features-columns-half-walls-130x130 { background-position: -390px -130px; width: 130px; height: 130px; }
.features-columns-stand-alone-130x130 { background-position: -520px -130px; width: 130px; height: 130px; }
.features-contemporary-wall-panelling-130x130 { background-position: -0px -260px; width: 130px; height: 130px; }
.features-custom-cabinetry-130x130 { background-position: -130px -260px; width: 130px; height: 130px; }
.features-doors-glass-130x130 { background-position: -260px -260px; width: 130px; height: 130px; }
.features-doors-pocket-130x130 { background-position: -390px -260px; width: 130px; height: 130px; }
.features-entertainment-center-130x130 { background-position: -520px -260px; width: 130px; height: 130px; }
.features-fireplaces-130x130 { background-position: -0px -390px; width: 130px; height: 130px; }
.features-flooring-laminate-130x130 { background-position: -130px -390px; width: 130px; height: 130px; }
.features-flooring-lvt-130x130 { background-position: -260px -390px; width: 130px; height: 130px; }
.features-flooring-tile-130x130 { background-position: -390px -390px; width: 130px; height: 130px; }
.features-hidden-doors-130x130 { background-position: -520px -390px; width: 130px; height: 130px; }
.features-lighting-130x130 { background-position: -0px -520px; width: 130px; height: 130px; }
.features-stacked-stone-wall-130x130 { background-position: -130px -520px; width: 130px; height: 130px; }
.features-stair-railings-130x130 { background-position: -260px -520px; width: 130px; height: 130px; }
.features-stair-steps-130x130 { background-position: -390px -520px; width: 130px; height: 130px; }
.features-under-stairs-space-130x130 { background-position: -520px -520px; width: 130px; height: 130px; }
.features-wood-wall-panelling-130x130 { background-position: -0px -650px; width: 130px; height: 130px; }

// features 2x

.features-access-doors-130x130-2x, .features-barn-doors-130x130-2x, .features-basic-shelving-130x130-2x, .features-bunk-bed-130x130-2x, .features-ceilings-basic-130x130-2x, 
.features-ceilings-hidden-advanced-130x130-2x, .features-ceilings-hidden-led-130x130-2x, .features-ceilings-high-end-130x130-2x, .features-columns-half-walls-130x130-2x, .features-columns-stand-alone-130x130-2x, 
.features-contemporary-wall-panelling-130x130-2x, .features-custom-cabinetry-130x130-2x, .features-doors-glass-130x130-2x, .features-doors-pocket-130x130-2x, .features-entertainment-center-130x130-2x, 
.features-fireplaces-130x130-2x, .features-flooring-laminate-130x130-2x, .features-flooring-lvt-130x130-2x, .features-flooring-tile-130x130-2x, .features-hidden-doors-130x130-2x, 
.features-lighting-130x130-2x, .features-stacked-stone-wall-130x130-2x, .features-stair-railings-130x130-2x, .features-stair-steps-130x130-2x, .features-under-stairs-space-130x130-2x, 
.features-wood-wall-panelling-130x130-2x
{ display: inline-block; background: url('/public/images/features-sprite@2x.jpg') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.features-access-doors-130x130-2x { background-position: -0px -0px; width: 260px; height: 260px; }
.features-barn-doors-130x130-2x { background-position: -260px -0px; width: 260px; height: 260px; }
.features-basic-shelving-130x130-2x { background-position: -520px -0px; width: 260px; height: 260px; }
.features-bunk-bed-130x130-2x { background-position: -780px -0px; width: 260px; height: 260px; }
.features-ceilings-basic-130x130-2x { background-position: -1040px -0px; width: 260px; height: 260px; }
.features-ceilings-hidden-advanced-130x130-2x { background-position: -0px -260px; width: 260px; height: 260px; }
.features-ceilings-hidden-led-130x130-2x { background-position: -260px -260px; width: 260px; height: 260px; }
.features-ceilings-high-end-130x130-2x { background-position: -520px -260px; width: 260px; height: 260px; }
.features-columns-half-walls-130x130-2x { background-position: -780px -260px; width: 260px; height: 260px; }
.features-columns-stand-alone-130x130-2x { background-position: -1040px -260px; width: 260px; height: 260px; }
.features-contemporary-wall-panelling-130x130-2x { background-position: -0px -520px; width: 260px; height: 260px; }
.features-custom-cabinetry-130x130-2x { background-position: -260px -520px; width: 260px; height: 260px; }
.features-doors-glass-130x130-2x { background-position: -520px -520px; width: 260px; height: 260px; }
.features-doors-pocket-130x130-2x { background-position: -780px -520px; width: 260px; height: 260px; }
.features-entertainment-center-130x130-2x { background-position: -1040px -520px; width: 260px; height: 260px; }
.features-fireplaces-130x130-2x { background-position: -0px -780px; width: 260px; height: 260px; }
.features-flooring-laminate-130x130-2x { background-position: -260px -780px; width: 260px; height: 260px; }
.features-flooring-lvt-130x130-2x { background-position: -520px -780px; width: 260px; height: 260px; }
.features-flooring-tile-130x130-2x { background-position: -780px -780px; width: 260px; height: 260px; }
.features-hidden-doors-130x130-2x { background-position: -1040px -780px; width: 260px; height: 260px; }
.features-lighting-130x130-2x { background-position: -0px -1040px; width: 260px; height: 260px; }
.features-stacked-stone-wall-130x130-2x { background-position: -260px -1040px; width: 260px; height: 260px; }
.features-stair-railings-130x130-2x { background-position: -520px -1040px; width: 260px; height: 260px; }
.features-stair-steps-130x130-2x { background-position: -780px -1040px; width: 260px; height: 260px; }
.features-under-stairs-space-130x130-2x { background-position: -1040px -1040px; width: 260px; height: 260px; }
.features-wood-wall-panelling-130x130-2x { background-position: -0px -1300px; width: 260px; height: 260px; }


// engineering 1x

.engineering-egress-windows-130x130, .engineering-hvac-130x130, .engineering-walk-outs-130x130, .engineering-waterproofing-130x130
{ display: inline-block; background: url('/public/images/engineering-sprite.jpg') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.engineering-egress-windows-130x130 { background-position: -0px -0px; width: 130px; height: 130px; }
.engineering-hvac-130x130 { background-position: -130px -0px; width: 130px; height: 130px; }
.engineering-walk-outs-130x130 { background-position: -0px -130px; width: 130px; height: 130px; }
.engineering-waterproofing-130x130 { background-position: -130px -130px; width: 130px; height: 130px; }

// engineering 2x

.engineering-egress-windows-130x130-2x, .engineering-hvac-130x130-2x, .engineering-walk-outs-130x130-2x, .engineering-waterproofing-130x130-2x
{ display: inline-block; background: url('/public/images/engineering-sprite@2x.jpg') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.engineering-egress-windows-130x130-2x { background-position: -0px -0px; width: 260px; height: 260px; }
.engineering-hvac-130x130-2x { background-position: -260px -0px; width: 260px; height: 260px; }
.engineering-walk-outs-130x130-2x { background-position: -0px -260px; width: 260px; height: 260px; }
.engineering-waterproofing-130x130-2x { background-position: -260px -260px; width: 260px; height: 260px; }