// font color
$blueColor: #57A7D7;
$yellowColor: #FAC04B;
$greenColor: #4EA748;
$blackColor: #212C30;
$lightGreyColor: #D1D1D3;
$greyColor: #A1ABB5;
$darkGreyColor: #616D7B;
$avatarColor: #C4C4C4;
$whiteColor: #FFFFFF;

// background color
$bgMainColor: #212C30;
$bgSubColor: #E7E7E8;
$facebookColor: #315DA5;
$subMenuHoverColor: rgba(52, 180, 234, 0.2);
$modalBackground: rgba(97, 109, 123, 0.8);
$imageHoverBackground: rgba(97, 109, 123, 0.7);