// font color
$blueColor: #57A7D7;
$yellowColor: #FAC04B;
$greenColor: #4EA748;
$blackColor: #212C30;
$lightGreyColor: #D1D1D3;
$greyColor: #A1ABB5;
$darkGreyColor: #616D7B;
$avatarColor: #C4C4C4;
$whiteColor: #FFFFFF;
// background color
$bgMainColor: #212C30;
$bgSubColor: #E7E7E8;
$modalBackground: rgba(97, 109, 123, 0.8);

/*

1440:
1032 (max content) / 1032 (header) / 894 (center 53 padding) / 1032 (footer)
894 / 1032

1000:
960 (max content) / 960 (header) / 894 (center 53 padding) / 960 (footer 20 padding)
894 / 960

768:
728 (max content) / 728 (header) / 728 (center 20 padding) / 728 (footer 20 padding)
728 / 728

480:
464 (max content) / 440 (header) / 440 (center 20 padding) / 440 (footer 20 padding)
440 / 464

320:
312 (max content) / 290 (header) / 290 (center 15 padding) / 290 (footer 15 padding)
290 / 312

*/

/*

FONT-SIZE

main text
9 (125%) - 320px
12 (125%) - 480px and higher
15 (125%) - 1000 and higher

breadcrumbs
9 (125%) - 320px
12 (125%) - 480px
15 (19) - 768px and higher

main header
17 (21) - 320px
25 (31) - 480px
35 (43) - 768px
45 (55) - 1000px and higher

sub headers
19 (118%) - 320px;
27 (118%) - 480px and higher
34 (118%) - 1000px and higher

sub sub header
15 (18) - 320px and higher
18 (22) - 768px and higher

footer buttons header
11 (13) - 320px
14 (17) - 480px and higher
16 (19) - 1000px and higher

footer text header
9 (125%) - 320px
12 (125%) - 480px and higher
13 (125%) - 1000px and higher

footer text
7 (125%) - 320px
9 (125%) - 480px and higher
10 (125%) - 1000px and higher

inputs
12 (125%) - 320px and higher
15 (19) - 1000px and higher

table text
8 (125%) - 320px
10 (125%) - 480px and higher
15 (19) - 1000px and higher

collection item name && link after photo
9 (150%) - 320px
12 (150%) - 480px
14 (150%) - 768px and higher
15 (125%) - 1440px

*/