<section class="pageHeader">
    <div class="wrapper headerWrapper">
        <div class="contentWrapper">
            <h1 class="pageTitle">How it works</h1>
            {{> page-header/header-menu }}
            <nav class="breadcrumbs">
                <ul class="breadcrumbList">
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/">Basement Remodeling Company</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink">How it works</span>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink breadcrumbActive">Our process</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<section class="processContent">
    <div class="wrapper responseWrapper">
        <ul class="processList">
            <li class="processItem">
                <article class="wrapper mainWrapper processWrapper processIcon">
                    <h2 class="processHeader">Get an estimated cost to finish the basement</h2>
                    <p class="processText">Give us a call at <a class="colorLink" href="tel:3017984444">(301) 798-4444</a> to receive a basement remodeling or basement finishing quote in under five minutes.</p>
                    <p class="processText">Or, simply fill out our <a class="colorLink" href="#">ONLINE FORM</a> to receive a downloadable PDF version of the basement finishing estimate along with detailed descriptions.</p>
                    <button class="processButton">NEXT STEP</button>
                </article>
            </li>
            <li class="processItem">
                <article class="wrapper mainWrapper processWrapper process2Icon">
                    <h2 class="processHeader">Initial AN in-home consultation</h2>
                    <p class="processText">After receiving a free basement finishing quote, one of our professional Basement Remodeling Company representatives will personally visit you at your home to discuss the project and walk you through your space, exploring all of the possibilities and offering expert advice. By the end of the consultation, we will provide a written estimated cost to finish the basement that's based on the first look at the project.</p>
                    <button class="processButton">NEXT STEP</button>
                </article>
            </li>
            <li class="processItem">
                <article class="wrapper mainWrapper processWrapper process3Icon">
                    <h2 class="processHeader">Visit our showroom</h2>
                    <p class="processText">We’d like to meet you! Our showroom is the perfect place to discuss your project, go over ideas and get to know our team. We are available by appointment only (call now <a class="colorLink" href="tel:3017984444">301-798-4444</a> or <a  class="colorLink" href="#">schedule online right now</a>).</p>
                    <button class="processButton">NEXT STEP</button>
                </article>
            </li>
            <li class="processItem">
                <article class="wrapper mainWrapper processWrapper process4Icon">
                    <h2 class="processHeader">Design & final costs consultation</h2>
                    <p class="processText">This in-home consultation is to finalize the details of the project (including upgrades and other design options) and agree upon a final cost. After we have a customized design that meets your budget specifications, we will accept a deposit and move into the pre-construction stage.</p>
                    <button class="processButton">NEXT STEP</button>
                </article>
            </li>
            <li class="processItem">
                <article class="wrapper mainWrapper processWrapper process5Icon">
                    <h2 class="processHeader">Project preparation & pre-construction meeting</h2>
                    <p class="processText">At this stage, we sign a contract, acquire all necessary basement remodeling permits, prepare the drawings, set up a work schedule and a few other important steps. Once all of the arrangements are in place, we hold a pre-construction meeting at your home with your design consultant, project manager and framing crew foreman to review the plan as a team and address any last-minute questions or concerns.</p>
                    <button class="processButton">NEXT STEP</button>
                </article>
            </li>
            <li class="processItem">
                <article class="wrapper mainWrapper processWrapper process6Icon">
                    <h2 class="processHeader">Basement Construction</h2>
                    <p class="processText">Here we go! All of the necessary papers and permits are in place, and now our basement contractors can create the space of your dreams. The basement construction phase – which consists of framing, plumbing, electrical, drywall hanging and finishing, painting, flooring, and more – typically lasts from 7-9 weeks. Please refer to our timeline for a more detailed description of the basement construction process.</p>
                    <button class="activeProcessButton">NEXT STEP</button>
                </article>
            </li>
            <li class="processItem">
                <article class="wrapper mainWrapper processWrapper process7Icon">
                    <h2 class="processHeader">Interior decorating and photos</h2>
                    <p class="processText">Our design team would be glad to continue working with you after the construction is over. Please let us help you pick out furniture and accessories for your new basement – we would also like to take professional photographs of the finished results!</p>
                    <button class="contactButton">CONTACT US</button>
                </article>
            </li>
        </ul>
    </div>
</section>