<section class="pageHeader">
    <div class="wrapper headerWrapper">
        <div class="contentWrapper">
            <h1 class="pageTitle">Financing offers</h1>
            <nav class="breadcrumbs">
                <ul class="breadcrumbList">
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/">Basement Remodeling Company</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink">About us</span>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink breadcrumbActive">Financing offers</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<section class="offersContent">
    <form class="wrapper center">
        <h1 class="contentHeader">
            Basement financing offers powered by
            <a class="logoSprite greenskyLogo" href="#">GreenSky</a>
        </h1>
        <ul class="offerList">
            <li class="offerWrapper activeOffer">
                <strong class="offerPercent"><em class="percentNum">0</em>%</strong>
                <strong class="offerPeriod">12 months</strong>
                <span class="offerAdditional">No interest/no payments*</span>
                <span class="offerAdditional">84 months term**</span>
            </li>
            <li class="offerWrapper">
                <strong class="offerPercent"><em class="percentNum">0</em>%</strong>
                <strong class="offerPeriod">18 months</strong>
                <span class="offerAdditional">No interest/no payments*</span>
                <span class="offerAdditional">84 months term**</span>
            </li>
            <li class="offerWrapper">
                <strong class="offerPercent"><em class="percentNum">5</em><em class="percentDot">.99</em>%</strong>
                <strong class="offerPeriod">7 years</strong>
                <span class="offerAdditional">Reduced rate apr**</span>
            </li>
            <li class="offerWrapper">
                <strong class="offerPercent"><em class="percentNum">7</em><em class="percentDot">.99</em>%</strong>
                <strong class="offerPeriod">10 years</strong>
                <span class="offerAdditional">Reduced rate apr**</span>
            </li>
        </ul>
        <h2 class="formTitle">ENTER AMOUNT TO APPLY FOR:</h2>
        <div class="fieldWrapper">
            <label class="formLabel" for="offersAmount">Amount</label>
            <input class="formField" type="text" id="offersAmount" name="offersAmount">
        </div>
        <p class="formHint">* – No interest if paid in full during promotional period, 17.99%-26.99% APR for 84 months if not paid in full.</p>
        <p class="formHint">** – offer is subject to credit approval.</p>
        <h2 class="formTitle">PLEASE CHECK:</h2>
        <div class="checkboxWrapper">
            <input class="formCheckbox" type="checkbox" name="offersRules1" id="offersRules1">
            <label class="formLabel" for="offersRules1">I hereby confirm that my Zip Code is within Basement Masters service area. You can find the map and the list of zip codes we service at the bottom of this page.</label>
        </div>
        <div class="checkboxWrapper">
            <input class="formCheckbox" type="checkbox" name="offersRules2" id="offersRules2">
            <label class="formLabel" for="offersRules2">I hereby understand that there is a minimum charge of $20,000 for any project Basement Masters will undertake.</label>
        </div>
        <p class="formHint">* — please fill in these fields</p>
        <button class="offersButton" disabled>APPLY NOW</button>
    </form>
</section>