.offersContent {
    position: relative;
    .contentHeader {
        .greenskyLogo {
            display: inline-block;
            font-size: 0;
            margin-bottom: -200px;
            transform: scale(0.37) translate(100px, -132px);
            @include minWidth(480) {
                margin-bottom: -10px;
                transform: scale(0.52) translate(-105px, -47px);
            }
            @include minWidth(1000) {
                transform: scale(0.67) translate(-55px, -34px);
            }
        }
    }
    .formHint {
        margin-top: 15px;
        margin-bottom: 0;
        font-size: 12px;
        line-height: 125%;
        color: $raven;
        @include minWidth(480) {
            margin-top: 10px;
        }
        @include minWidth(1000) {
            font-size: 15px;
        }
    }
    .fieldWrapper {
        position: relative;
        margin-top: 15px;
        margin-bottom: 15px;
        .formLabel {
            position: absolute;
            top: 14px;
            left: 17px;
            font-size: 12px;
            line-height: 12px;
            text-transform: uppercase;
            color: $black;
            &.hiddenLabel {
                opacity: 0;
                z-index: -10;
            }
        }
        .formField {
            @extend %font;
            padding: 0 15px;
            width: 290px;
            height: 41px;
            font-size: 12px;
            line-height: 41px;
            color: $black;
            border: 1px solid $ghost;
            border-radius: 5px;
            box-sizing: border-box;
            background: $white;
            outline: none;
            &:focus {
                border-color: $blue;
            }
        }
    }
    .checkboxWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        margin-top: 15px;
        margin-bottom: 15px;
        @include minWidth(768) {
            width: 100%;
        }
        .formLabel {
            margin-left: 15px;
            font-size: 12px;
            line-height: 125%;
            @include minWidth(1000) {
                font-size: 15px;
            }
        }
    }
    .offersButton {
        @extend %blueButton;
        margin-left: auto;
        &:after {
            @extend %buttonIconAfter;
            @extend %arrowIcon;
            background: $white;
        }
        &:disabled {
            @extend %disabledButton;
        }
        &.loadButton {
            background-color: darken($blue, 10%);
            &:after {
                content: "";
                margin-left: 0;
                margin-right: -5px;
                width: 20px;
                height: 20px;
                background-color: transparent;
                background-image: url("/public/images/vector/load-icon.svg");
                background-size: 20px 20px;
                -webkit-mask-image: none;
                mask-image: none;
                @include minWidth(480) {
                    margin-left: 5px;
                }
            }
            &:disabled {
                background-color: darken($blue, 10%);
            }
        }
        &.loadedButton {
            @extend %disabledButton;
            &:after {
                display: none;
            }
        }
    }
}

.formTitle {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 125%;
    text-transform: uppercase;
    &:before {
        padding-right: 3px;
        content: "*";
        color: $blue;
    }
    @include minWidth(480) {
        margin-top: 20px;
    }
    @include minWidth(768) {
        font-size: 18px;
    }
}