<section class="pageHeader middleCategories">
    <div class="wrapper headerWrapper">
        <h1 class="pageTitle">{{{ category.categoryTitle }}}</h1>
        {{> micro-blocks/middle-categories/middle-categories }}
        <nav class="breadcrumbs">
            <ul class="breadcrumbList">
                <li class="breadcrumbLinkWrapper">
                    <a class="breadcrumbLink" href="/">Basement Remodeling Company</a>
                </li>
                <li class="breadcrumbLinkWrapper">
                    <a class="breadcrumbLink" href="/basement-ideas/">Basement ideas</a>
                </li>
                <li class="breadcrumbLinkWrapper">
                    <span class="breadcrumbLink breadcrumbActive">{{{ category.categoryTitle }}}</span>
                </li>
            </ul>
        </nav>
    </div>
</section>

<section class="filtersWrapper">
    <div class="wrapper headerWrapper">
        {{> micro-blocks/filters/ideas.filters }}
    </div>
</section>

<section class="chosenFiltersWrapper ideasActiveFilters">
    <div class="wrapper headerWrapper emptyChosenFilters">
        <form class="filtersForm" action="/api/ideas/category/{{{ category.categoryID }}}/filter">
            <ul class="activeFilterList"></ul>
            <input type="hidden" class="hiddenField orderField" name="order" value="ideaID">
        </form>
    </div>
</section>

<section class="ideasMain">
    <div class="wrapper listWrapper">
        <button class="ideasSortWrapper" data-order="ideaID">WHAT’S NEW</button>
        <ul class="ideaList elementsWrapper" data-page="12"
            data-api="/api/ideas/category/{{{ category.categoryID }}}/all">
            {{# each ideas }}
                {{> micro-blocks/idea/idea }}
            {{/each}}
        </ul>
        <button title="Show more" data-scroll="1"
                class="showMoreButton {{# if categoryData.hiddenButton }}hiddenButton{{/ if }}">SHOW MORE</button>
    </div>
    <div class="pageLoader hiddenLoader"></div>
</section>

<section class="ideasFooter">
    <div class="wrapper headerWrapper">
        <h2>Basement Remodeling Ideas</h2>
        <p>For the ultimate in entertainment, consider installing a premium home theater! With authentic movie seats, theater-style carpet, walls, and a recessed ceiling to hold your deluxe sound system, you and your family will feel like you are out for a night on the town.</p>
        <p>Like pocket doors, interior sliding barn doors are a rustic alternative to the traditional swinging door format. Interior barn style doors are made of virtually any material you can think of, from iron to steel, but most prefer the timeless look of a weathered set of double barn doors. Barn doors make great focal points by framing the beautiful room behind them on both sides, lending geometrical symmetry to the overall floorplan.</p>
        <p>Or, perhaps you would like to convey a more family-oriented design with soft lighting, modern furniture and casual artwork? Either way, our design experts can make all of your home theater basement ideas come true! Plus, you’ll always have the best seat!</p>
    </div>
</section>

<template class="elementTemplate">
    <li class="ideaWrapper">
        <div class="imageWrapper"></div>
        <button class="saveIdea" data-idea="">SAVE TO COLLECTION</button>
        <h3 class="ideaTitle"></h3>
        <strong class="ideaAuthor"></strong>
    </li>
</template>