<section class="modalSection addPhotoModal">
    <div class="modalBlurWrapper"></div>
    <div class="modalMainWrapper addPhotoWrapper">
        <div class="modalContentWrapper2">
            {{> forms/add-photo.form }}
            <button class="closeButton">CLOSE MODAL</button>
        </div>
    </div>
</section>