<section class="licensesSection localSection">
    <div class="wrapper contentWrapper maxPadding">
        <h2 class="sectionTitle">{{{ page.licensesTitle }}}</h2>
        <p class="textBlock">{{{ page.licensesText }}}</p>
        <p class="textBlock stateData">MARYLAND, VIRGINIA, WASHINGTON, DC</p>
    </div>
</section>