footer {

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    width: 100%;
    background: $bgMainColor;

    .footerContent {
        @extend %content;
        color: $whiteColor;
    }

    .footerButtons {
        @extend %content;
        border-bottom: 1px solid $greyColor;

        .footerButtonsHeader {
            margin-top: 0;
            margin-bottom: 15px;
            text-align: center;
            font-size: 11px;
            line-height: 125%;
            font-weight: 700;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            @include minWidth(480) {
                font-size: 14px;
            }
            @include minWidth(1000) {
                font-size: 16px;
            }
        }

        .buttonList {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 0;
            list-style-type: none;
            @include minWidth(768) {
                flex-direction: row;
            }

            .buttonWrapper {
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
                @include minWidth(768) {
                    margin-bottom: 0;
                    margin-left: 10px;
                    margin-right: 10px;
                    &:first-child {
                        order: 2;
                    }
                }

                .consultationButton {
                    @extend %yellowButton;
                }

                .onlineQuoteButton {
                    @extend %blueButton;
                }

            }
        }
    }

    .footer {
        position: relative;

        .footerLogoLink {
            position: absolute;
            top: 20px;
            right: 0;
            @include minWidth(768) {
                left: 0;
                right: auto;
            }

            .footerLogo {
                width: 94px;
                height: 30px;
                @include minWidth(480) {
                    width: 138px;
                    height: 44px;
                }
                @include minWidth(1000) {
                    width: 169px;
                    height: 54px;
                }
            }

        }

        .footerCopyright {
            margin-bottom: 15px;
            @include minWidth(768) {
                margin-bottom: 0;
                margin-top: 50px;
            }
            @include minWidth(1000) {
                margin-bottom: 0;
                margin-top: 60px;
            }
        }

        .footerSocialLinks {
            margin-top: 15px;
            @include minWidth(768) {
                position: absolute;
                top: 30px;
                right: 0;
                display: flex;
                align-items: center;
                margin-top: 0;
            }

            .footerSocialList {
                display: flex;
                flex-direction: row;
                margin-top: 0;
                margin-bottom: 0;
                padding-left: 0;
                list-style-type: none;

                .socialLinkWrapper {
                    margin-right: 7px;
                    font-size: 0;
                    &:last-child {
                        margin-right: 0;
                    }

                    .socialLink {
                        display: block;
                        background: $whiteColor;
                        @extend %animation;

                        &.instagram {
                            @extend %instagramRoundIcon;
                            &:hover {
                                background: radial-gradient(
                                    circle at 30% 107%,
                                    #fdf497 0%, #fdf497 5%, #fd5949 45%,
                                    #d6249f 60%, #285AEB 90%
                                );
                            }
                        }

                        &.facebook {
                            @extend %facebookRoundIcon;
                            &:hover {
                                background: #3B5998;
                            }
                        }

                        &.pinterest {
                            @extend %pinterestRoundIcon;
                            &:hover {
                                background: #E60023;
                            }
                        }

                    }

                }

            }

        }

        .footerAddress {
            @include minWidth(768) {
                position: absolute;
                top: 60px;
                right: 0;
                display: flex;
                align-items: center;
            }
        }

        .footerHeader {
            margin-top: 0;
            margin-bottom: 5px;
            font-weight: 300;
            @include minWidth(480) {
                font-size: 12px;
            }
            @include minWidth(768) {
                margin-bottom: 0;
                margin-right: 10px;
                text-transform: uppercase;
            }
        }

        .footerText {
            margin-top: 0;
            margin-bottom: 0;
            width: 176px;
            font-size: 7px;
            @include minWidth(480) {
                width: 280px;
                font-size: 9px;
            }
            @include minWidth(768) {
                margin-top: 5px;
                width: 540px;
                font-size: 12px;
            }
            @include minWidth(1000) {
                margin-top: 5px;
                width: 740px;
                font-size: 12px;
            }
        }

        .address {
            font-size: 9px;
            font-weight: 500;
            font-style: normal;
            @include minWidth(480) {
                font-size: 12px;
            }
            @include minWidth(480) {
                font-size: 12px;
            }
            @include minWidth(768) {
                font-size: 13px;
            }
        }

        .footerContactButton {
            @extend %blueButton;
            position: absolute;
            bottom: 20px;
            right: 0;
            @include minWidth(480) {
                bottom: 20px;
            }
            @include minWidth(768) {
                bottom: 30px;
            }

            &:after {
                @extend %buttonIconAfter;
                @extend %arrowIcon;
                background: $whiteColor;
            }
        }

    }

}