<footer>
    {{# if isLocalpage }}
        {{> aside/local-buttons.aside }}
    {{ else }}
        {{> aside/buttons.aside }}
    {{/ if }}
    <section class="footerContent">
        <section class="footer">
            <div class="wrapper center">
                <a class="footerLogoLink" href="#">
                    <picture class="footerLogo">
                        <source srcset="/public/images/logo.webp,
                                        /public/images/logo@2x.webp 2x,
                                        /public/images/logo@3x.webp 3x,
                                        /public/images/logo@4x.webp 4x"
                                type="image/webp">
                        <img class="footerLogo"
                             src="/public/images/logo.png"
                             srcset="/public/images/logo.png,
                                     /public/images/logo@2x.png 2x,
                                     /public/images/logo@3x.png 3x,
                                     /public/images/logo@4x.png 4x"
                             alt="Basement remodeling Logo">
                    </picture>
                </a>
                <section class="footerCopyright">
                    <h5 class="footerHeader">Ownership of copyright</h5>
                    <p class="footerText">
                        The copyright in this website and the material on this website
                        (including without limitation the text, artwork, photographs, images,
                        music, audio material, video material and audio-visual material on this website)
                        is owned by Basement Masters and its licensors.
                    </p>
                </section>
                <section class="footerAddress">
                    <h5 class="footerHeader">Address:</h5>
                    <address class="address">1680 E Gude dr, STE 313, Rockville, MD, 20850</address>
                </section>
                <section class="footerSocialLinks">
                    <h5 class="footerHeader">Social networks:</h5>
                    <ul class="footerSocialList">
                        <li class="socialLinkWrapper">
                            <a class="socialLink instagram" href="#">Instagram</a>
                        </li>
                        <li class="socialLinkWrapper">
                            <a class="socialLink facebook" href="#">Facebook</a>
                        </li>
                        <li class="socialLinkWrapper">
                            <a class="socialLink pinterest" href="#">Pinterest</a>
                        </li>
                    </ul>
                </section>
                <button class="footerContactButton contactButton"
                        title="Contact us"
                        type="button">CONTACT US</button>
            </div>
        </section>
    </section>
</footer>