.reviewsSection {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    background: $sub;
    .youtubeWrapper {
        position: relative;
        .youtubeTextWrapper {
            display: flex;
            align-items: center;
            padding: 30px 0;
            width: 100%;
            background: $gradient4;
            @include minWidth(480) {
                padding: 40px 0;
            }
            .youtubeText {
                margin: 0 auto;
                width: 290px;
                @include minWidth(480) {
                    width: 440px;
                }
                @include minWidth(768) {
                    padding-right: 480px;
                    box-sizing: border-box;
                    width: 704px;
                    font-size: 12px;
                }
                @include minWidth(1000) {
                    padding-top: 60px;
                    padding-right: 520px;
                    width: 864px;
                    font-size: 15px;
                }
                @include minWidth(1440) {
                    padding-top: 60px;
                    padding-right: 560px;
                    padding-bottom: 20px;
                    width: 960px;
                    font-size: 15px;
                }
            }
        }
        .youtubeVideoWrapper {
            width: 100%;
            height: auto;
            background: $black;
            @include minWidth(768) {
                position: absolute;
                z-index: 2;
                top: 40px;
                left: 50%;
                width: 450px;
                height: 282px;
                transform: translateX(-98px);
            }
            @include minWidth(1000) {
                width: 476px;
                height: 298px;
                transform: translateX(-44px);
            }
            @include minWidth(1440) {
                transform: translateX(5px);
            }
            .youtubeVideo {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
    .reviewsWrapper {
        position: relative;
        background: linear-gradient(to bottom, $white 300px, $sub 300px);
        @include minWidth(480) {
            background: linear-gradient(to bottom, $white 455px, $sub 455px);
        }
        @include minWidth(768) {
            background: linear-gradient(to bottom, $white 410px, $sub 410px);
        }
        @include minWidth(1000) {
            background: linear-gradient(to bottom, $white 240px, $sub 240px);
        }
        .sectionTitle {
            margin: 25px auto;
            width: 290px;
            font-size: 26px;
            font-weight: 800;
            line-height: 125%;
            text-transform: uppercase;
            @include minWidth(480) {
                width: 440px;
                font-size: 35px;
            }
            @include minWidth(768) {
                margin-top: 60px;
                width: 704px;
            }
            @include minWidth(1000) {
                position: absolute;
                left: 50%;
                bottom: 50px;
                font-size: 45px;
                text-align: right;
                width: 274px;
                transform: translateX(-50%);
                margin-left: -330px;
            }
            @include minWidth(1440) {
                margin-left: -350px;
            }
        }
        .reviewsTextWrapper {
            display: flex;
            align-items: center;
            margin: 0 auto 20px auto;
            width: 290px;
            @include minWidth(480) {
                flex-direction: column;
                width: 440px;
            }
            @include minWidth(768) {
                flex-direction: row;
                margin-bottom: 40px;
                width: 704px;
            }
            @include minWidth(1000) {
                margin-top: 80px;
                width: 936px;
            }
            @include minWidth(1440) {
                width: 960px;
            }
            .reviewsText {
                margin: 0;
                padding-right: 30px;
                @include minWidth(480) {
                    display: none;
                }
            }
            .reviewsAdditionalText {
                margin: 0;
                display: none;
                @include minWidth(480) {
                    display: block;
                }
                @include minWidth(768) {
                    padding-right: 40px;
                    font-size: 12px;
                }
                @include minWidth(1000) {
                    font-size: 15px;
                }
            }
            .moreReviewsButton {
                @extend %blueButton;
                &:after {
                    @extend %buttonIconAfter;
                    @extend %arrowIcon;
                    background-color: $white;
                }
                @include minWidth(480) {
                    margin-top: 10px;
                    margin-left: auto;
                }
                @include minWidth(768) {
                    margin-top: 0;
                }
            }
        }
        .reviewsCarouselWrapper {
            position: relative;
            @include minWidth(1000) {
                margin: 0 auto;
                width: 960px;
                overflow: hidden;
            }
            @include minWidth(1440) {
                width: 1262px;
            }
            .carouselArrow {
                @extend %animation;
                position: absolute;
                top: 50%;
                z-index: 1;
                margin-top: -5px;
                width: 35px;
                height: 35px;
                font-size: 0;
                background-color: rgba(63, 67, 71, 0.3);
                border: none;
                border-radius: 50%;
                transform: translateY(-50%);
                outline: none;
                cursor: pointer;
                &:hover {
                    background-color: rgba(63, 67, 71, 0.5);
                }
                @include minWidth(480) {
                    width: 60px;
                    height: 60px;
                }
                @include minWidth(480) {
                    top: 0;
                    transform: translateY(-50%);
                    margin-top: 73px;
                }
                @include minWidth(1000) {
                    margin-top: 86px;
                    width: 72px;
                    height: 72px;
                }
                @include minWidth(1440) {
                    margin-top: 10px;
                    top: 50%;
                }
                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: block;
                    width: 8px;
                    height: 13px;
                    background-image: $arrowFillIcon;
                    background-size: 8px 13px;
                    transform: translate(-50%, -50%);
                    @include minWidth(480) {
                        width: 12px;
                        height: 22px;
                        background-size: 12px 22px;
                    }
                    @include minWidth(1000) {
                        width: 14px;
                        height: 26px;
                        background-size: 14px 26px;
                    }
                }
                &.carouselLeftArrow {
                    left: 15px;
                    &:after {
                        transform: translate(-50%, -50%) rotate(180deg);
                    }
                    @include minWidth(480) {
                        left: 20px;
                    }
                }
                &.carouselRightArrow {
                    right: 15px;
                    @include minWidth(480) {
                        right: 20px;
                    }
                }
                &.hiddenArrow {
                    opacity: 0;
                    cursor: default;
                }
            }
            .carouselActionWrapper {
                width: 100%;
                overflow: hidden;
                @include minWidth(1000) {
                    width: 960px;
                }
                @include minWidth(1440) {
                    margin: 0 auto;
                    width: 1050px;
                }
            }
            .carouselWrapper {
                @extend %animation;
                width: 100%;
                @include minWidth(1000) {
                    //margin-left: 0;
                    margin-left: 320px; // делаем отступ, чтобы слева поместился загаловок
                }
                @include minWidth(1440) {
                    //margin-left: 0;
                    margin-left: 350px; // делаем отступ, чтобы слева поместился загаловок
                }
            }
            .cardList {
                @extend %animation;
                flex-wrap: nowrap;
                margin: 0 auto;
                width: 100%;
                height: 241px;
                @include minWidth(480) {
                    height: 367px;
                }
                @include minWidth(1000) {
                    height: 429px;
                }
                @include minWidth(1440) {
                    height: 439px;
                }
                .cardWrapper {
                    @extend %animation;
                    @extend %shadow2;
                    flex-shrink: 0;
                    flex-direction: column;
                    position: relative;
                    margin: 0 4px;
                    width: 196px;
                    height: 231px;
                    @include minWidth(480) {
                        width: 277px;
                        height: 347px;
                    }
                    @include minWidth(1000) {
                        margin: 0 6px;
                        width: 308px;
                        height: 409px;
                    }
                    @include minWidth(1440) {
                        margin: 0 10px;
                        width: 330px;
                        height: 419px;
                    }
                    &:first-child {
                        margin-left: 15px;
                        @include minWidth(480) {
                            margin-left: 20px;
                        }
                        @include minWidth(768) {
                            margin-left: 100px;
                        }
                        @include minWidth(1000) {
                            margin-left: 6px;
                        }
                        @include minWidth(1440) {
                            margin-left: 10px;
                        }
                    }
                    &:after {
                        @extend %animation;
                        opacity: 0;
                    }
                    &.hiddenCard {
                        &:after {
                            opacity: 1;
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: inherit;
                            height: inherit;
                            background: rgba(255, 255, 255, 0.75);
                            @include minWidth(1000) {
                                display: none;
                            }
                        }
                    }
                    //
                    .cardImage {
                        width: 196px;
                        height: 102px;
                        @include minWidth(480) {
                            width: 277px;
                            height: 147px;
                        }
                        @include minWidth(1000) {
                            width: 308px;
                            height: 163px;
                        }
                        @include minWidth(1440) {
                            width: 330px;
                            height: 175px;
                        }
                    }
                    .cardHeader {
                        @include minWidth(480) {
                            font-size: 15px;
                        }
                        @include minWidth(1000) {
                            font-size: 18px;
                        }
                    }
                    .cardAnnounce {
                        font-size: 9px;
                        -webkit-line-clamp: 6;
                        @include minWidth(480) {
                            margin-top: 10px;
                            font-size: 12px;
                        }
                        @include minWidth(1000) {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

.reviewsSection.homeSection {
    padding-bottom: 30px;
    @include minWidth(480) {
        padding-bottom: 40px;
    }
    .youtubeTextWrapper {
        z-index: 2;
        position: relative;
        background: $black;
        @include minWidth(768) {
            padding-bottom: 80px;
        }
        .youtubeText {
            color: $white;
        }
    }
    .youtubeVideoWrapper {
        @include minWidth(768) {
            top: 25px;
        }
    }
    .reviewsWrapper {
        @include minWidth(1000) {
            background: $gradient4;
        }
    }
    .sectionTitle {
        @extend %animation;
        @include minWidth(768) {
            margin: 40px auto 20px;
            padding-right: 300px;
            box-sizing: border-box;
        }
        @include minWidth(1000) {
            bottom: auto;
            top: 260px;
            padding: 0;
            margin: 0 0 0 -330px;
        }
        &.hiddenTitle {
            opacity: 0;
        }
    }
    .reviewsTextWrapper {
        position: relative;
        flex-direction: column;
        align-items: flex-end;
        @include minWidth(768) {
            flex-direction: row;
            align-items: center;
        }
        @include minWidth(1000) {
            margin-top: 40px;
            width: 960px;
        }
        @include minWidth(1440) {
            width: 1032px;
        }
        .reviewsText {
            margin-bottom: 20px;
            padding-right: 0;
            @include minWidth(480) {
                display: block;
            }
            @include minWidth(768) {
                margin-bottom: 0;
                padding-right: 20px;
                font-size: 12px;
            }
            @include minWidth(1000) {
                order: 2;
                padding: 0 25px;
                font-size: 15px;
            }
            @include minWidth(1440) {
                padding: 0 40px;
            }
        }
        .reviewLinksWrapper {
            position: absolute;
            left: 0;
            bottom: 2px;
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 0;
            width: 156px;
            height: 21px;
            @include minWidth(480) {
                width: 204px;
                height: 32px;
            }
            @include minWidth(768) {
                top: 0;
                right: 0;
                left: auto;
                bottom: auto;
                margin-top: -105px;
            }
            @include minWidth(1000) {
                order: 1;
                flex-shrink: 0;
                top: 0;
                left: 0;
                right: auto;
                bottom: auto;
                margin-top: 0;
                position: relative;
                width: 272px;
                height: 38px;
            }
            .socialLinks {
                @include minWidth(1000) {
                    top: 0;
                }
                .socialLinkWrapper {
                    @include minWidth(1000) {
                        margin: 0 0 0 7px;
                    }
                    @include minWidth(1440) {
                        margin: 0 0 0 8px;
                    }
                }
                .socialLink {
                    filter: drop-shadow(5px 5px 7px rgba(0,0,0,.25));
                    &:hover {
                        filter: grayscale(100%) drop-shadow(5px 5px 7px rgba(0,0,0,.25));
                    }
                }
            }
        }
        .moreReviewsButton {
            order: 3;
        }
    }
    .reviewsBottomWrapper {
        margin: 0 auto;
        width: 290px;
        @include minWidth(480) {
            width: 440px;
        }
        @include minWidth(768) {
            padding-right: 485px;
            box-sizing: border-box;
            width: 704px;
            font-size: 12px;
        }
        @include minWidth(1000) {
            padding-right: 560px;
            width: 864px;
            font-size: 15px;
        }
        @include minWidth(1440) {
            padding-right: 660px;
            width: 1032px;
        }
        .nobr {
            white-space: nowrap;
        }
    }
}