<div class="mainCategoriesSprite spacesCategory roundCategory"></div>
<div class="yellowCircle"></div>
<p>Middle text paragraph</p>
<button class="yellowButton">SCHEDULE YOUR IN-HOME CONSULTATION RIGHT NOW</button>
<button class="blueButton">GET AN INSTANT QUOTE ONLINE</button>
<button class="blueButtonWithArrow">VIEW PORTFOLIO</button>
<button class="blueButtonWithArrowDown">NEXT STEP</button>
<button class="blueButtonWithArrowDown disabledButton">NEXT STEP</button>
<button class="blueTransparentButton">VIEW PORTFOLIO</button>
<button class="yellowTransparentButton yellowTransparentButtonWithPhone">301-798-4444</button>
<button class="blueTransparentButtonWithBlackText">OUR PROCESS</button>
<button class="greyTransparentButton">CONTRACTOR FAQ</button>
<button class="greyTransparentButton greyTransparentButtonWithArrowBack">GO BACK</button>
<button class="textButton">UPLOADED PHOTOS</button>
<div class="testBlock">
    <div class="testWrapper">
        <button class="whiteButton whiteButtonWithArrow">VIEW PROJECT</button>
    </div>
</div>
<div class="testBlock">
    <div class="testWrapper">
        <button class="whiteButton whiteButtonSavePhoto">SAVE TO COLLECTION</button>
    </div>
</div>
<div class="testPhoto">
    <div class="testWrapper">
        <button class="cancelButton buttonMargin">CANCEL</button>
        <button class="deleteButton buttonMargin">DELETE</button>
    </div>
</div>