<section class="testContent">
    <div class="wrapper">
        testContent
    </div>
</section>

<section class="testContent2">
    <div class="wrapper center">
        testContent
    </div>
</section>