<ul class="headerSubMenu">
    <li class="subLinkWrapper">
        {{# if isOurProcess }}
            <span class="subLink activeLink">OUR PROCESS</span>
        {{ else }}
            <a class="subLink" href="/how-it-works/our-process/">OUR PROCESS</a>
        {{/if}}
    </li>
    <li class="subLinkWrapper">
        {{# if isContractorFAQ }}
            <span class="subLink activeLink">CONTRACTOR FAQ</span>
        {{ else }}
            <a class="subLink" href="/how-it-works/contractor-faq/">CONTRACTOR FAQ</a>
        {{/if}}
    </li>
    <li class="subLinkWrapper">
        {{# if isBasementTips }}
            <span class="subLink activeLink">BASEMENT TIPS</span>
        {{ else }}
            <a class="subLink" href="/how-it-works/basement-tips/">BASEMENT TIPS</a>
        {{/if}}
    </li>
</ul>