<section class="modalSection editAlbumModal">
    <div class="modalBlurWrapper"></div>
    <div class="modalMainWrapper editAlbumWrapper">
        <div class="modalContentWrapper2">
            {{> forms/edit-album.form }}
            <button class="closeButton">CLOSE MODAL</button>
        </div>
    </div>
</section>