<div class="closeModalBlock">
    <div class="modalWrapper"></div>
    <div class="closeModal">
        <div class="closeModalWrapper">
            <div class="closeModalHeader">
                Don't go away! <span class="wrap">Give us just a few more seconds.</span>
            </div>
            <div class="closeModalArrows"></div>
            <div class="closeModalButtons">
                <button class="instantQuoteButton">GET AN INSTANT QUOTE ONLINE</button>
                <button class="consultationButton">SCHEDULE YOUR IN-HOME CONSULTATION RIGHT NOW</button>
                <button class="questionButton">ASK A QUESTION</button>
                <button class="closeButton">CLOSE MODAL</button>
            </div>
        </div>
    </div>
</div>