<section class="modalSection">
    <div class="modalBlurWrapper"></div>
    <div class="modalMainWrapper signInModal">
        <div class="modalContentWrapper">
            {{> forms/sign-in.form }}
            <button class="closeButton">CLOSE MODAL</button>
        </div>
    </div>
</section>