.headerSubMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px -8px 0;
    padding-left: 0;
    list-style-type: none;
    @include minWidth(1000) {
        position: absolute;
        top: 8px;
        right: 0;
    }
    .subLinkWrapper {
        @include minWidth(1000) {
            margin-left: 10px;
        }
        .subLink {
            @extend %menuButton;
        }
        .activeLink {
            @extend %activeButton;
        }
    }
}