<ul class="profileMenu">
    <li class="profileLinkWrapper">
        <span class="subLink activeLink">SAVED PHOTOS</span>
    </li>
    <li class="profileLinkWrapper">
        <a class="subLink" href="#">UPLOADED PHOTOS</a>
    </li>
</ul>