<ul class="profileMenu">
    {{# if isSavedPhoto }}
        <li class="profileLinkWrapper">
            <span class="subLink activeLink">SAVED PHOTOS</span>
        </li>
    {{ else }}
        <li class="profileLinkWrapper">
            <a class="subLink" href="/profile">SAVED PHOTOS</a>
        </li>
    {{/ if }}
    {{# if isLoadedPhoto }}
        <li class="profileLinkWrapper">
            <span class="subLink activeLink">UPLOADED PHOTOS</span>
        </li>
    {{ else }}
        <li class="profileLinkWrapper">
            <a class="subLink" href="/profile/uploaded">UPLOADED PHOTOS</a>
        </li>
    {{/ if }}
</ul>