<section class="officeSection homeSection">
    <div class="wrapper fullWrapper">
        <picture class="officeImage">
            <source srcset="/public/images/office_photo_480.webp,
                        /public/images/office_photo_480@2x.webp 2x"
                    media="(max-width: 479px)"
                    type="image/webp">
            <source srcset="/public/images/office_photo_480.jpg,
                        /public/images/office_photo_480@2x.jpg 2x"
                    media="(max-width: 479px)"
                    type="image/jpeg">
            <source srcset="/public/images/office_photo_768.webp,
                        /public/images/office_photo_768@2x.webp 2x"
                    media="(max-width: 767px)"
                    type="image/webp">
            <source srcset="/public/images/office_photo_768.jpg,
                        /public/images/office_photo_768@2x.jpg 2x"
                    media="(max-width: 767px)"
                    type="image/jpeg">
            <source srcset="/public/images/office_photo_1000.webp,
                        /public/images/office_photo_1000@2x.webp 2x"
                    media="(max-width: 999px)"
                    type="image/webp">
            <source srcset="/public/images/office_photo_1000.jpg,
                        /public/images/office_photo_1000@2x.jpg 2x"
                    media="(max-width: 999px)"
                    type="image/jpeg">
            <source srcset="/public/images/office_photo_1440.webp,
                        /public/images/office_photo_1440@2x.webp 2x"
                    media="(max-width: 1439px)"
                    type="image/webp">
            <source srcset="/public/images/office_photo_1440.jpg,
                        /public/images/office_photo_1440@2x.jpg 2x"
                    media="(max-width: 1439px)"
                    type="image/jpeg">
            <source srcset="/public/images/office_photo_3000.webp,
                        /public/images/office_photo_3000@2x.webp 2x"
                    media="(min-width: 1440px)"
                    type="image/webp">
            <source srcset="/public/images/office_photo_3000.jpg,
                        /public/images/office_photo_3000@2x.jpg 2x"
                    media="(min-width: 1440px)"
                    type="image/jpeg">
            <img class="officeImage"
                 src="/public/images/office_photo_1440.jpg"
                 srcset="/public/images/office_photo_1440.jpg,
                     /public/images/office_photo_1440@2x.jpg 2x"
                 alt="BasementRemodeling.com office photo">
        </picture>

    </div>
</section>