<div class="mainCategoriesSprite spacesCategory roundCategory"></div>
<div class="yellowCircle"></div>
<p>Middle text paragraph</p>
<button class="yellowButton">SCHEDULE YOUR IN-HOME CONSULTATION RIGHT NOW</button>
<button class="blueButton">GET AN INSTANT QUOTE ONLINE</button>
<button class="blueButton arrowButton">VIEW PORTFOLIO</button>
<button class="blueButton arrowDownButton">NEXT STEP</button>
<button class="blueButton arrowDownButton disabledButton">NEXT STEP</button>
<button class="blueTransparentButton">VIEW PORTFOLIO</button>
<button class="yellowTransparentButton phoneButton">301-798-4444</button>
<button class="blueTransparentButtonWithBlackText">OUR PROCESS</button>
<button class="greyTransparentButton">CONTRACTOR FAQ</button>
<button class="greyTransparentButton backArrowButton">GO BACK</button>
<button class="textButton">UPLOADED PHOTOS</button>
<div class="testBlock">
    <div class="testWrapper">
        <button class="whiteButton whiteButtonWithArrow">VIEW PROJECT</button>
    </div>
</div>
<div class="testBlock">
    <div class="testWrapper">
        <button class="whiteButton savePhotoButton">SAVE TO COLLECTION</button>
    </div>
</div>
<div class="testPhoto">
    <div class="testWrapper">
        <button class="cancelButton buttonMargin">CANCEL</button>
        <button class="deleteButton buttonMargin">DELETE</button>
    </div>
</div>
<svg class="advantageIcon">
    <use xlink:href="/public/images/svg/sprite.svg#001_advantage"></use>
</svg>
<div class="advantageIconMask"></div>
<div class="devicesTest"></div>
<section class="modal">
    modal
</section>