<section class="pageHeader">
    <div class="wrapper headerWrapper">
        <div class="contentWrapper">
            <h1 class="pageTitle">In the press</h1>
            <nav class="breadcrumbs">
                <ul class="breadcrumbList">
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/">Basement Remodeling Company</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/about-us/">About us</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/about-us/in-the-press/">In the press</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink breadcrumbActive">{{{ title }}}</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<section class="pageContent">
    <div class="wrapper center">
        <div class="twoColumnsWrapper">
            <span class="dataDate">{{{ date }}}</span>
            <span class="dataState">{{{ magazine }}}</span>
        </div>
        <div class="twoColumnsWrapper pageTitleWrapper">
            <h1 class="innerPageTitle">{{{ title }}}</h1>
        </div>
        <p class="textBlock">ROCKVILLE, MD, April 23, /ABC6 NEWS -- According to Houzz, the largest online community for home remodeling and design, one family-owned company servicing the Maryland and Virginia area stands out from the rest. This year, Basement Masters rises above more than one million other home construction, remodeling, and design industry professionals to claim the "Best of Customer Service" award for 2016, and more than 35 million monthly Houzz subscribers agree.</p>
        <p class="textBlock">"Anyone building, remodeling or decorating looks to Houzz for the most talented and service-oriented professionals," said Liza Hausman, Vice President of Industry Marketing for Houzz. "We're so pleased to recognize the 'Best of Houzz Service' award for 2016."</p>
        <p class="textBlock">The annual "Best of Houzz" awards are divided into in three categories: "Design", "Customer Service" and "Photography". The "Customer Service" division, in particular, is based on several factors - most notably, the number of high-quality client reviews from 2015.</p>
        <p class="textBlock">As a sign of their commitment to excellence, an official "Best of Houzz 2016" badge will appear on the winners' profiles. These badges help homeowners identify popular and top-rated home professionals in every metro area on Houzz.</p>
        <p class="textBlock">Find out about what the Houzz community has to say about Basement Masters, and why they are the right choice for you.</p>
        <p class="textBlock">About Basement Masters</p>
        <p class="textBlock">In business since 2006, Basement Masters has completed more than 1 thousand projects in 10 years. Ever since deciding to focus exclusively on basements in 2011, the experts at Basement Masters have been hard at work, dutifully servicing the Maryland and Virginia areas. February 2016, is another landmark achievement for them - over 500 successful basement projects.</p>
        <p class="textBlock">"We are the 'number one' basement finishing and remodeling company in Maryland and Virginia for one big reason, and one big reason alone," says Pavel Abaev, Owner of Basement Masters. "We pay exceptional attention to details, which allows us to provide the highest quality results at the most competitive prices."</p>
        <p class="textBlock">Aside competitive pricing, Pavel Abaev, and the rest of the Basement Masters staff, strongly believes that all of the work should only be done by professionals, which is why they always use experienced sub-contractors who have been performing their trade for many years, and with proven results. The company has been working with the same sub-contractors for years, and their low turnaround rates mean that the team finishing the basements today consists of the same talented personnel as four years ago. In fact, the basement workforce has a combined experience of over 250 years.</p>
        <p class="textBlock">"We are a 100% 'A-rated' company," adds Pavel Abaev. "Over a period of almost ten years, we have not received even a single negative review from any client. Only positive recommendations."</p>
        <p class="textBlock">Do you need a beautiful basement? Visit Basement Masters website BasementRemodeling.com, find your inspiration and schedule a free consultation.</p>
        <p class="textBlock">About Houzz</p>
        <p class="textBlock">Houzz is the leading online platform for home remodeling and design, providing people with everything they need to improve their homes from start to finish. From decorating a small room to building an entire custom home, Houzz connects millions of homeowners, home design enthusiasts and home improvement professionals from around the world. With the largest residential design database in existence and a vibrant community empowered by the most innovative technology available, Houzz is the easiest way for people to find inspiration, get advice, buy products and hire the professionals they need to help turn their home improvement ideas into reality.</p>
        <p class="textBlock">Headquartered in Palo Alto, CA, Houzz also maintains an international presence with offices in London, Berlin, Sydney, Moscow, and Tokyo. Houzz and the Houzz logo are registered trademarks of Houzz Inc., worldwide. Need home advice? What are you waiting for? Find out why Houzz is the leading online platform for all things home-related.</p>
    </div>
</section>

<section class="pageButtons">
    <div class="wrapper center">
        <div class="twoColumnsWrapper">
            <button class="backButton">GO BACK</button>
            <button class="sourceButton">SEE IN THE SOURCE</button>
        </div>
    </div>
</section>