<form class="formWrapper contactFormWrapper sendForm" data-steps="11" data-link="/api/contact">
    <h2 class="sectionTitle">Contact us</h2>
    <div class="progressBar">
        <div class="progressLine" style="width: 0"></div>
    </div>
    <div class="twoColumnWrapper">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="formFirstName">First name</label>
            <input class="fieldInput" name="firstName" id="formFirstName" type="text">
        </div>
        <div class="fieldWrapper">
            <label class="fieldLabel" for="formLastName">Last name</label>
            <input class="fieldInput" name="lastName" id="formLastName" type="text">
        </div>
    </div>
    <div class="threeColumnWrapper">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="formEmail">E-mail</label>
            <input class="fieldInput" name="email" id="formEmail" type="text">
        </div>
        <div class="fieldWrapper">
            <label class="fieldLabel" for="formPhoneNumber">Phone number</label>
            <input class="fieldInput" name="phone" id="formPhoneNumber" type="text">
        </div>
        <div class="fieldWrapper">
            <label class="fieldLabel" for="formZipCode">Zip code</label>
            <input class="fieldInput" name="zipCode" id="formZipCode" type="text">
        </div>
    </div>
    <p class="inputTitle">Type of Service:</p>
    <div class="oneColumnFieldset">
        <div class="checkboxWrapper">
            <input class="checkboxInput"
                   name="service" id="formService1" type="checkbox"
                   value="Finish an unfinished basement (full or part)">
            <label class="checkboxLabel" for="formService1">
                Finish an unfinished basement (full or part)
            </label>
        </div>
        <div class="checkboxWrapper">
            <input class="checkboxInput"
                   name="service" id="formService2" type="checkbox"
                   value="Partial basement remodeling">
            <label class="checkboxLabel" for="formService2">Partial basement remodeling</label>
        </div>
        <div class="checkboxWrapper">
            <input class="checkboxInput"
                   name="service" id="formService3" type="checkbox"
                   value="Add bathroom or wet-bar">
            <label class="checkboxLabel" for="formService3">Add bathroom or wet-bar</label>
        </div>
        <div class="checkboxWrapper">
            <input class="checkboxInput"
                   name="service" id="formService4" type="checkbox"
                   value="Foundation repairs">
            <label class="checkboxLabel" for="formService4">Foundation repairs</label>
        </div>
        <div class="checkboxWrapper">
            <input class="checkboxInput"
                   name="service" id="formService5" type="checkbox"
                   value="Complete basement remodeling">
            <label class="checkboxLabel" for="formService5">Complete basement remodeling</label>
        </div>
        <div class="checkboxWrapper">
            <input class="checkboxInput"
                   name="service" id="formService6" type="checkbox"
                   value="Flooded basement restoration">
            <label class="checkboxLabel" for="formService6">Flooded basement restoration</label>
        </div>
        <div class="checkboxWrapper">
            <input class="checkboxInput"
                   name="service" id="formService7" type="checkbox"
                   value="Add egress window or walk-out">
            <label class="checkboxLabel" for="formService7">Add egress window or walk-out</label>
        </div>
        <div class="checkboxWrapper">
            <input class="checkboxInput"
                   name="service" id="formService8" type="checkbox"
                   value="Basement waterproofing">
            <label class="checkboxLabel" for="formService8">Basement waterproofing</label>
        </div>
    </div>
    <div class="fieldWrapper">
        <label class="fieldLabel" for="formMessage">Message</label>
        <textarea class="fieldTextarea" id="formMessage" name="message"></textarea>
    </div>
    <div class="threeColumnWrapper">
        <div class="selectWrapper">
            <p class="selectLabel">How soon would you like to have an in-home consultation?</p>
            <div class="selectElement">
                <span class="currentSelectData emptyData">Choose</span>
                <input class="hiddenField" type="hidden" name="consultationTime">
                <ul class="hiddenSelectWrapper">
                    <li class="selectData" data-select="As soon as possible">As soon as possible</li>
                    <li class="selectData" data-select="Within 2 weeks">Within 2 weeks</li>
                    <li class="selectData" data-select="Within a month">Within a month</li>
                    <li class="selectData" data-select="Within 3 months">Within 3 months</li>
                    <li class="selectData" data-select="Within 6 months">Within 6 months</li>
                </ul>
            </div>
        </div>
        <div class="selectWrapper">
            <p class="selectLabel">How soon would you like the project to get started?</p>
            <div class="selectElement">
                <span class="currentSelectData emptyData">Choose</span>
                <input class="hiddenField" type="hidden" name="developStart">
                <ul class="hiddenSelectWrapper">
                    <li class="selectData" data-select="As soon as possible">As soon as possible</li>
                    <li class="selectData" data-select="Within a week">Within a week</li>
                    <li class="selectData" data-select="Within 2 weeks">Within 2 weeks</li>
                    <li class="selectData" data-select="Within a month">Within a month</li>
                </ul>
            </div>
        </div>
        <div class="selectWrapper">
            <p class="selectLabel">What is your budget?</p>
            <div class="selectElement">
                <span class="currentSelectData emptyData">Choose</span>
                <input class="hiddenField" type="hidden" name="budget">
                <ul class="hiddenSelectWrapper">
                    <li class="selectData" data-select="Under $10,000">Under $10,000</li>
                    <li class="selectData" data-select="$10,000 - $20,000">$10,000 - $20,000</li>
                    <li class="selectData" data-select="$20,000 - $40,000">$20,000 - $40,000</li>
                    <li class="selectData" data-select="$40,000 - $70,000">$40,000 - $70,000</li>
                    <li class="selectData" data-select="$70,000 - $100,000">$70,000 - $100,000</li>
                    <li class="selectData" data-select="$100,000 +">$100,000 +</li>
                </ul>
            </div>
        </div>
    </div>
    <p class="inputTitle">How did you find us?</p>
    <div class="findUsWrapper">
        <div class="twoColumnWrapper">
            <input class="checkboxInput"
                   name="referer" id="formReferer1" type="radio"
                   value="Google search">
            <label class="checkboxLabel" for="formReferer1">Google search</label>
        </div>
        <div class="twoColumnWrapper">
            <input class="checkboxInput"
                   name="referer" id="formReferer2" type="radio"
                   value="Angieslist.com">
            <label class="checkboxLabel" for="formReferer2">Angieslist.com</label>
        </div>
        <div class="twoColumnWrapper">
            <input class="checkboxInput"
                   name="referer" id="formReferer3" type="radio"
                   value="Facebook">
            <label class="checkboxLabel" for="formReferer3">Facebook</label>
        </div>
        <div class="twoColumnWrapper">
            <input class="checkboxInput"
                   name="referer" id="formReferer4" type="radio"
                   value="Instagram">
            <label class="checkboxLabel" for="formReferer4">Instagram</label>
        </div>
        <div class="twoColumnWrapper">
            <input class="checkboxInput"
                   name="referer" id="formReferer5" type="radio"
                   value="Houzz.com">
            <label class="checkboxLabel" for="formReferer5">Houzz.com</label>
        </div>
        <div class="twoColumnWrapper">
            <input class="checkboxInput"
                   name="referer" id="formReferer6" type="radio"
                   value="Homeadvisor.com">
            <label class="checkboxLabel" for="formReferer6">Homeadvisor.com</label>
        </div>
        <div class="twoColumnWrapper">
            <input class="checkboxInput"
                   name="referer" id="formReferer7" type="radio"
                   value="Postcard">
            <label class="checkboxLabel" for="formReferer7">Postcard</label>
        </div>
        <div class="twoColumnWrapper">
            <input class="checkboxInput"
                   name="referer" id="formReferer8" type="radio"
                   value="Other">
            <label class="checkboxLabel" for="formReferer8">Other</label>
        </div>
    </div>
    <div class="submitWrapper">
        <p class="textBlock">
            By clicking SUBMIT you agree to our
            <a href="#" class="textLink">terms and conditions</a>
        </p>
        <button class="submitButton" type="submit">SUBMIT</button>
    </div>
</form>