<section class="cardSection">
    <div class="wrapper center">
        <div class="cardWrapper">
            <div class="userWrapper">
                <div class="userAvatar">
                    <picture class="avatarPicture">
                        <source srcset="/public/images/temp/avatar_130x130.webp,
                                        /public/images/temp/avatar_130x130@x2.webp 2x"
                                type="image/webp">
                        <source srcset="/public/images/temp/avatar_130x130.jpg,
                                        /public/images/temp/avatar_130x130@x2.jpg 2x"
                                type="image/jpeg">
                        <img class="avatarPicture"
                             src="/public/images/temp/avatar_130x130.jpg"
                             srcset="/public/images/temp/avatar_130x130.jpg,
                                     /public/images/temp/avatar_130x130@x2.jpg 2x"
                             alt="avatar photo">
                    </picture>
                </div>
                <div class="userInfoWrapper">
                    <span class="userName">Janet Boyd</span>
                    <span class="userMembership">Member since 2019</span>
                </div>
            </div>
            <div class="cardButtonsWrapper">
                <button class="cardButton editProfileButton" type="button">
                    <span class="cardIcon"></span> Edit profile
                </button>
                <button class="cardButton addPhotoButton" type="button">
                    <span class="cardIcon"></span> Add photo
                </button>
            </div>
        </div>
    </div>
</section>