<ul class="shareLinks">
    <li class="shareLinkWrapper facebook">
        <button class="shareLink">Facebook</button>
    </li>
    <li class="shareLinkWrapper twitter">
        <button class="shareLink">Twitter</button>
    </li>
    <li class="shareLinkWrapper whatsapp">
        <button class="shareLink">Whatsapp</button>
    </li>
    <li class="shareLinkWrapper pinterest">
        <button class="shareLink">Pinterest</button>
    </li>
</ul>