<section class="modalSection editProfileModal">
    <div class="modalBlurWrapper"></div>
    <div class="modalMainWrapper editProfileWrapper">
        <div class="modalContentWrapper2">
            {{> forms/edit-profile.form }}
            <button class="closeButton">CLOSE MODAL</button>
        </div>
    </div>
</section>