<section class="listSection">
    <ul class="listNode normalVisible">
        <li class="listWrapper">
            <a class="wrapperLink addLink" href="/admin/offices/add">Add office</a>
        </li>
        {{# each offices }}
            <li class="listWrapper sortNode" data-id="{{{ officeID }}}">
                <a class="wrapperLink" href="/admin/offices/edit/{{{ officeID }}}">
                    <div class="defaultImage"></div>
                    <span class="listTitle minTitle">{{{ officeTitle }}}</span>
                </a>
            </li>
        {{/ each }}
    </ul>
</section>