<section class="pageHeader">
    <div class="wrapper headerWrapper">
        <div class="contentWrapper">
            <h1 class="pageTitle">How it works</h1>
            {{> page-header/header-menu }}
            <nav class="breadcrumbs">
                <ul class="breadcrumbList">
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/">Basement Remodeling Company</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink">How it works</span>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink breadcrumbActive">Contractor FAQ</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<section class="contractorContent">
    <div class="wrapper mainWrapper">
        <h1 class="pageTitle">Basement Contractor Interview Questions</h1>
        <p class="textBlock">When it comes to basement projects, choosing the right contractor is one of the most important decisions that you have to make. Basement Remodeling Company understands this, which is why we have prepared a full <a class="colorLink" href="#">list of questions</a> for you to ask your contractor during your next in-house interview. Before you go looking any further for a contractor, however, please allow us to be your first interview by reviewing our answers below.</p>
        <ol class="answerList">
            <li class="answerWrapper faqIcon">
                <p class="answerHeader">1. How long has your company been in business?</p>
                <p class="answerText">Basement Remodeling Company began over ten years ago in 2006, and we have successfully renovated hundreds of basements since then. The owner’s construction background dates back to early 2000s.</p>
            </li>
            <li class="answerWrapper faq2Icon">
                <p class="answerHeader">2. How is your company organized and what is your service area?</p>
                <p class="answerText">Basement Remodeling Company is a family-owned Limited Liability Company (LLC) with headquarters and showroom in Rockville, Maryland, and warehouse operations in Beltsville, Maryland. In Maryland, we serve all of Montgomery County and Howard County, and we also have a limited but growing presence in Frederick, Prince George’s, and Anne Arundel counties. We are also stationed in Virginia, where we remodel basements in Fairfax, Arlington and Alexandria counties.</p>
            </li>
            <li class="answerWrapper faq3Icon">
                <p class="answerHeader">3. What types of construction projects do you specialize in?</p>
                <p class="answerText">As the name says, we only specialize in basements. This type of remodeling is what we take the most pride in, and it is what we do the best.</p>
            </li>
            <li class="answerWrapper faq4Icon">
                <p class="answerHeader">4. What sets your company apart from other contractors?</p>
                <p class="answerText">At Basement Remodeling Company, we care about our reputation and always do our best to satisfy clients. Our excellent local reputation is further evidenced by over 300 positive reviews on Angie’s list, Houzz, Google, and elsewhere. We are, quite simply, the masters of basements. Other contractors will say they can remodel anything, but in reality, each area of the house requires a specialist. We stick with what we know and get it right the first time.</p>
            </li>
            <li class="answerWrapper faq5Icon">
                <p class="answerHeader">5. Have you ever operated under another name?</p>
                <p class="answerText">Basement Remodeling Company is our trade name, but our legal name is ACH Group, LLC. We used to operate under Basement Masters.</p>
            </li>
            <li class="answerWrapper faq6Icon">
                <p class="answerHeader">6. What type of license do you have? What is the number?</p>
                <p class="answerText">Basement Remodeling Company is our Maryland Home Improvement Commission Licensed Contractor:</p>
                <p class="answerText">Pavel Abaev, Reg. number: 102925</p>
                <p class="answerText">Maryland Home Improvement Commission Corporate License:</p>
                <p class="answerText">ACH Group LLC, Reg. number: 129172</p>
                <p class="answerText">Virginia Class A Contractor License:</p>
                <p class="answerText">ACH Group LLC dba Basement Masters, Reg. number: 2705159425 name, but our legal name is ACH Group, LLC.</p>
            </li>
            <li class="answerWrapper faq7Icon">
                <p class="answerHeader">7. Are you insured? If so, what kind of nsurance, and for how much?</p>
                <p class="answerText">We are absolutely insured for a minimum of $1 million. We believe in full disclosure, which is why official certificates of our general liability and worker’s compensation insurance policies are available for download on our website.</p>
            </li>
            <li class="answerWrapper faq8Icon">
                <p class="answerHeader">8. Do you have design services available?</p>
                <p class="answerText">Yes, absolutely. We can develop blueprint layouts and render 3D visualizations that will bring your space to life, and we also offer complementary interior decorating services that will cover paintjobs, accents, flooring, and more. Depending on the size and scope of the project, you may need an additional architect or structural engineer.</p>
            </li>
            <li class="answerWrapper faq9Icon">
                <p class="answerHeader">9. What sort of financial plans do offer?</p>
                <p class="answerText">We offer a wide variety of financing options, including interest-free loans for up to 18 months.</p>
            </li>
            <li class="answerWrapper faq10Icon">
                <p class="answerHeader">10. What is your warranty?</p>
                <p class="answerText">Every project comes with a 1-year labor warranty. You can also choose an additional basement protection plan that is $500 a year (3-year minimum).</p>
            </li>
            <li class="answerWrapper faq11Icon">
                <p class="answerHeader">11. What is your BBB rating? Do you have any complaints?</p>
                <p class="answerText">Our BBB rating is A+, completely perfect. We have never had any complaints filed against us on BBB – or anywhere else, for that matter.</p>
            </li>
            <li class="answerWrapper faq12Icon">
                <p class="answerHeader">12. Have you ever won any awards?</p>
                <p class="answerText">Yes, we are proud to be the #1 leading basement company in all of Maryland and Northern Virginia. We have won at least one award every year for our outstanding customer service and design achievements. Check out our full list of distinguishing awards and see for yourself.</p>
            </li>
            <li class="answerWrapper faq13Icon">
                <p class="answerHeader">13. May I have a list of references for projects you have completed that are similar to my own?</p>
                <p class="answerText">Absolutely. We have a 10-page list of references available upon request (please email us at <a class="colorLink" href="mailto:contacts@basementremodeling.com">contacts@basementremodeling.com</a>).</p>
            </li>
            <li class="answerWrapper faq14Icon">
                <p class="answerHeader">14. Do you need any special permits for my project?</p>
                <p class="answerText">Yes, every basement finishing and remodeling project requires a specific set of permits, depending on your county laws. Our permits include, but are not limited to, building, electrical, plumbing, mechanical, and fire protection. There are typically between 5-8 inspections that we have to pass during this process. Note: By having a contractor's work inspected, your local government is making sure that your project is done according to the most current building codes.</p>
            </li>
            <li class="answerWrapper faq15Icon">
                <p class="answerHeader">15. Do you have employees, or do you hire subcontractors?</p>
                <p class="answerText">At Basement Remodeling Company, we have a well-educated and certified team of interior decorators, designers, project managers, carpenters, and plumbers. We also refer to trusted subcontractors for electrical work, insulation, drywall, painting, flooring, and a few other lesser tasks. The combined experience of our employees and subcontractors is over 250 years.</p>
            </li>
            <li class="answerWrapper faq16Icon">
                <p class="answerHeader">16. How do you manage projects? Who will be in charge?</p>
                <p class="answerText">For any given project, we make sure that you will have at least one person dedicated to working alongside you at all times. To achieve this, we assign a lead interior designer as well as a customer service manager who is in charge of scheduling, quality control, and keeping you up to date at all times. In addition, you will have direct access to the cellphone of Pavel, owner of Basement Remodeling Company.</p>
            </li>
            <li class="answerWrapper faq17Icon">
                <p class="answerHeader">17. What are your hours of operation?</p>
                <p class="answerText">Our normal business hours are Monday through Friday, 8am to 6pm. We can also work on Saturdays if needed.</p>
            </li>
            <li class="answerWrapper faq18Icon">
                <p class="answerHeader">18. What is the typical procedure for an average job site?</p>
                <p class="answerText">Basement Remodeling Company strives to maintain your privacy at all times. Nobody will need to enter any other room besides your basement. We install a temporary door lock on your basement’s door (with the key secured in a lockbox right by the door), and we supply our own portable restrooms on the premises.</p>
            </li>
            <li class="answerWrapper faq19Icon">
                <p class="answerHeader">19. Is there an official contract for the project?</p>
                <p class="answerText">Basement Remodeling Company strives to maintain your privacy at all times. Nobody will need to enter any other room Yes, every contract will include an itemized list of everything that needs to be done along with starting dates, deadlines, and an easy-to-follow payment schedule. your basement. We install a temporary door lock on your basement’s door (with the key secured in a lockbox right by the door), and we supply our own portable restrooms on the premises.</p>
            </li>
            <li class="answerWrapper faq20Icon">
                <p class="answerHeader">20. What is your payment schedule?</p>
                <p class="answerText">Each job has 4 equal payments:</p>
                <p class="answerText">• 1st payment – due on the first day.</p>
                <p class="answerText">• 2nd payment – due after the rough-in plumbing, electrical work, and framing have passed inspection.</p>
                <p class="answerText">• 3rd payment – due upon 75% completion of all work.</p>
                <p class="answerText">• Final payment – due when the job is 100% completed and all of the final inspections have passed.</p>
            </li>
        </ol>
        <button class="downloadButton">Download PDF file with the full list of questions</button>
    </div>
</section>