<form class="formWrapper">
    <h2 class="modalTitle">
        We are happy to announce:
        <span class="nobr">in-home consultations are now free!</span>
    </h2>
    <p>
        Please chose your 1 hour ETA
        <span class="nobr">(Estimated Time of Representative Arrival)</span>
    </p>

    <div class="monthsWrapper">
        <div class="monthsButton">
            <button class="prevMonth" type="button">Previous month</button>
            <strong class="monthText">DECEMBER</strong> 2019
            <button class="nextMonth" type="button">Next month</button>
        </div>
    </div>

    <div class="datesTable"></div>

</form>