<form class="formWrapper">
    <h2 class="sectionTitle">Contact us</h2>
    <div class="progressBar">
        <div class="progressLine" style="width: 40%"></div>
    </div>
    <div class="twoColumnWrapper">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="firstName">First name</label>
            <input class="fieldInput" id="firstName" type="text">
        </div>
        <div class="fieldWrapper">
            <label class="fieldLabel" for="lastName">Last name</label>
            <input class="fieldInput" id="lastName" type="text">
        </div>
    </div>
    <div class="threeColumnWrapper">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="email">E-mail</label>
            <input class="fieldInput" id="email" type="text">
        </div>
        <div class="fieldWrapper">
            <label class="fieldLabel" for="phoneNumber">Phone number</label>
            <input class="fieldInput" id="phoneNumber" type="text">
        </div>
        <div class="fieldWrapper">
            <label class="fieldLabel" for="zipCode">Zip code</label>
            <input class="fieldInput" id="zipCode" type="text">
        </div>
    </div>
    <p class="inputTitle">Type of Service:</p>
    <div class="oneColumnFieldset">
        <div class="checkboxWrapper">
            <input class="checkboxInput" name="serviceType" id="service1" type="checkbox" value="1">
            <label class="checkboxLabel" for="service1">
                Finish an unfinished basement (full or part)
            </label>
        </div>
        <div class="checkboxWrapper">
            <input class="checkboxInput" name="serviceType" id="service2" type="checkbox" value="2">
            <label class="checkboxLabel" for="service2">Partial basement remodeling</label>
        </div>
        <div class="checkboxWrapper">
            <input class="checkboxInput" name="serviceType" id="service3" type="checkbox" value="3">
            <label class="checkboxLabel" for="service3">Add bathroom or wet-bar</label>
        </div>
        <div class="checkboxWrapper">
            <input class="checkboxInput" name="serviceType" id="service4" type="checkbox" value="4">
            <label class="checkboxLabel" for="service4">Foundation repairs</label>
        </div>
        <div class="checkboxWrapper">
            <input class="checkboxInput" name="serviceType" id="service5" type="checkbox" value="5">
            <label class="checkboxLabel" for="service5">Complete basement remodeling</label>
        </div>
        <div class="checkboxWrapper">
            <input class="checkboxInput" name="serviceType" id="service6" type="checkbox" value="6">
            <label class="checkboxLabel" for="service6">Flooded basement restoration</label>
        </div>
        <div class="checkboxWrapper">
            <input class="checkboxInput" name="serviceType" id="service7" type="checkbox" value="7">
            <label class="checkboxLabel" for="service7">Add egress window or walk-out</label>
        </div>
        <div class="checkboxWrapper">
            <input class="checkboxInput" name="serviceType" id="service8" type="checkbox" value="8">
            <label class="checkboxLabel" for="service8">Basement waterproofing</label>
        </div>
    </div>
    <div class="fieldWrapper">
        <label class="fieldLabel" for="message">Message</label>
        <textarea class="fieldTextarea" id="message" name="message"></textarea>
    </div>
    <div class="threeColumnWrapper">
        <div class="selectWrapper">
            <p class="selectLabel">How soon would you like to have an in-home consultation?</p>
            <div class="selectElement">WITHIN A MONTH</div>
        </div>
        <div class="selectWrapper">
            <p class="selectLabel">How soon would you like the project to get started?</p>
            <div class="selectElement">WITHIN 2 WEEKS</div>
        </div>
        <div class="selectWrapper">
            <p class="selectLabel">What is your budget?</p>
            <div class="selectElement">$20,000 - $40,000</div>
        </div>
    </div>
    <p class="inputTitle">How did you find us?</p>
    <div class="findUsWrapper">
        <div class="twoColumnWrapper">
            <input class="checkboxInput" name="findUs" id="find1" type="radio" value="1">
            <label class="checkboxLabel" for="find1">Google search</label>
        </div>
        <div class="twoColumnWrapper">
            <input class="checkboxInput" name="findUs" id="find2" type="radio" value="2">
            <label class="checkboxLabel" for="find2">Angieslist.com</label>
        </div>
        <div class="twoColumnWrapper">
            <input class="checkboxInput" name="findUs" id="find3" type="radio" value="3">
            <label class="checkboxLabel" for="find3">Facebook</label>
        </div>
        <div class="twoColumnWrapper">
            <input class="checkboxInput" name="findUs" id="find4" type="radio" value="4">
            <label class="checkboxLabel" for="find4">Instagram</label>
        </div>
        <div class="twoColumnWrapper">
            <input class="checkboxInput" name="findUs" id="find5" type="radio" value="5">
            <label class="checkboxLabel" for="find5">Houzz.com</label>
        </div>
        <div class="twoColumnWrapper">
            <input class="checkboxInput" name="findUs" id="find6" type="radio" value="6">
            <label class="checkboxLabel" for="find6">Homeadvisor.com</label>
        </div>
        <div class="twoColumnWrapper">
            <input class="checkboxInput" name="findUs" id="find7" type="radio" value="7">
            <label class="checkboxLabel" for="find7">Postcard</label>
        </div>
        <div class="twoColumnWrapper">
            <input class="checkboxInput" name="findUs" id="find8" type="radio" value="8">
            <label class="checkboxLabel" for="find8">Other</label>
        </div>
    </div>
    <div class="submitWrapper">
        <p class="textBlock">
            By clicking SUBMIT you agree to our
            <a href="#" class="textLink">terms and conditions</a>
        </p>
        <button class="submitButton" type="submit">SUBMIT</button>
    </div>
</form>