<form class="formWrapper">
    <h2 class="modalTitle">CREATE ALBUM</h2>
    <div class="oneColumnWrapper">
        <div class="formPhotoWrapper">
            <div class="inputPhotoField albumField">
                <input type="file" class="photoField" id="albumCover" name="albumCover">
                <label class="photoLabel" for="albumCover"></label>
            </div>
        </div>
        <div class="formFieldsWrapper">
            <div class="oneColumnWrapper">
                <div class="fieldWrapper">
                    <label class="fieldLabel" for="albumTitle">Title</label>
                    <input class="fieldInput" name="albumTitle" id="albumTitle" type="text">
                </div>
            </div>
            <div class="submitWrapper">
                <button class="submitButton" disabled type="submit" title="Create album">CREATE</button>
            </div>
        </div>
    </div>
</form>