<form class="formWrapper">
    <h2 class="modalTitle">EDIT ALBUM</h2>
    <form class="oneColumnWrapper formWrapper">
        <div class="formPhotoWrapper">
            <div class="inputPhotoField albumField">
                <input type="hidden" class="hiddenField" name="albumID" id="editAlbumID">
                <input type="file" class="photoField" name="albumCover" id="editAlbumCover">
                <label class="photoLabel" for="editAlbumCover">EDIT PHOTO</label>
                <img class="inputFieldPicture" src="" alt="album picture">
            </div>
        </div>
        <div class="formFieldsWrapper">
            <div class="oneColumnWrapper">
                <div class="fieldWrapper">
                    <label class="fieldLabel" for="editAlbumTitle">Title</label>
                    <input class="fieldInput" name="albumTitle" id="editAlbumTitle" type="text">
                </div>
            </div>
            <div class="submitWrapper">
                <button class="deleteButton" title="Delete album" type="button">Delete album</button>
                <button class="submitButton" title="Update album" type="submit">UPDATE</button>
            </div>
        </div>
    </form>
</form>