<form class="formWrapper">
    <h2 class="modalTitle">EDIT PHOTO</h2>
    <div class="oneColumnWrapper">
        <div class="formPhotoWrapper">
            <img class="uploadedPhoto"
                 src="/public/images/temp/collection_page-image4.jpg"
                 alt="uploaded photo">
        </div>
        <div class="formFieldsWrapper">
            <div class="oneColumnWrapper">
                <div class="fieldWrapper">
                    <label class="fieldLabel" for="albumTitle">Title</label>
                    <input class="fieldInput" id="albumTitle" type="text" value="My Fireplace">
                </div>
            </div>
            <div class="submitWrapper">
                <button class="deleteButton" type="button">Delete photo</button>
                <button class="submitButton" type="submit">UPDATE</button>
            </div>
        </div>
    </div>
</form>

<form class="formWrapper" style="display: none;">
    <h2 class="modalTitle">EDIT PHOTO</h2>
    <div class="oneColumnWrapper">
        <div class="formPhotoWrapper">
            <img class="uploadedPhoto"
                 src="/public/images/temp/collection_page-image4.jpg"
                 alt="uploaded photo">
            <div class="removePhotoWrapper">
                <p class="removePhotoAnnotation">Are you sure you want to remove this photo?</p>
                <div class="removePhotoButtons">
                    <button class="cancelButton removePhotoButton" type="button">CANCEL</button>
                    <button class="deleteButton removePhotoButton" type="button">DELETE</button>
                </div>
            </div>
        </div>
        <div class="formFieldsWrapper">
            <div class="oneColumnWrapper">
                <div class="fieldWrapper">
                    <label class="fieldLabel" for="albumTitle">Title</label>
                    <input class="fieldInput" id="albumTitle" type="text" value="My Fireplace">
                </div>
            </div>
            <div class="submitWrapper">
                <button class="deleteButton" type="button">Delete photo</button>
                <button class="submitButton disabledButton" disabled type="submit">UPDATE</button>
            </div>
        </div>
    </div>
</form>