<form class="formWrapper">
    <h2 class="modalTitle">EDIT PROFILE</h2>
    <div class="twoColumnWrapper">
        <div class="formPhotoWrapper">
            <div class="inputPhotoField avatarField">
                <input class="photoField" type="file" id="avatarPhoto" name="avatarPhoto">
                <label class="photoLabel" for="avatarPhoto">EDIT PHOTO</label>
                <img class="inputFieldPicture" src="/public/images/temp/avatar_130x130.jpg" alt="user avatar">
            </div>
        </div>
        <div class="formFieldsWrapper">
            <div class="twoColumnWrapper">
                <div class="fieldWrapper">
                    <label class="fieldLabel" for="firstName">First name</label>
                    <input class="fieldInput" id="firstName" type="text">
                </div>
                <div class="fieldWrapper">
                    <label class="fieldLabel" for="lastName">Last name</label>
                    <input class="fieldInput" id="lastName" type="text">
                </div>
            </div>
            <div class="twoColumnWrapper">
                <div class="fieldWrapper">
                    <label class="fieldLabel" for="userName">User name</label>
                    <input class="fieldInput" id="userName" type="text">
                </div>
            </div>
            <div class="twoColumnWrapper">
                <div class="fieldWrapper">
                    <label class="fieldLabel" for="userMail">E-mail</label>
                    <input class="fieldInput" id="userMail" type="text">
                </div>
            </div>
            <div class="submitWrapper">
                <button class="submitButton" disabled type="submit">UPDATE</button>
            </div>
        </div>
    </div>
</form>