<form class="formWrapper">
    <h2 class="modalTitle">EDIT ALBUM</h2>
    <div class="oneColumnWrapper">
        <div class="formPhotoWrapper">
            <div class="inputPhotoField albumField">
                <input type="file" class="photoField" id="avatarPhoto" name="avatarPhoto">
                <label class="photoLabel" for="avatarPhoto">EDIT PHOTO</label>
                <img class="inputFieldPicture"
                     src="/public/images/categories/cat-2-6_209x209.jpg"
                     alt="category image">
            </div>
        </div>
        <div class="formFieldsWrapper">
            <div class="oneColumnWrapper">
                <div class="fieldWrapper">
                    <label class="fieldLabel" for="albumTitle">Title</label>
                    <input class="fieldInput" id="albumTitle" type="text" value="My Fireplace">
                </div>
            </div>
            <div class="submitWrapper">
                <button class="deleteButton" type="button">Delete album</button>
                <button class="submitButton" type="submit">UPDATE</button>
            </div>
        </div>
    </div>
</form>