<form class="formWrapper">
    <div class="twoColumnWrapper">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="firstName">First name</label>
            <input class="fieldInput" id="firstName" type="text">
        </div>
        <div class="fieldWrapper">
            <label class="fieldLabel" for="lastName">Last name</label>
            <input class="fieldInput" id="lastName" type="text">
        </div>
    </div>
    <div class="threeColumnWrapper">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="email">E-mail</label>
            <input class="fieldInput" id="email" type="text">
        </div>
        <div class="fieldWrapper">
            <label class="fieldLabel" for="phoneNumber">SQ. FT. to finish/remodel</label>
            <input class="fieldInput" id="phoneNumber" type="text">
        </div>
        <div class="fieldWrapper">
            <label class="fieldLabel" for="zipCode">Zip code</label>
            <input class="fieldInput" id="zipCode" type="text">
        </div>
    </div>
    <div class="radioButtonsBlock">
        <div class="twoColumnWrapper">
            <p class="selectLabel">Would you like to have a bathroom?</p>
            <div class="radioButtonsWrapper">
                <div class="buttonWrapper">
                    <input class="radioInput" name="bathroom" id="bathroom1" type="radio" value="yes">
                    <label class="radioLabel" for="bathroom1">YES</label>
                </div>
                <div class="buttonWrapper">
                    <input class="radioInput" name="bathroom" id="bathroom2" type="radio" value="no">
                    <label class="radioLabel" for="bathroom2">NO</label>
                </div>
            </div>
        </div>
        <div class="twoColumnWrapper">
            <p class="selectLabel">Demolition required</p>
            <div class="radioButtonsWrapper">
                <div class="buttonWrapper">
                    <input class="radioInput" name="demolition" id="demolition1" type="radio" value="yes">
                    <label class="radioLabel" for="demolition1">YES</label>
                </div>
                <div class="buttonWrapper">
                    <input class="radioInput" name="demolition" id="demolition2" type="radio" value="no">
                    <label class="radioLabel" for="demolition2">NO</label>
                </div>
            </div>
        </div>
        <div class="twoColumnWrapper">
            <p class="selectLabel">Would you like to have a wet bar/kitchenette?</p>
            <div class="radioButtonsWrapper">
                <div class="buttonWrapper">
                    <input class="radioInput" name="kitchen" id="kitchen1" type="radio" value="yes">
                    <label class="radioLabel" for="kitchen1">YES</label>
                </div>
                <div class="buttonWrapper">
                    <input class="radioInput" name="kitchen" id="kitchen2" type="radio" value="no">
                    <label class="radioLabel" for="kitchen2">NO</label>
                </div>
            </div>
        </div>
        <div class="twoColumnWrapper">
            <p class="selectLabel">Ceiling height over 8ft</p>
            <div class="radioButtonsWrapper">
                <div class="buttonWrapper">
                    <input class="radioInput" name="height" id="height1" type="radio" value="yes">
                    <label class="radioLabel" for="height1">YES</label>
                </div>
                <div class="buttonWrapper">
                    <input class="radioInput" name="height" id="height2" type="radio" value="no">
                    <label class="radioLabel" for="height2">NO</label>
                </div>
            </div>
        </div>
    </div>
    <p class="inputTitle">How did you find us?</p>
    <div class="findUsWrapper">
        <div class="twoColumnWrapper">
            <input class="checkboxInput" name="findUs" id="find1" type="radio" value="1">
            <label class="checkboxLabel" for="find1">Google search</label>
        </div>
        <div class="twoColumnWrapper">
            <input class="checkboxInput" name="findUs" id="find2" type="radio" value="2">
            <label class="checkboxLabel" for="find2">Angieslist.com</label>
        </div>
        <div class="twoColumnWrapper">
            <input class="checkboxInput" name="findUs" id="find3" type="radio" value="3">
            <label class="checkboxLabel" for="find3">Facebook</label>
        </div>
        <div class="twoColumnWrapper">
            <input class="checkboxInput" name="findUs" id="find4" type="radio" value="4">
            <label class="checkboxLabel" for="find4">Instagram</label>
        </div>
        <div class="twoColumnWrapper">
            <input class="checkboxInput" name="findUs" id="find5" type="radio" value="5">
            <label class="checkboxLabel" for="find5">Houzz.com</label>
        </div>
        <div class="twoColumnWrapper">
            <input class="checkboxInput" name="findUs" id="find6" type="radio" value="6">
            <label class="checkboxLabel" for="find6">Homeadvisor.com</label>
        </div>
        <div class="twoColumnWrapper">
            <input class="checkboxInput" name="findUs" id="find7" type="radio" value="7">
            <label class="checkboxLabel" for="find7">Postcard</label>
        </div>
        <div class="twoColumnWrapper">
            <input class="checkboxInput" name="findUs" id="find8" type="radio" value="8">
            <label class="checkboxLabel" for="find8">Other</label>
        </div>
    </div>
    <div class="submitWrapper">
        <p class="textBlock">
            By clicking SUBMIT you agree to our
            <a href="#" class="textLink">terms and conditions</a>
        </p>
        <button class="submitButton" type="submit">SUBMIT</button>
    </div>
</form>