<form class="formWrapper" action="/profile/">
    <h1 class="sectionTitle centerText">Sign up to become a member</h1>
    <div class="networkButtonsWrapper">
        <button class="networkButton facebookButton" type="button">Continue with Facebook</button>
        <button class="networkButton googleButton" type="button">Continue with Google</button>
    </div>
    <div class="oneColumnWrapper">
        <div class="fieldWrapper">
            <p class="selectLabel">First name</p>
            <label class="fieldLabel" for="firstName">First name</label>
            <input class="fieldInput" id="firstName" type="text">
        </div>
    </div>
    <div class="oneColumnWrapper">
        <div class="fieldWrapper">
            <p class="selectLabel">Last name</p>
            <label class="fieldLabel" for="lastName">Last name</label>
            <input class="fieldInput" id="lastName" type="text">
        </div>
    </div>
    <div class="oneColumnWrapper">
        <div class="fieldWrapper">
            <p class="selectLabel">User name</p>
            <label class="fieldLabel" for="userName">User name</label>
            <input class="fieldInput" id="userName" type="text">
        </div>
    </div>
    <div class="oneColumnWrapper">
        <div class="fieldWrapper">
            <p class="selectLabel">E-mail</p>
            <label class="fieldLabel" for="userName">E-mail</label>
            <input class="fieldInput" id="userName" type="text">
        </div>
    </div>
    <div class="oneColumnWrapper">
        <div class="fieldWrapper">
            <p class="selectLabel">Password</p>
            <label class="fieldLabel" for="userName">Create a password</label>
            <input class="fieldInput" id="userName" type="text">
        </div>
    </div>
    <div class="oneColumnWrapper">
        <div class="fieldWrapper">
            <p class="selectLabel">Password</p>
            <label class="fieldLabel" for="userName">Confirm your password</label>
            <input class="fieldInput" id="userName" type="text">
        </div>
    </div>
    <div class="submitWrapper">
        <button class="submitButton" type="submit">SIGN UP with e-mail</button>
        <p class="textBlock centerText">
            Already have an account?
            <a class="userLogin textLink" href="#">SIGN IN</a>
        </p>
    </div>
</form>