<section class="offersSection homeSection">
    <div class="wrapper headerWrapper maxPadding">
        <h2 class="sectionTitle">{{{ content.content25 }}}</h2>
        <p class="textBlock">{{{ content.content26 }}}</p>
        {{> micro-blocks/offers-buttons/offers-buttons }}
        <p class="textBlock asteriskText">* No interest if paid in full during promotional period, 17.99%-26.99% APR for 84 months if not paid in full.</p>
        <p class="textBlock asteriskText">** Offer is subject to credit approval</p>
        <a class="offersButton" href="/about-us/financing-offers">APPLY NOW</a>
        <a class="logoSprite greenskyLogo" href="#">GreenSky</a>
    </div>
</section>