<section class="offersSection homeSection">
    <div class="wrapper headerWrapper maxPadding">
        <h2 class="sectionTitle">Basement Remodel Financing Available</h2>
        <p class="textBlock">We’ve partnered with GreenSky Credit to offer excellent basement remodel financing options for free or at a low cost. You can instantly get basement remodel financing and enjoy a brand new basement in just a few weeks. Choose a basement remodel financing plan and apply for up to $55,000 right now. GreenSky Credit – the leading home improvement loans provider in the nation – offers a way to finally get basement finishing financing. No more tedious trips to the bank, no long approval processes, no additional paperwork required – just the capital you need to get basement remodel financing underway!</p>
        {{> micro-blocks/offers-buttons/offers-buttons }}
        <p class="textBlock asteriskText">* No interest if paid in full during promotional period, 17.99%-26.99% APR for 84 months if not paid in full.</p>
        <p class="textBlock asteriskText">** Offer is subject to credit approval</p>
        <a class="offersButton" href="/about-us/financing-offers">APPLY NOW</a>
        <a class="logoSprite greenskyLogo" href="#">GreenSky</a>
    </div>
</section>