<section class="listSection">
    <ul class="listNode normalVisible sortWrapper">
        <li class="listWrapper">
            <a class="wrapperLink addLink" href="/admin/landings/add">New location</a>
        </li>
        {{# each landings }}
            <li class="listWrapper">
                <a class="wrapperLink" href="/admin/landings/edit/{{{ landingID }}}">
                    <img class="listImage" src="{{{ landingImage }}}_1000x537.jpg" alt="{{{ pageURL }}}">
                    <span class="listTitle">{{{ pageTitle }}}</span>
                </a>
            </li>
        {{/ each }}
    </ul>
</section>