<section class="pageHeader">
    <div class="wrapper headerWrapper">
        <div class="contentWrapper">
            <h1 class="pageTitle">Portfolio</h1>
            <nav class="breadcrumbs">
                <ul class="breadcrumbList">
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/">Basement Remodeling Company</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/portfolio/">Portfolio</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink breadcrumbActive">Projects on the map</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<section class="filtersWrapper">
    <div class="wrapper headerWrapper">
        {{> micro-blocks/filters/portfolio.filters }}
    </div>
</section>

<section class="chosenFiltersWrapper portfolioActiveFilters">
    <div class="wrapper headerWrapper emptyChosenFilters">
        <form class="filtersForm" action="/api/portfolio/filter">
            <ul class="activeFilterList"></ul>
        </form>
    </div>
</section>

<section class="mapSection">
    <div class="mapBlock">
        <div class="mapBlockWrapper"></div>
        <div class="mapViewChanger">
            <button class="mapViewButton activeButton" type="button" title="Switch to map">MAP</button>
            <button class="mapViewButton" type="button" title="Switch to satellite">SATELLITE</button>
        </div>
        <a class="mapBackButton" href="/portfolio/">BACK TO PORTFOLIO</a>
        <div class="mapControlBlock">
            <button class="locationFindButton" type="button" title="Show my location">Show my location</button>
            <div class="locationZoomButtons">
                <button class="zoomButton zoomInButton" type="button" title="Zoom in">Zoom in</button>
                <button class="zoomButton zoomOutButton" type="button" title="Zoom out">Zoom out</button>
            </div>
        </div>
        <div class="mapPin tempPin"></div>
        <div class="pinCard">
            <h2 class="cardHeader">Rockville, MD New Construction</h2>
            <div class="cardPictureWrapper">
                <img class="cardPicture"
                     src="/public/images/temp/portfolio/portfolio-1_252x252.jpg"
                     alt="Rockville, MD New Construction">
                <a class="cardButton" href="/portfolio/1">VIEW PROJECT</a>
            </div>
            <button class="closeButton" title="Close pin">Close pin</button>
        </div>
    </div>
    <p class="mapNotification">All map markers are approximate and does not reflect exact location of the project.</p>
</section>