<section class="pageHeader">
    <div class="wrapper headerWrapper">
        <div class="contentWrapper">
            <h1 class="pageTitle">{{{ page.pageTitle }}}</h1>
            <nav class="breadcrumbs">
                <ul class="breadcrumbList">
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/">BasementRemodeling.com</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink breadcrumbActive">
                            Book your in-home consultation
                        </span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<section class="bookBlock">
    <div class="wrapper blockWrapper">
        <p>You are about to schedule an in-home consultation.</p>
        <p class="offerWrapper">
            <a class="offerLink" href="/about-us/financing-offers/">
                CLICK HERE TO REVIEW OUR FINANCING OFFERS AND APPLY ONLINE.<br>
                APPROVAL RATE OF OVER 90% AND DECISION IN UNDER 60 SECONDS.
            </a>
        </p>
        <div class="bookWrapper">
            <h2 class="bookTitle">Book your in-home consultation online</h2>
            <div class="scheduleWrapper">
                <a class="serviceLink consultationButton" href="#">
                    SCHEDULE YOUR <span class="nowrap">IN-HOME</span> CONSULTATION
                </a>
                <form class="zipCodeForm hiddenWrapper">
                    <label class="zipCodeLabel">Enter your ZIP code</label>
                    <input class="zipCodeField" name="zipCode" type="text" placeholder="Enter your ZIP code">
                    <button class="zipCodeButton" type="button">GO</button>
                    <div class="zipCodeLoader hiddenLoader"></div>
                    <div class="errorWrapper hiddenWrapper"></div>
                </form>
            </div>
        </div>
        <p class="offerWrapper">
            <a class="offerLink" href="/about-us/financing-offers/">
                FINANCING OF UP TO $60,000 WITH AN APPROVAL RATE OF 90%.<br>
                APPLY ONLINE AND GET APPROVED IN UNDER 60 SECONDS!
            </a>
        </p>
        <div class="bookRules">
            <h3 class="rulesTitle">HERE'S HOW IT WORKS:</h3>
            <ol>
                <li>Enter your ZIP code below and you will be forwarded to our live calendar that shows all of the availability for your selected service in your area.</li>
                <li>You will choose your 1-hour time frame for our project consultant's arrival.</li>
                <li>Consultation will take 1 to 2.5 hours.</li>
                <li>Our project consultant will go over all the features of your basement project.</li>
                <li>Our project consultant will explain to you every detail and every type of work that has to be done.</li>
                <li>Our project consultant will provide you with exact or preliminary pricing while still at your home.</li>
            </ol>
        </div>
    </div>
</section>