.ideasActiveFilters {
    border-bottom: 1px solid $bgSubColor;
    .emptyChosenFilters {
        padding: 0;
    }
}

.ideasMain {
    .ideasSortWrapper {
        @extend %font;
        @extend %animation;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 15px;
        margin-left: auto;
        background-color: transparent;
        border: none;
        font-size: 9px;
        font-weight: 800;
        color: $blackColor;
        outline: none;
        cursor: pointer;
        @include minWidth(480) {
            font-size: 13px;
            margin-bottom: 20px;
        }
        &:hover {
            color: $blueColor;
            &:before {
                color: $blackColor;
            }
            &:after {
                background: $blueColor;
            }
        }
        &:before {
            content: "Sort by:";
            margin-right: 10px;
            font-weight: 300;
        }
        &:after {
            content: "";
            @extend %buttonIconAfter;
            @extend %arrowIcon;
            @extend %animation;
            background: $blackColor;
        }
    }
}

.ideasFooter {
    background: $bgSubColor;
}