<section class="pageHeader">
    <h1 class="headerPicture">Explore our basement ideas by</h1>
    <div class="wrapper headerWrapper">
        <div class="contentWrapper">
            <nav class="headerCategories">
                <ul class="categoryList">
                    <li class="category">
                        <a class="categoryLink mainCategoriesSprite spacesCategory"
                           href="/basement-ideas/spaces/">
                            Spaces
                        </a>
                    </li>
                    <li class="category">
                        <a class="categoryLink mainCategoriesSprite featuresCategory"
                           href="/basement-ideas/features/">
                            Features
                        </a>
                    </li>
                    <li class="category">
                        <a class="categoryLink mainCategoriesSprite engineeringCategory"
                           href="/basement-ideas/engineering-features/">
                            Engineering Features
                        </a>
                    </li>
                </ul>
            </nav>
            <nav class="breadcrumbs">
                <ul class="breadcrumbList">
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/">Basement Remodeling Company</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink breadcrumbActive">Basement ideas</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<section class="pageHeader">
    <div class="wrapper headerWrapper">
        <h1 class="pageTitle">{{{ pageTitle }}}</h1>
        <div class="subCategoriesWrapper">
            <button class="sliderArrow previousSlide">Previous</button>
            <nav class="headerSubCategories">
                <ul class="categoryList">
                    <li class="category">
                        <a class="categoryLink spacesCategoriesSprite familyRooms"
                           href="/basement-ideas/spaces/family-rooms/">
                            Family Rooms
                        </a>
                    </li>
                    <li class="category">
                        <a class="categoryLink spacesCategoriesSprite bathroomsUpgraded"
                           href="/basement-ideas/spaces/bathrooms/">
                            Bathrooms
                        </a>
                    </li>
                    <li class="category">
                        <a class="categoryLink spacesCategoriesSprite wetBarsKitchenLike"
                           href="/basement-ideas/spaces/wet-bars/">
                            Wet Bars
                        </a>
                    </li>
                    <li class="category">
                        <a class="categoryLink spacesCategoriesSprite kidsPlayrooms"
                           href="/basement-ideas/spaces/kids-playrooms/">
                            Kids Playrooms
                        </a>
                    </li>
                    <li class="category">
                        <a class="categoryLink spacesCategoriesSprite mediaRoomsBasic"
                           href="/basement-ideas/spaces/media-rooms/">
                            Media rooms
                        </a>
                    </li>
                    <li class="category">
                        <a class="categoryLink spacesCategoriesSprite musicRooms"
                           href="/basement-ideas/spaces/music-rooms/">
                            Music rooms
                        </a>
                    </li>
                    <li class="category">
                        <a class="categoryLink spacesCategoriesSprite gym"
                           href="/basement-ideas/spaces/gym/">
                            Gym
                        </a>
                    </li>
                    <li class="category">
                        <a class="categoryLink spacesCategoriesSprite office"
                           href="/basement-ideas/spaces/office/">
                            Office
                        </a>
                    </li>
                    <li class="category">
                        <a class="categoryLink spacesCategoriesSprite laundry"
                           href="/basement-ideas/spaces/laundry/">
                            Laundry
                        </a>
                    </li>
                    <li class="category">
                        <a class="categoryLink spacesCategoriesSprite storageRooms"
                           href="/basement-ideas/spaces/storage-rooms">
                            Storage Rooms
                        </a>
                    </li>
                    <li class="category">
                        <a class="categoryLink spacesCategoriesSprite wineCellars"
                           href="/basement-ideas/spaces/wine-cellars">
                            Wine Cellars
                        </a>
                    </li>
                </ul>
            </nav>
            <button class="sliderArrow nextSlide">Next</button>
        </div>
        <nav class="breadcrumbs">
            <ul class="breadcrumbList">
                <li class="breadcrumbLinkWrapper">
                    <a class="breadcrumbLink" href="/">Basement Remodeling Company</a>
                </li>
                <li class="breadcrumbLinkWrapper">
                    <a class="breadcrumbLink" href="/basement-ideas/">Basement ideas</a>
                </li>
                <li class="breadcrumbLinkWrapper">
                    <span class="breadcrumbLink breadcrumbActive">Spaces</span>
                </li>
            </ul>
        </nav>
    </div>
</section>

<section class="ideasFilters">
    <div class="wrapper headerWrapper">
        <ul class="filterList">
            <li class="filter filterStyle">STYLE</li>
            <li class="filter activeFilter filterPrice">PRICE</li>
            <li class="filter filterSize">SIZE</li>
            <li class="filter clickedFilter filterWallColor"> WALL COLOR</li>
            <li class="filter filterFloorMaterial">FLOOR MATERIAL</li>
            <li class="filter filterFeatures">FEATURES</li>
        </ul>
    </div>
</section>

<section class="ideasActiveFilters">
    <div class="wrapper headerWrapper">
        <ul class="activeFilterList">
            <li class="activeFilter">CONTEMPORARY
                <button class="removeFilterButton">X</button>
            </li>
            <li class="activeFilter">$$
                <button class="removeFilterButton">X</button>
            </li>
            <li class="activeFilter">LVT
                <button class="removeFilterButton">X</button>
            </li>
            <li class="activeFilter">WITE
                <button class="removeFilterButton">X</button>
            </li>
            <li class="activeFilter">GRAY
                <button class="removeFilterButton">X</button>
            </li>
            <li class="activeFilter">BEIGE
                <button class="removeFilterButton">X</button>
            </li>
        </ul>
    </div>
</section>

<section class="ideasMain">
    <div class="wrapper">
        <button class="ideasSortWrapper">WHAT’S NEW</button>
        <ul class="ideaList">
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image1.webp,
                                    /public/images/temp/ideas_page-image1@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image1.jpg"
                         srcset="/public/images/temp/ideas_page-image1.jpg,
                                 /public/images/temp/ideas_page-image1@2x.jpg 2x"
                         alt="Basement remodel in Rockville, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement remodel in Rockville, MD</h3>
                <strong class="ideaAuthor">By Leigh designs</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image2.webp,
                                    /public/images/temp/ideas_page-image2@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image2.jpg"
                         srcset="/public/images/temp/ideas_page-image2.jpg,
                                 /public/images/temp/ideas_page-image2@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement Bathroom Remodel in Silver Spring, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image3.webp,
                                    /public/images/temp/ideas_page-image3@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image3.jpg"
                         srcset="/public/images/temp/ideas_page-image3.jpg,
                                 /public/images/temp/ideas_page-image3@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement Bathroom Remodel in Silver Spring, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image4.webp,
                                    /public/images/temp/ideas_page-image4@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image4.jpg"
                         srcset="/public/images/temp/ideas_page-image4.jpg,
                                 /public/images/temp/ideas_page-image4@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement Bathroom Remodel in Silver Spring, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image5.webp,
                                    /public/images/temp/ideas_page-image5@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image5.jpg"
                         srcset="/public/images/temp/ideas_page-image5.jpg,
                                 /public/images/temp/ideas_page-image5@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement Bathroom Remodel in Silver Spring, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image6.webp,
                                    /public/images/temp/ideas_page-image6@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image6.jpg"
                         srcset="/public/images/temp/ideas_page-image6.jpg,
                                 /public/images/temp/ideas_page-image6@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image7.webp,
                                    /public/images/temp/ideas_page-image7@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image7.jpg"
                         srcset="/public/images/temp/ideas_page-image7.jpg,
                                 /public/images/temp/ideas_page-image7@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement remodel in Rockville, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image8.webp,
                                    /public/images/temp/ideas_page-image8@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image8.jpg"
                         srcset="/public/images/temp/ideas_page-image8.jpg,
                                 /public/images/temp/ideas_page-image8@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement Bathroom Remodel in Silver Spring, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image9.webp,
                                    /public/images/temp/ideas_page-image9@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image9.jpg"
                         srcset="/public/images/temp/ideas_page-image9.jpg,
                                 /public/images/temp/ideas_page-image9@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement Bathroom Remodel in Silver Spring, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image10.webp,
                                    /public/images/temp/ideas_page-image10@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image10.jpg"
                         srcset="/public/images/temp/ideas_page-image10.jpg,
                                 /public/images/temp/ideas_page-image10@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement Bathroom Remodel in Silver Spring, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image11.webp,
                                    /public/images/temp/ideas_page-image11@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image11.jpg"
                         srcset="/public/images/temp/ideas_page-image11.jpg,
                                 /public/images/temp/ideas_page-image11@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement remodel in Rockville, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image12.webp,
                                    /public/images/temp/ideas_page-image12@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image12.jpg"
                         srcset="/public/images/temp/ideas_page-image12.jpg,
                                 /public/images/temp/ideas_page-image12@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image13.webp,
                                    /public/images/temp/ideas_page-image13@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image13.jpg"
                         srcset="/public/images/temp/ideas_page-image13.jpg,
                                 /public/images/temp/ideas_page-image13@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement remodel in Rockville, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image14.webp,
                                    /public/images/temp/ideas_page-image14@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image14.jpg"
                         srcset="/public/images/temp/ideas_page-image14.jpg,
                                 /public/images/temp/ideas_page-image14@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image15.webp,
                                    /public/images/temp/ideas_page-image15@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image15.jpg"
                         srcset="/public/images/temp/ideas_page-image15.jpg,
                                 /public/images/temp/ideas_page-image15@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement remodel in Rockville, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image16.webp,
                                    /public/images/temp/ideas_page-image16@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image16.jpg"
                         srcset="/public/images/temp/ideas_page-image16.jpg,
                                 /public/images/temp/ideas_page-image16@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement Bathroom Remodel in Silver Spring, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image17.webp,
                                    /public/images/temp/ideas_page-image17@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image17.jpg"
                         srcset="/public/images/temp/ideas_page-image17.jpg,
                                 /public/images/temp/ideas_page-image17@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement Bathroom Remodel in Silver Spring, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image18.webp,
                                    /public/images/temp/ideas_page-image18@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image18.jpg"
                         srcset="/public/images/temp/ideas_page-image18.jpg,
                                 /public/images/temp/ideas_page-image18@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement Bathroom Remodel in Silver Spring, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image19.webp,
                                    /public/images/temp/ideas_page-image19@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image19.jpg"
                         srcset="/public/images/temp/ideas_page-image19.jpg,
                                 /public/images/temp/ideas_page-image19@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement Bathroom Remodel in Silver Spring, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image1.webp,
                                    /public/images/temp/ideas_page-image1@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image1.jpg"
                         srcset="/public/images/temp/ideas_page-image1.jpg,
                                 /public/images/temp/ideas_page-image1@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement Bathroom Remodel in Silver Spring, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
        </ul>
        <button class="showMoreButton">SHOW MORE</button>
    </div>
</section>

<section class="ideasFooter">
    <div class="wrapper headerWrapper">
        <h2>Basement Remodeling Ideas</h2>
        <p>For the ultimate in entertainment, consider installing a premium home theater! With authentic movie seats, theater-style carpet, walls, and a recessed ceiling to hold your deluxe sound system, you and your family will feel like you are out for a night on the town.</p>
        <p>Like pocket doors, interior sliding barn doors are a rustic alternative to the traditional swinging door format. Interior barn style doors are made of virtually any material you can think of, from iron to steel, but most prefer the timeless look of a weathered set of double barn doors. Barn doors make great focal points by framing the beautiful room behind them on both sides, lending geometrical symmetry to the overall floorplan.</p>
        <p>Or, perhaps you would like to convey a more family-oriented design with soft lighting, modern furniture and casual artwork? Either way, our design experts can make all of your home theater basement ideas come true! Plus, you’ll always have the best seat!</p>
    </div>
</section>