<section class="pageHeader mainCategories">
    <h1 class="headerPicture">Explore our basement ideas by</h1>
    <div class="wrapper headerWrapper">
        <div class="contentWrapper">
            <nav class="headerCategories">
                <ul class="categoryList">
                    <li class="categoryWrapper">
                        <a class="categoryLink"
                           href="/basement-ideas/spaces/">
                            <img class="categoryImage"
                                 src="/public/images/categories/cat-1_209x209.jpg"
                                 alt="Spaces">
                            Spaces
                        </a>
                    </li>
                    <li class="categoryWrapper">
                        <a class="categoryLink"
                           href="/basement-ideas/features/">
                            <img class="categoryImage"
                                 src="/public/images/categories/cat-2_209x209.jpg"
                                 alt="Features">
                            Features
                        </a>
                    </li>
                    <li class="categoryWrapper">
                        <a class="categoryLink"
                           href="/basement-ideas/engineering-features/">
                            <img class="categoryImage"
                                 src="/public/images/categories/cat-3_209x209.jpg"
                                 alt="Engineering Features">
                            Engineering Features
                        </a>
                    </li>
                </ul>
            </nav>
            <nav class="breadcrumbs">
                <ul class="breadcrumbList">
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/">Basement Remodeling Company</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink breadcrumbActive">Basement ideas</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<section class="pageHeader middleCategories">
    <div class="wrapper headerWrapper">
        <h1 class="pageTitle">Spaces</h1>
        <div class="contentWrapper">
            <button class="sliderArrow previousSlide">Previous</button>
            <nav class="headerSubCategories">
                <ul class="categoryList">
                    <li class="categoryWrapper">
                        <a class="categoryLink"
                           href="/basement-ideas/spaces/family-rooms/">
                            <img class="categoryImage"
                                 src="/public/images/categories/cat-1-1_85x85.jpg"
                                 alt="Family Rooms">
                            Family Rooms
                        </a>
                    </li>
                    <li class="categoryWrapper">
                        <a class="categoryLink"
                           href="/basement-ideas/spaces/bathrooms/">
                            <img class="categoryImage"
                                 src="/public/images/categories/cat-1-2_85x85.jpg"
                                 alt="Bathrooms">
                            Bathrooms
                        </a>
                    </li>
                    <li class="categoryWrapper">
                        <a class="categoryLink"
                           href="/basement-ideas/spaces/wet-bars/">
                            <img class="categoryImage"
                                 src="/public/images/categories/cat-1-3_85x85.jpg"
                                 alt="Wet Bars">
                            Wet Bars
                        </a>
                    </li>
                    <li class="categoryWrapper">
                        <a class="categoryLink"
                           href="/basement-ideas/spaces/kids-playrooms/">
                            <img class="categoryImage"
                                 src="/public/images/categories/cat-1-4_85x85.jpg"
                                 alt="Kids Playrooms">
                            Kids Playrooms
                        </a>
                    </li>
                    <li class="categoryWrapper">
                        <a class="categoryLink"
                           href="/basement-ideas/spaces/media-rooms/">
                            <img class="categoryImage"
                                 src="/public/images/categories/cat-1-5_85x85.jpg"
                                 alt="Media rooms">
                            Media rooms
                        </a>
                    </li>
                    <li class="categoryWrapper">
                        <a class="categoryLink"
                           href="/basement-ideas/spaces/music-rooms/">
                            <img class="categoryImage"
                                 src="/public/images/categories/cat-1-6_85x85.jpg"
                                 alt="Music rooms">
                            Music rooms
                        </a>
                    </li>
                    <li class="categoryWrapper">
                        <a class="categoryLink"
                           href="/basement-ideas/spaces/gym/">
                            <img class="categoryImage"
                                 src="/public/images/categories/cat-1-7_85x85.jpg"
                                 alt="Gym">
                            Gym
                        </a>
                    </li>
                    <li class="categoryWrapper">
                        <a class="categoryLink"
                           href="/basement-ideas/spaces/office/">
                            <img class="categoryImage"
                                 src="/public/images/categories/cat-1-8_85x85.jpg"
                                 alt="Office">
                            Office
                        </a>
                    </li>
                    <li class="categoryWrapper">
                        <a class="categoryLink"
                           href="/basement-ideas/spaces/laundry/">
                            <img class="categoryImage"
                                 src="/public/images/categories/cat-1-9_85x85.jpg"
                                 alt="Laundry">
                            Laundry
                        </a>
                    </li>
                    <li class="categoryWrapper">
                        <a class="categoryLink"
                           href="/basement-ideas/spaces/storage-rooms">
                            <img class="categoryImage"
                                 src="/public/images/categories/cat-1-10_85x85.jpg"
                                 alt="Storage Rooms">
                            Storage Rooms
                        </a>
                    </li>
                    <li class="categoryWrapper">
                        <a class="categoryLink"
                           href="/basement-ideas/spaces/wine-cellars">
                            <img class="categoryImage"
                                 src="/public/images/categories/cat-1-11_85x85.jpg"
                                 alt="Wine Cellars">
                            Wine Cellars
                        </a>
                    </li>
                </ul>
            </nav>
            <button class="sliderArrow nextSlide">Next</button>
        </div>
        <nav class="breadcrumbs">
            <ul class="breadcrumbList">
                <li class="breadcrumbLinkWrapper">
                    <a class="breadcrumbLink" href="/">Basement Remodeling Company</a>
                </li>
                <li class="breadcrumbLinkWrapper">
                    <a class="breadcrumbLink" href="/basement-ideas/">Basement ideas</a>
                </li>
                <li class="breadcrumbLinkWrapper">
                    <span class="breadcrumbLink breadcrumbActive">Spaces</span>
                </li>
            </ul>
        </nav>
    </div>
</section>

<section class="pageHeader subCategories">
    <div class="wrapper headerWrapper">
        <div class="subCategoriesWrapper">
            <div class="pageTitleWrapper">
                <img class="pageTitleImage"
                     src="/public/images/categories/cat-1-2_131x131.jpg"
                     alt="Bathrooms">
                <h1 class="pageTitle">Bathrooms</h1>
            </div>
            <div class="categoriesListWrapper">
                <p class="subCategoriesHeader">Available subcategories:</p>
                <ul class="categoryList">
                    <li class="categoryWrapper activeCategory">
                        <a class="categoryLink" href="#">
                            <img class="categoryImage"
                                 src="/public/images/categories/cat-1-2-1_85x85.jpg"
                                 alt="Half">
                            Half
                        </a>
                    </li>
                    <li class="categoryWrapper">
                        <a class="categoryLink" href="#">
                            <img class="categoryImage"
                                 src="/public/images/categories/cat-1-2-2_85x85.jpg"
                                 alt="Basic">
                            Basic
                        </a>
                    </li>
                    <li class="categoryWrapper">
                        <a class="categoryLink" href="#">
                            <img class="categoryImage"
                                 src="/public/images/categories/cat-1-2-3_85x85.jpg"
                                 alt="Upgraded">
                            Upgraded
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <nav class="breadcrumbs">
            <ul class="breadcrumbList">
                <li class="breadcrumbLinkWrapper">
                    <a class="breadcrumbLink" href="/">Basement Remodeling Company</a>
                </li>
                <li class="breadcrumbLinkWrapper">
                    <a class="breadcrumbLink" href="/basement-ideas/">Basement ideas</a>
                </li>
                <li class="breadcrumbLinkWrapper">
                    <a class="breadcrumbLink" href="/basement-ideas/spaces/">Spaces</a>
                </li>
                <li class="breadcrumbLinkWrapper">
                    <span class="breadcrumbLink breadcrumbActive">Bathrooms</span>
                </li>
            </ul>
        </nav>
    </div>
</section>

<section class="filtersWrapper">
    <div class="wrapper headerWrapper">
        <ul class="filterList">
            <li class="filter dropdownFilter filterStyle">STYLE</li>
            <li class="filter dropdownFilter activeFilter filterPrice">PRICE</li>
            <li class="filter dropdownFilter filterSize">SIZE</li>
            <li class="filter dropdownFilter clickedFilter filterWallColor"> WALL COLOR</li>
            <li class="filter dropdownFilter filterFloorMaterial">FLOOR MATERIAL</li>
            <li class="filter dropdownFilter filterFeatures">FEATURES</li>
        </ul>
    </div>
</section>

<section class="ideasActiveFilters">
    <div class="wrapper headerWrapper">
        <ul class="activeFilterList">
            <li class="activeFilter">CONTEMPORARY
                <button class="removeFilterButton">X</button>
            </li>
            <li class="activeFilter">$$
                <button class="removeFilterButton">X</button>
            </li>
            <li class="activeFilter">LVT
                <button class="removeFilterButton">X</button>
            </li>
            <li class="activeFilter">WHITE
                <button class="removeFilterButton">X</button>
            </li>
            <li class="activeFilter">GRAY
                <button class="removeFilterButton">X</button>
            </li>
            <li class="activeFilter">BEIGE
                <button class="removeFilterButton">X</button>
            </li>
        </ul>
    </div>
</section>

<section class="ideasMain">
    <div class="wrapper">
        <button class="ideasSortWrapper">WHAT’S NEW</button>
        <ul class="ideaList">
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image1.webp,
                                    /public/images/temp/ideas_page-image1@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image1.jpg"
                         srcset="/public/images/temp/ideas_page-image1.jpg,
                                 /public/images/temp/ideas_page-image1@2x.jpg 2x"
                         alt="Basement remodel in Rockville, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement remodel in Rockville, MD</h3>
                <strong class="ideaAuthor">By Leigh designs</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image2.webp,
                                    /public/images/temp/ideas_page-image2@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image2.jpg"
                         srcset="/public/images/temp/ideas_page-image2.jpg,
                                 /public/images/temp/ideas_page-image2@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement Bathroom Remodel in Silver Spring, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image3.webp,
                                    /public/images/temp/ideas_page-image3@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image3.jpg"
                         srcset="/public/images/temp/ideas_page-image3.jpg,
                                 /public/images/temp/ideas_page-image3@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement Bathroom Remodel in Silver Spring, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image4.webp,
                                    /public/images/temp/ideas_page-image4@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image4.jpg"
                         srcset="/public/images/temp/ideas_page-image4.jpg,
                                 /public/images/temp/ideas_page-image4@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement Bathroom Remodel in Silver Spring, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image5.webp,
                                    /public/images/temp/ideas_page-image5@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image5.jpg"
                         srcset="/public/images/temp/ideas_page-image5.jpg,
                                 /public/images/temp/ideas_page-image5@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement Bathroom Remodel in Silver Spring, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image6.webp,
                                    /public/images/temp/ideas_page-image6@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image6.jpg"
                         srcset="/public/images/temp/ideas_page-image6.jpg,
                                 /public/images/temp/ideas_page-image6@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image7.webp,
                                    /public/images/temp/ideas_page-image7@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image7.jpg"
                         srcset="/public/images/temp/ideas_page-image7.jpg,
                                 /public/images/temp/ideas_page-image7@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement remodel in Rockville, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image8.webp,
                                    /public/images/temp/ideas_page-image8@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image8.jpg"
                         srcset="/public/images/temp/ideas_page-image8.jpg,
                                 /public/images/temp/ideas_page-image8@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement Bathroom Remodel in Silver Spring, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image9.webp,
                                    /public/images/temp/ideas_page-image9@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image9.jpg"
                         srcset="/public/images/temp/ideas_page-image9.jpg,
                                 /public/images/temp/ideas_page-image9@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement Bathroom Remodel in Silver Spring, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image10.webp,
                                    /public/images/temp/ideas_page-image10@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image10.jpg"
                         srcset="/public/images/temp/ideas_page-image10.jpg,
                                 /public/images/temp/ideas_page-image10@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement Bathroom Remodel in Silver Spring, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image11.webp,
                                    /public/images/temp/ideas_page-image11@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image11.jpg"
                         srcset="/public/images/temp/ideas_page-image11.jpg,
                                 /public/images/temp/ideas_page-image11@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement remodel in Rockville, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image12.webp,
                                    /public/images/temp/ideas_page-image12@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image12.jpg"
                         srcset="/public/images/temp/ideas_page-image12.jpg,
                                 /public/images/temp/ideas_page-image12@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image13.webp,
                                    /public/images/temp/ideas_page-image13@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image13.jpg"
                         srcset="/public/images/temp/ideas_page-image13.jpg,
                                 /public/images/temp/ideas_page-image13@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement remodel in Rockville, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image14.webp,
                                    /public/images/temp/ideas_page-image14@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image14.jpg"
                         srcset="/public/images/temp/ideas_page-image14.jpg,
                                 /public/images/temp/ideas_page-image14@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image15.webp,
                                    /public/images/temp/ideas_page-image15@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image15.jpg"
                         srcset="/public/images/temp/ideas_page-image15.jpg,
                                 /public/images/temp/ideas_page-image15@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement remodel in Rockville, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image16.webp,
                                    /public/images/temp/ideas_page-image16@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image16.jpg"
                         srcset="/public/images/temp/ideas_page-image16.jpg,
                                 /public/images/temp/ideas_page-image16@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement Bathroom Remodel in Silver Spring, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image17.webp,
                                    /public/images/temp/ideas_page-image17@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image17.jpg"
                         srcset="/public/images/temp/ideas_page-image17.jpg,
                                 /public/images/temp/ideas_page-image17@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement Bathroom Remodel in Silver Spring, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image18.webp,
                                    /public/images/temp/ideas_page-image18@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image18.jpg"
                         srcset="/public/images/temp/ideas_page-image18.jpg,
                                 /public/images/temp/ideas_page-image18@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement Bathroom Remodel in Silver Spring, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image19.webp,
                                    /public/images/temp/ideas_page-image19@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image19.jpg"
                         srcset="/public/images/temp/ideas_page-image19.jpg,
                                 /public/images/temp/ideas_page-image19@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement Bathroom Remodel in Silver Spring, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
            <li class="ideaWrapper">
                <picture class="ideaPhoto">
                    <source srcset="/public/images/temp/ideas_page-image1.webp,
                                    /public/images/temp/ideas_page-image1@2x.webp 2x"
                            type="image/webp">
                    <img class="ideaPhoto"
                         src="/public/images/temp/ideas_page-image1.jpg"
                         srcset="/public/images/temp/ideas_page-image1.jpg,
                                 /public/images/temp/ideas_page-image1@2x.jpg 2x"
                         alt="Basement Bathroom Remodel in Silver Spring, MD">
                </picture>
                <button class="saveIdea">SAVE TO COLLECTION</button>
                <h3 class="ideaTitle">Basement Bathroom Remodel in Silver Spring, MD</h3>
                <strong class="ideaAuthor">By Terra Trellis</strong>
            </li>
        </ul>
        <button class="showMoreButton">SHOW MORE</button>
    </div>
</section>

<section class="ideasFooter">
    <div class="wrapper headerWrapper">
        <h2>Basement Remodeling Ideas</h2>
        <p>For the ultimate in entertainment, consider installing a premium home theater! With authentic movie seats, theater-style carpet, walls, and a recessed ceiling to hold your deluxe sound system, you and your family will feel like you are out for a night on the town.</p>
        <p>Like pocket doors, interior sliding barn doors are a rustic alternative to the traditional swinging door format. Interior barn style doors are made of virtually any material you can think of, from iron to steel, but most prefer the timeless look of a weathered set of double barn doors. Barn doors make great focal points by framing the beautiful room behind them on both sides, lending geometrical symmetry to the overall floorplan.</p>
        <p>Or, perhaps you would like to convey a more family-oriented design with soft lighting, modern furniture and casual artwork? Either way, our design experts can make all of your home theater basement ideas come true! Plus, you’ll always have the best seat!</p>
    </div>
</section>