<ul class="offerList">
    <li class="offerWrapper activeOffer" data-offer="0" data-id="3128">
        <strong class="offerPercent"><em class="percentNum">0</em>%</strong>
        <strong class="offerPeriod">12 months</strong>
        <span class="offerAdditional">No interest/no payments*</span>
        <span class="offerAdditional">84 months term**</span>
    </li>
    <li class="offerWrapper" data-offer="1" data-id="4188">
        <strong class="offerPercent"><em class="percentNum">0</em>%</strong>
        <strong class="offerPeriod">18 months</strong>
        <span class="offerAdditional">No interest/no payments*</span>
        <span class="offerAdditional">84 months term**</span>
    </li>
    <li class="offerWrapper" data-offer="2" data-id="1184">
        <strong class="offerPercent"><em class="percentNum">5</em><em class="percentDot">.99</em>%</strong>
        <strong class="offerPeriod">7 years</strong>
        <span class="offerAdditional">Reduced rate apr**</span>
    </li>
    <li class="offerWrapper" data-offer="3" data-id="1207">
        <strong class="offerPercent"><em class="percentNum">7</em><em class="percentDot">.99</em>%</strong>
        <strong class="offerPeriod">10 years</strong>
        <span class="offerAdditional">Reduced rate apr**</span>
    </li>
</ul>