<header>
    <div class="wrapper headerWrapper rowLeftFlex">
        <a class="headerLogoLink" href="#">
            <picture class="headerLogo">
                <source srcset="/public/images/logo.webp,
                                        /public/images/logo@2x.webp 2x,
                                        /public/images/logo@3x.webp 3x,
                                        /public/images/logo@4x.webp 4x"
                        type="image/webp">
                <img class="headerLogo"
                     src="/public/images/logo.png"
                     srcset="/public/images/logo.png,
                                     /public/images/logo@2x.png 2x,
                                     /public/images/logo@3x.png 3x,
                                     /public/images/logo@4x.png 4x"
                     alt="Basement remodeling Logo">
            </picture>
        </a>
        <nav class="headerMenu">
            <ul class="menuList mainMenuList">
                <li class="menuLinkWrapper">
                    <a class="menuLink activeLink" href="#">PORTFOLIO</a>
                </li>
                <li class="menuLinkWrapper">
                    <a class="menuLink" href="#">BASEMENT IDEAS</a>
                </li>
                <li class="menuLinkWrapper">
                    <span class="menuLink dropdownMenuLink">HOW IT WORKS</span>
                    <ul class="menuList subMenuList">
                        <li class="menuLinkWrapper">
                            <a class="menuLink" href="/how-it-works/our-process/">OUR PROCESS</a>
                        </li>
                        <li class="menuLinkWrapper">
                            <a class="menuLink" href="/how-it-works/contractor-faq/">CONTRACTOR FAQ</a>
                        </li>
                        <li class="menuLinkWrapper">
                            <a class="menuLink" href="/how-it-works/basement-tips/">BASEMENT TIPS (BLOG)</a>
                        </li>
                    </ul>
                </li>
                <li class="menuLinkWrapper">
                    <span class="menuLink dropdownMenuLink">ABOUT US</span>
                    <ul class="menuList subMenuList">
                        <li class="menuLinkWrapper">
                            <a class="menuLink" href="/about-us/testimonials/">TESTIMONIALS</a>
                        </li>
                        <li class="menuLinkWrapper">
                            <a class="menuLink" href="/about-us/in-the-press/">IN THE PRESS</a>
                        </li>
                        <li class="menuLinkWrapper">
                            <a class="menuLink" href="/about-us/financing-offers/">FINANCING OFFERS</a>
                        </li>
                        <li class="menuLinkWrapper">
                            <a class="menuLink" href="/about-us/contact-us/">CONTACT US</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="headerButtons">
                <button class="onlineQuoteButton">GET ONLINE QUOTE</button>
                <button class="phoneButton">301-798-4444</button>
            </div>
        </nav>
        <button class="headerLoginButton">SIGN IN</button>
        <button class="headerSandwichButton">SHOW MENU</button>
    </div>
</header>