header {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 96px;
    background: $bgMainColor;
    @extend %animation;

    .headerLogoLink {
        margin-right: auto;
    }

    .headerMenu {
        position: fixed;
        top: 97px;
        right: -210px;
        height: 100vh;
        width: 210px;
        background: $bgMainColor;
        @extend %animation;
        @include minWidth(768) {
            position: static;
            top: auto;
            right: auto;
            height: auto;
            width: auto;
            background: transparent;
        }
        @include minWidth(1440) {
            display: flex;
            flex-direction: row;
            align-items: baseline;
        }
    }

    &.activeMenu .headerMenu {
        @extend %responseMenu;
        @include minWidth(768) {
            &:before {
                display: none;
            }
        }
    }

    .menuList {
        padding-left: 0;
        list-style-type: none;
        .menuLinkWrapper {
            height: 30px;
            overflow: hidden;
            @extend %animation;
            &.activeDropdownLink {
                height: auto;
                .menuLink {
                    &:after {
                        transform: scale(0.8) rotate(270deg);
                        @include minWidth(1440) {
                            transform: translateY(-50%);
                        }
                    }
                }
            }
            @include minWidth(1440) {
                &:hover {
                    & .subMenuList {
                        opacity: 1;
                        z-index: 10;
                        margin-top: 0;
                        visibility: visible;
                        pointer-events: auto;
                    }
                }
            }
        }
        .menuLink {
            display: flex;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
            box-sizing: border-box;
            height: 30px;
            font-size: 13px;
            font-weight: 700;
            color: $whiteColor;
            cursor: pointer;
            @extend %animation;
            &.activeLink {
                color: $blueColor;
                @include minWidth(1440) {
                    border-bottom: 1px solid $blueColor;
                }
            }
            &:hover {
                background: darken($bgMainColor, 5%)
            }
            @include minWidth(1440) {
                margin-right: 15px;
                padding-left: 0;
                padding-right: 0;
                height: auto;
                overflow: hidden;
                &:hover {
                    background: none;
                }
            }
            &:hover {
                color: $blueColor;
            }
        }
        .dropdownMenuLink {
            &:after {
                @extend %buttonIconAfter;
                @extend %arrowIcon;
                @extend %animation;
                transform: scale(0.8) rotate(90deg);
                background: $whiteColor;
                @include minWidth(1440) {
                    display: none;
                }
            }
            &:hover {
                color: $whiteColor;
                background: transparent;
            }
        }
    }

    .mainMenuList {
        @extend %animation;
        @include minWidth(768) {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 10px;
            padding-bottom: 10px;
            position: fixed;
            top: 97px;
            right: -210px;
            height: 100vh;
            width: 210px;
            background: $bgMainColor, 5%;
        }
        @include minWidth(1440) {
            display: flex;
            margin-top: 0;
            padding-top: 0;
            padding-bottom: 0;
            position: static;
            top: auto;
            right: auto;
            width: auto;
            height: auto;
            background: transparent;
        }
    }

    &.activeMenu .mainMenuList {
        @extend %responseMenu;
        &:before {
            display: none;
        }
        @include minWidth(768) {
            &:before {
                display: block;
            }
        }
        @include minWidth(1440) {
            &:before {
                display: none;
            }
        }
    }

    .subMenuList {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        .menuLink {
            padding-left: 40px;
            color: $greyColor;
        }
        @include minWidth(1440) {
            opacity: 0;
            z-index: -10;
            margin-top: 50px;
            visibility: hidden;
            position: absolute;
            transform: translateY(10px);
            padding-top: 10px;
            padding-bottom: 10px;
            background: $whiteColor;
            border-radius: 5px;
            box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.25);
            transition: all 0.15s ease-in;
            pointer-events: none;
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: -4px;
                left: 20px;
                width: 10px;
                height: 10px;
                background: $whiteColor;
                transform: rotate(45deg);
            }
            .menuLinkWrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30px;
                @include minWidth(1440) {
                    height: auto;
                }
                .menuLink {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100%;
                    height: 30px;
                    margin-right: 0;
                    padding-left: 20px;
                    padding-right: 40px;
                    &:hover {
                        background: $subMenuHoverColor;
                    }
                }
                .activeLink {
                    color: $blueColor;
                    border-bottom: none;
                    cursor: default;
                    &:hover {
                        background: transparent;
                    }
                    &:after {
                        content: "";
                        opacity: 1;
                        position: absolute;
                        right: 20px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 7px;
                        height: 7px;
                        display: block;
                        border-radius: 50%;
                        background: $blueColor;
                        transition: all 0.15s ease-in;
                    }
                }
            }
        }
    }

    .headerButtons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .onlineQuoteButton {
            @extend %blueButton2;
            margin-bottom: 10px;
        }
        .phoneButton {
            @extend %yellowButton2;
            &:before {
                @extend %buttonIconBefore;
                @extend %phoneIcon;
                background: $yellowColor;
            }
            &:hover {
                &:before {
                    background: $whiteColor;
                }
            }
        }
        @include minWidth(768) {
            flex-direction: row;
            .onlineQuoteButton {
                margin-bottom: 0;
                margin-right: 15px;
            }
        }
    }

    .headerLoginButton {
        position: relative;
        margin-left: 15px;
        width: 27px;
        height: 27px;
        border: 2px solid $whiteColor;
        border-radius: 50%;
        font-size: 0;
        background: $avatarColor;
        overflow: hidden;
        cursor: pointer;
        outline: none;
        &:before {
            @extend %avatarIcon;
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translateX(-50%);
            content: "";
            display: block;
            background: $darkGreyColor;
        }
        &:hover {
            &:before {
                background: $blackColor;
            }
        }
    }

    .headerSandwichButton {
        position: relative;
        margin-left: 15px;
        width: 20px;
        height: 16px;
        font-size: 0;
        border: none;
        background: transparent;
        outline: none;
        cursor: pointer;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 20px;
            height: 2px;
            background: $whiteColor;
            box-shadow: 0 7px 0 0 $whiteColor, 0 14px 0 0 $whiteColor;
            @extend %animation;
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 20px;
            height: 2px;
            background: $whiteColor;
            box-shadow: 0 7px 0 0 $whiteColor, 0 14px 0 0 $whiteColor;
            @extend %animation;
        }
        @include minWidth(1440) {
            display: none;
        }
    }

    &.activeMenu .headerSandwichButton {
        &:before {
            box-shadow: none;
            transform: translateY(7px) rotate(45deg);
        }
        &:after {
            box-shadow: none;
            transform: translateY(7px) rotate(-45deg);
        }
    }

}