.testimonialBlock {
    .textBlock {
        margin: 15px 0 0;
    }
    .testimonialList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        list-style-type: none;
        .testimonialWrapper {
            display: flex;
            flex-direction: row;
            margin-bottom: 8px;
            width: 312px;
            background: $whiteColor;
            @extend %shadow;
            @include minWidth(480) {
                flex-direction: column;
                width: 228px;
            }
            @include minWidth(768) {
                width: 236px;
            }
            @include minWidth(1000) {
                width: 314px;
            }
            @include minWidth(1440) {
                width: 330px;
            }
            .testimonialImageLink {
                display: block;
                width: 100%;
                .testimonialImage {
                    display: block;
                    width: 120px;
                    height: 83px;
                    background-color: $bgSubColor;
                    background-image: url('/public/images/default-image.svg');
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 105px;
                    @include minWidth(480) {
                        width: 228px;
                        height: 123px;
                        background-size: 200px;
                    }
                    @include minWidth(768) {
                        width: 236px;
                        height: 123px;
                        background-size: 208px;
                    }
                    @include minWidth(1000) {
                        width: 314px;
                        height: 173px;
                        background-size: 292px;
                    }
                    @include minWidth(1440) {
                        width: 330px;
                        height: 173px;
                        background-size: 310px;
                    }
                }
            }
            .testimonialContent {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 8px;
                box-sizing: border-box;
                @include minWidth(480) {
                    justify-content: flex-start;
                    padding: 15px;
                }
                @include minWidth(1000) {
                    padding: 20px;
                }
                .testimonialAuthor {
                    font-size: 9px;
                    line-height: 125%;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: $blackColor;
                    &:hover {
                        color: $blueColor;
                        text-decoration: underline;
                    }
                    @include minWidth(480) {
                        font-size: 12px;
                    }
                    @include minWidth(1000) {
                        font-size: 17px;
                    }
                    @include minWidth(1440) {
                        font-size: 18px;
                    }
                }
                .testimonialRating {
                    width: 44px;
                    height: 10px;
                    background-size: 8px;
                    background: url('/public/images/star-icon.svg') space;
                    &[data-rating="1"] {
                        width: 9px;
                    }
                    &[data-rating="2"] {
                        width: 18px;
                    }
                    &[data-rating="3"] {
                        width: 27px;
                    }
                    &[data-rating="4"] {
                        width: 36px;
                    }
                }
                .testimonialAnnotation {
                    margin-top: 2px;
                    margin-bottom: 0;
                    font-size: 8px;
                    line-height: 125%;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow-y: hidden;
                    @include minWidth(480) {
                        font-size: 10px;
                        -webkit-line-clamp: 5;
                    }
                    @include minWidth(1000) {
                        font-size: 15px;
                        -webkit-line-clamp: 6;
                    }
                }
                .testimonialData {
                    margin-top: 2px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .testimonialDate {
                        font-size: 9px;
                        line-height: 125%;
                        color: $greyColor;
                        @include minWidth(480) {
                            font-size: 11px;
                        }
                        @include minWidth(1000) {
                            font-size: 13px;
                        }
                    }
                    .testimonialState {
                        font-size: 9px;
                        line-height: 125%;
                        letter-spacing: 0.05em;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: $greyColor;
                        @include minWidth(480) {
                            font-size: 11px;
                        }
                        @include minWidth(1000) {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}