<section class="modalSection">
    <div class="modalBlurWrapper"></div>
    <div class="modalMainWrapper bookingToolModal">
        <div class="modalContentWrapper2">
            {{> forms/booking-tool.form }}
            <button class="closeButton" type="button">CLOSE MODAL</button>
        </div>
    </div>
</section>