<section class="modalSection">
    <div class="modalBlurWrapper"></div>
    <div class="modalMainWrapper bookingToolModal">
        <div class="modalContentWrapper2">

            <button class="closeButton" type="button">CLOSE MODAL</button>
        </div>
    </div>
</section>