.bookingToolModal {
    @include modal(293px, 40px);
    @include minWidth(480) {
        @include modal(438px, 40px);
    }
    @include minWidth(768) {
        @include modal(638px, 40px);
    }
    .formWrapper {
        display: flex;
        flex-direction: column;
    }
    .modalTitle {
        margin: 0 0 15px 0;
        font-size: 9px;
        @include minWidth(480) {
            margin: 0 0 15px 0;
            font-size: 12px;
        }
        @include minWidth(768) {
            font-size: 15px;
        }
    }
    .nobr {
        white-space: nowrap;
    }
    .monthsWrapper {
        margin: 0 auto;
        .monthsButton {
            position: relative;
            width: 116px;
            height: 26px;
            line-height: 24px;
            font-size: 9px;
            border: 1px solid $bgSubColor;
            border-radius: 5px;
            background: transparent;
            box-sizing: border-box;
            text-align: center;
            @include minWidth(480) {
                padding: 12px 30px;
                font-size: 10px;
            }
            &:after {
                @extend %arrowIcon;
                content: "";
                position: absolute;
                top: 50%;
                right: 7px;
                transform: translateY(-50%) rotate(90deg) scale(0.7);
                background: $bgSubColor;
            }
            &.activeButton {
                border-color: $blueColor;
                .prevMonth {
                    @extend %arrowIcon;
                    position: absolute;
                    top: 50%;
                    left: 5px;
                    transform: translateY(-50%) scale(-0.7);
                    display: block;
                    font-size: 0;
                    border: none;
                    background: $blackColor;
                }
                .nextMonth {
                    @extend %arrowIcon;
                    position: absolute;
                    top: 50%;
                    right: 5px;
                    transform: translateY(-50%) scale(0.7);
                    display: block;
                    font-size: 0;
                    border: none;
                    background: $blackColor;
                }
                &:after {
                    display: none;
                }
            }
            .prevMonth {
                display: none;
            }
            .nextMonth {
                display: none;
            }
        }
    }
}
