.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 9.6em 291.6em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.advantage:before {
      background-position: 0em 0em;
      width: 6.2em;
      height: 5.4em;
  }




  .icon.advantage2:before {
      background-position: 0em -5.4em;
      width: 5em;
      height: 5.4em;
  }




  .icon.advantage3:before {
      background-position: 0em -10.8em;
      width: 4.7em;
      height: 5.4em;
  }




  .icon.advantage4:before {
      background-position: 0em -16.2em;
      width: 5.6em;
      height: 5.5em;
  }




  .icon.advantage5:before {
      background-position: 0em -21.7em;
      width: 5.3em;
      height: 5.4em;
  }




  .icon.advantage6:before {
      background-position: 0em -27.1em;
      width: 4em;
      height: 5.4em;
  }




  .icon.avatar:before {
      background-position: 0em -32.5em;
      width: 1.8em;
      height: 2.1em;
  }




  .icon.button-arrow:before {
      background-position: 0em -34.6em;
      width: 0.7em;
      height: 1.1em;
  }




  .icon.calendary-arrow:before {
      background-position: 0em -35.7em;
      width: 0.9em;
      height: 1.7em;
  }




  .icon.close:before {
      background-position: 0em -37.4em;
      width: 1.3em;
      height: 1.3em;
  }




  .icon.close-bold:before {
      background-position: 0em -38.7em;
      width: 1em;
      height: 1em;
  }




  .icon.confirm:before {
      background-position: 0em -39.7em;
      width: 6em;
      height: 5.9em;
  }




  .icon.decline:before {
      background-position: 0em -45.6em;
      width: 5.9em;
      height: 5.9em;
  }




  .icon.facebook:before {
      background-position: 0em -51.5em;
      width: 1.7em;
      height: 3.4em;
  }




  .icon.facebook-round:before {
      background-position: 0em -54.9em;
      width: 1.8em;
      height: 1.7em;
  }




  .icon.faq:before {
      background-position: 0em -56.6em;
      width: 5.4em;
      height: 5.9em;
  }




  .icon.faq10:before {
      background-position: 0em -62.5em;
      width: 4.8em;
      height: 4.1em;
  }




  .icon.faq11:before {
      background-position: 0em -66.6em;
      width: 3.4em;
      height: 4.1em;
  }




  .icon.faq12:before {
      background-position: 0em -70.7em;
      width: 4.2em;
      height: 5.5em;
  }




  .icon.faq13:before {
      background-position: 0em -76.2em;
      width: 4.1em;
      height: 3.7em;
  }




  .icon.faq14:before {
      background-position: 0em -79.9em;
      width: 4.1em;
      height: 6em;
  }




  .icon.faq15:before {
      background-position: 0em -85.9em;
      width: 5.4em;
      height: 3.3em;
  }




  .icon.faq16:before {
      background-position: 0em -89.2em;
      width: 4.2em;
      height: 4.2em;
  }




  .icon.faq17:before {
      background-position: 0em -93.4em;
      width: 5.1em;
      height: 4.8em;
  }




  .icon.faq18:before {
      background-position: 0em -98.2em;
      width: 4.2em;
      height: 4.9em;
  }




  .icon.faq19:before {
      background-position: 0em -103.1em;
      width: 5em;
      height: 5.7em;
  }




  .icon.faq2:before {
      background-position: 0em -108.8em;
      width: 4.1em;
      height: 4.1em;
  }




  .icon.faq20:before {
      background-position: 0em -112.9em;
      width: 4.1em;
      height: 4em;
  }




  .icon.faq3:before {
      background-position: 0em -116.9em;
      width: 5.2em;
      height: 4.3em;
  }




  .icon.faq4:before {
      background-position: 0em -121.2em;
      width: 4.2em;
      height: 2.6em;
  }




  .icon.faq5:before {
      background-position: 0em -123.8em;
      width: 4.9em;
      height: 4.3em;
  }




  .icon.faq6:before {
      background-position: 0em -128.1em;
      width: 4.1em;
      height: 5.7em;
  }




  .icon.faq7:before {
      background-position: 0em -133.8em;
      width: 5.9em;
      height: 5em;
  }




  .icon.faq8:before {
      background-position: 0em -138.8em;
      width: 4.1em;
      height: 4.1em;
  }




  .icon.faq9:before {
      background-position: 0em -142.9em;
      width: 4.1em;
      height: 3.6em;
  }




  .icon.folders:before {
      background-position: 0em -146.5em;
      width: 2.1em;
      height: 1.7em;
  }




  .icon.instagram-round:before {
      background-position: 0em -148.2em;
      width: 1.7em;
      height: 1.7em;
  }




  .icon.pen:before {
      background-position: 0em -149.9em;
      width: 2.6em;
      height: 2.5em;
  }




  .icon.phone:before {
      background-position: 0em -152.4em;
      width: 1.4em;
      height: 1.5em;
  }




  .icon.pinterest:before {
      background-position: 0em -153.9em;
      width: 2.2em;
      height: 2.9em;
  }




  .icon.pinterest-round:before {
      background-position: 0em -156.8em;
      width: 1.7em;
      height: 1.7em;
  }




  .icon.plus:before {
      background-position: 0em -158.5em;
      width: 2.9em;
      height: 2.9em;
  }




  .icon.process:before {
      background-position: 0em -161.4em;
      width: 5.1em;
      height: 9.6em;
  }




  .icon.process2:before {
      background-position: 0em -171em;
      width: 6.3em;
      height: 9.5em;
  }




  .icon.process3:before {
      background-position: 0em -180.5em;
      width: 9.5em;
      height: 5.6em;
  }




  .icon.process4:before {
      background-position: 0em -186.1em;
      width: 8em;
      height: 8em;
  }




  .icon.process5:before {
      background-position: 0em -194.1em;
      width: 9.1em;
      height: 5.3em;
  }




  .icon.process6:before {
      background-position: 0em -199.4em;
      width: 9.2em;
      height: 8.2em;
  }




  .icon.process7:before {
      background-position: 0em -207.6em;
      width: 9.6em;
      height: 4.4em;
  }




  .icon.save-photo:before {
      background-position: 0em -212em;
      width: 1.8em;
      height: 1.8em;
  }




  .icon.slider-arrow:before {
      background-position: 0em -213.8em;
      width: 1.5em;
      height: 2.6em;
  }




  .icon.star:before {
      background-position: 0em -216.4em;
      width: 1.9em;
      height: 1.9em;
  }




  .icon.table:before {
      background-position: 0em -218.3em;
      width: 4em;
      height: 3.2em;
  }




  .icon.table10:before {
      background-position: 0em -221.5em;
      width: 2.1em;
      height: 3.4em;
  }




  .icon.table11:before {
      background-position: 0em -224.9em;
      width: 2.8em;
      height: 3.4em;
  }




  .icon.table12:before {
      background-position: 0em -228.3em;
      width: 3.1em;
      height: 3em;
  }




  .icon.table13:before {
      background-position: 0em -231.3em;
      width: 3.5em;
      height: 3.5em;
  }




  .icon.table14:before {
      background-position: 0em -234.8em;
      width: 3.4em;
      height: 3.4em;
  }




  .icon.table15:before {
      background-position: 0em -238.2em;
      width: 3.5em;
      height: 3.4em;
  }




  .icon.table16:before {
      background-position: 0em -241.6em;
      width: 3.8em;
      height: 3.4em;
  }




  .icon.table17:before {
      background-position: 0em -245em;
      width: 3.4em;
      height: 3em;
  }




  .icon.table18:before {
      background-position: 0em -248em;
      width: 3.8em;
      height: 2.2em;
  }




  .icon.table19:before {
      background-position: 0em -250.2em;
      width: 4.5em;
      height: 2.7em;
  }




  .icon.table2:before {
      background-position: 0em -252.9em;
      width: 3.1em;
      height: 3.4em;
  }




  .icon.table20:before {
      background-position: 0em -256.3em;
      width: 3.1em;
      height: 2.7em;
  }




  .icon.table21:before {
      background-position: 0em -259em;
      width: 3.2em;
      height: 3.1em;
  }




  .icon.table3:before {
      background-position: 0em -262.1em;
      width: 4.1em;
      height: 4.1em;
  }




  .icon.table4:before {
      background-position: 0em -266.2em;
      width: 3.2em;
      height: 3.4em;
  }




  .icon.table5:before {
      background-position: 0em -269.6em;
      width: 3.5em;
      height: 3.4em;
  }




  .icon.table6:before {
      background-position: 0em -273em;
      width: 2.5em;
      height: 3.4em;
  }




  .icon.table7:before {
      background-position: 0em -276.4em;
      width: 3em;
      height: 3.5em;
  }




  .icon.table8:before {
      background-position: 0em -279.9em;
      width: 3.7em;
      height: 3.4em;
  }




  .icon.table9:before {
      background-position: 0em -283.3em;
      width: 3.5em;
      height: 3.4em;
  }




  .icon.twitter:before {
      background-position: 0em -286.7em;
      width: 2.6em;
      height: 2.2em;
  }




  .icon.whatsapp:before {
      background-position: 0em -288.9em;
      width: 2.7em;
      height: 2.7em;
  }





