<form class="zipCodeForm hiddenWrapper">
    <label class="zipCodeLabel">Enter your ZIP code</label>
    <input class="zipCodeField" name="zipCode" type="text"
           placeholder="Enter your ZIP code">
    <button class="zipCodeButton" type="button">GO</button>
    <div class="zipCodeLoader hiddenLoader"></div>
</form>