<section class="designSection homeSection">
    <div class="wrapper headerWrapper maxPadding">
        <h2 class="sectionTitle">Basement Design and 3D Visualization</h2>
        <p class="textBlock">Let our design software technicians help you visualize your future space with 3D generations of beautiful basement design plans. Take a look at some of our most recent 3D visualization basement remodeling and basement finishing projects below.</p>
    </div>
    <div class="designWrapper">
        <div class="reviewsCarouselWrapper">
            <button class="carouselArrow carouselLeftArrow hiddenArrow">Previous testimonial</button>
            <div class="carouselActionWrapper">
                <div class="carouselWrapper">
                    <ul class="cardList">
                        <li class="cardWrapper">
                            <a class="cardLink" href="#">
                                <img class="cardImage" alt="Design image"
                                     src="/public/images/home/design/design-1_1440.jpg">
                            </a>
                        </li>
                        <li class="cardWrapper">
                            <a class="cardLink" href="#">
                                <img class="cardImage" alt="Design image"
                                     src="/public/images/home/design/design-2_1440.jpg">
                            </a>
                        </li>
                        <li class="cardWrapper">
                            <a class="cardLink" href="#">
                                <img class="cardImage" alt="Design image"
                                     src="/public/images/home/design/design-3_1440.jpg">
                            </a>
                        </li>
                        <li class="cardWrapper">
                            <a class="cardLink" href="#">
                                <img class="cardImage" alt="Design image"
                                     src="/public/images/home/design/design-4_1440.jpg">
                            </a>
                        </li>
                        <li class="cardWrapper">
                            <a class="cardLink" href="#">
                                <img class="cardImage" alt="Design image"
                                     src="/public/images/home/design/design-5_1440.jpg">
                            </a>
                        </li>
                        <li class="cardWrapper">
                            <a class="cardLink" href="#">
                                <img class="cardImage" alt="Design image"
                                     src="/public/images/home/design/design-6_1440.jpg">
                            </a>
                        </li>
                    </ul>
                </div>
                <a class="designButton" href="#">DESIGN SERVICES</a>
            </div>
            <button class="carouselArrow carouselRightArrow">Next testimonial</button>
        </div>
    </div>
</section>