.designSection.homeSection {
    background: $gradient2;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sectionTitle {
        text-align: center;
    }
    .textBlock {
        @include minWidth(768) {
            font-size: 12px;
        }
        @include minWidth(1000) {
            font-size: 15px;
        }
    }
    .designButton {
        @extend %blueButton;
        margin-top: 20px;
        &:after {
            @extend %buttonIconAfter;
            @extend %arrowIcon;
            background: $white;
        }
    }
}
