<section class="designSection homeSection">
    <div class="wrapper headerWrapper maxPadding">
        <h2 class="sectionTitle">Basement Design and 3D Visualization</h2>
        <p class="textBlock">Let our design software technicians help you visualize your future space with 3D generations of beautiful basement design plans. Take a look at some of our most recent 3D visualization basement remodeling and basement finishing projects below.</p>
        <a class="designButton" href="#">DESIGN SERVICES</a>
    </div>
</section>