<ul class="socialLinks">
    <li class="socialLinkWrapper">
        <a class="socialLink logoSprite angiesListLogo" href="#" target="_blank">Angies list</a>
    </li>
    <li class="socialLinkWrapper backgroundLogoWrapper">
        <a class="socialLink logoSprite houzzLogo" href="#" target="_blank">houzz</a>
    </li>
    <li class="socialLinkWrapper">
        <a class="socialLink logoSprite googleLogo" href="#" target="_blank">Google</a>
    </li>
    <li class="socialLinkWrapper">
        <a class="socialLink logoSprite facebookLogo" href="#" target="_blank">Facebook</a>
    </li>
    <li class="socialLinkWrapper backgroundLogoWrapper">
        <a class="socialLink logoSprite porchLogo" href="#" target="_blank">Porch</a>
    </li>
    <li class="socialLinkWrapper">
        <a class="socialLink logoSprite homeAdvisorLogo" href="#" target="_blank">Home advisor</a>
    </li>
</ul>