<ul class="socialLinks">
    <li class="socialLinkWrapper">
        <a class="socialLink logoSprite angiesListLogo" rel="nofollow" title="Angie`s list"
           href="https://member.angieslist.com/member/store/2346351/" target="_blank">Angie`s list</a>
    </li>
    <li class="socialLinkWrapper backgroundLogoWrapper">
        <a class="socialLink logoSprite houzzLogo" rel="nofollow" title="houzz"
           href="https://www.houzz.com/professionals/general-contractors/basement-masters-pfvwus-pf~847553638"
           target="_blank">houzz</a>
    </li>
    <li class="socialLinkWrapper">
        <a class="socialLink logoSprite googleLogo" rel="nofollow" title="Google"
           href="https://search.google.com/local/writereview?placeid=ChIJbSYsElAGyIkRh36j6z1FtFc"
           target="_blank">Google</a>
    </li>
    <li class="socialLinkWrapper">
        <a class="socialLink logoSprite facebookLogo" rel="nofollow" title="Facebook"
           href="https://www.facebook.com/pg/BasementRemodelingCom/reviews/"
           target="_blank">Facebook</a>
    </li>
    <li class="socialLinkWrapper backgroundLogoWrapper">
        <a class="socialLink logoSprite porchLogo" rel="nofollow" title="Porch"
           href="https://porch.com/rockville-md/remodeling-contractors/basement-remodeling-company-164612476/pp"
           target="_blank">Porch</a>
    </li>
    <li class="socialLinkWrapper">
        <a class="socialLink logoSprite homeAdvisorLogo" rel="nofollow" title="Home advisor"
           href="#" target="_blank">Home advisor</a>
    </li>
</ul>