<section class="newsSection homeSection">
    <div class="wrapper maxWrapper">
        <picture>
            <source srcset="/public/images/news_320.jpg, /public/images/news_320@2x.jpg 2x"
                    media="(max-width: 479px)" type="image/jpeg">
            <source srcset="/public/images/news_480.jpg, /public/images/news_480@2x.jpg 2x"
                    media="(max-width: 767px)" type="image/jpeg">
            <source srcset="/public/images/news_768.jpg, /public/images/news_768@2x.jpg 2x"
                    media="(max-width: 999px)" type="image/jpeg">
            <source srcset="/public/images/news_1000.jpg, /public/images/news_1000@2x.jpg 2x"
                    media="(max-width: 1439px)" type="image/jpeg">
            <source srcset="/public/images/news_1440.jpg, /public/images/news_1440@2x.jpg 2x"
                    media="(min-width: 1440px)" type="image/jpeg">
            <img class="newsImage" alt="News cover" src="/public/images/news_1440.jpg"
                 srcset="/public/images/news_1440.jpg, /public/images/news_1440@2x.jpg 2x">
        </picture>
        <div class="newsWrapper">
            <h2 class="sectionTitle">Our News</h2>
            <em class="newsDate">{{{ news.articleDate }}}</em>
            <p class="newsText">{{{ news.article }}}</p>
            <div class="socialLinksWrapper">
                <p class="linksAnnotation">Also follow us on</p>
                <ul class="socialList">
                    <li class="socialLinkWrapper">
                        <a class="socialLink instagramLink" href="#" target="_blank">Instagram</a>
                    </li>
                    <li class="socialLinkWrapper">
                        <a class="socialLink facebookLink" href="#" target="_blank">Facebook</a>
                    </li>
                    <li class="socialLinkWrapper">
                        <a class="socialLink pinterestLink" href="#" target="_blank">Pinterest</a>
                    </li>
                </ul>
            </div>
            <span class="newsYear">{{{ news.articleYear }}}</span>
        </div>
    </div>
</section>