<section class="mapSection localSection">
    <div class="wrapper mapWrapper">
        <h2 class="sectionTitle">Basement Finishing & Remodeling Services with Fast Turnaround Times!</h2>
        <p class="textBlock">At Basement Remodeling Company, we provide our services cities all across Maryland, including Ellicott City (Howard County)! Basement Remodeling Company has an extensive proven track record, affordable prices, lightning-fast turnaround times, and team of courteous professionals—what more could you want?</p>
        <p class="textBlock">Click the button below to find out more about what we do, how we do it, and why we're the basement contractor you need!</p>
        <button class="mapLearnMoreButton" type="button">LEARN MORE</button>
    </div>
</section>