<section class="modalSection signInModal">
    <div class="modalBlurWrapper"></div>
    <div class="modalMainWrapper signInWrapper">
        <div class="modalContentWrapper2">
            {{> forms/sign-in.form }}
            <button class="closeButton">CLOSE MODAL</button>
        </div>
    </div>
</section>